/* Basics
===================== */
@font-face {
    font-family: 'PT Sans';
    src: url('../fonts/PTSans-Regular.eot');
    src: url('../fonts/PTSans-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/PTSans-Regular.woff2') format('woff2'),
    url('../fonts/PTSans-Regular.woff') format('woff');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'PT Sans';
    src: url('../fonts/PTSans-Bold.eot');
    src: url('../fonts/PTSans-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/PTSans-Bold.woff2') format('woff2'),
    url('../fonts/PTSans-Bold.woff') format('woff');
    font-style: normal;
    font-weight: bold;
}

body {
    font-size: 15px;
    color: #000000;
    font-family: 'PT Sans', sans-serif;
    background: #e4e8ec;
}

.bo-content {
    background-color: #fff;
    border-radius: 6px;
    padding: 15px;
    margin: 9px 0;
}
.bo-content-reverse {
    background-color: #e4e8ec;
    border-radius: 6px;
    padding: 10px;
    margin-bottom: 10px;
}
.bo-content-muted {
    background-color: #edf0f4;
}
.bo-content-block {
    padding: 15px;
    min-height: 400px;
}

.bo-header a {
    margin-bottom: 4px;
}

.bo-widgetbox {
    margin-top: 60px;
}

.bo-main-block {
    padding-top: 20px;
}

.forceShow {
    visibility: visible!important;
}

.bo-inline {
    display: inline-block;
}

/* Text types
===================== */
.bo-heading {
    font-size: 32px;
    font-weight: 500;
    margin: 10px 0 10px 0;
    color: #263443;
}

.bo-title {
    font-size: 1.14em;
    font-weight: 500;
    color: #3584d9;
}

.bo-small {
    font-size: 13px;
}

.bo-link {
    display: inline-block;
    cursor: pointer;
    padding: 2px 12px;
    opacity: 0.8;
    color: #5e7287;
    background-color: #fff;
    border-radius: 4px;
    text-align: center;
}
.bo-link:hover, .bo-link:focus {
    opacity: 1;
    color: #5e7287;
    text-decoration: none;
}
.bo-link .fa {
    width: 22px;
    text-align: center;
}
.bo-link-sub {
    background-color: #edf0f4;
}

.bo-totals > span {
    font-weight: bold;
}

/* Panels
===================== */
.bo-panel {
    background-color: #ffffff;
    border-radius: 6px;
    overflow: hidden;
}

.bo-panel-collapsible {
    background-color: transparent;
}
.bo-panel-collapsible .panel-body {
    background-color: #ffffff;
}
.bo-panel-collapsible .panel-heading {
    padding: 0px;
}
.bo-panel-collapsible .panel-heading > a {
    color: #5e7287;
    padding: 10px 15px;
    display: block;
    cursor: pointer;
    text-decoration: none;
}

.bo-panel-toggle > .fa {
    color: #5e7287;
    opacity: 0.8;
    width: 22px;
    text-align: center;
    font-size: 18px;
    vertical-align: middle;
}
.bo-panel-toggle:hover > .fa,
.bo-panel-collapsible a:focus > .fa {
    opacity: 1;
}

.bo-panel-toggle .fa-plus-square {
    display: none;
}
.bo-panel-toggle.collapsed .fa-minus-square {
    display: none;
}
.bo-panel-toggle.collapsed .fa-plus-square {
    display: inline-block;
}

.bo-panel-sub {
    border: 5px solid #edf0f4;
    background-color: #edf0f4;
    border-left: 0;
    border-right: 0;
}
.bo-panel-sub .panel-body {
    background-color: #fff;
    border-radius: 4px;
    margin: 6px 8px;
}
.bo-panel-sub .panel-body:first-child {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    margin-top: 0;
}
.bo-panel-sub .panel-body:last-child {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    margin-bottom: 0;
}

.bo-panel-linked .panel-body:hover {
    cursor: pointer;
    background-color: #edf0f4;
}
.bo-panel-linked .bo-panel-sub .panel-body:hover,
.bo-panel-linked .bo-panel-sub .panel-body.active {
    box-shadow: 0 0 0 2px #fff;
    background-color: #fff;
}

.bo-panel-row {
    margin: 0;
}

.bo-info span {
    margin-right: 15px;
}
.bo-info .fa {
    color: #b3bcce;
    width: 22px;
    text-align: center;
}
.bo-totals > span {
    display: inline-block;
    text-align: right;
    font-size: 1.2em;
}

.bo-panel-event {
    padding: 0;
}
.bo-panel-event > div {
    padding: 15px;
}
.bo-panel-invoice {
    padding: 5px 0;
}
.bo-panel-invoice > div {
    padding: 5px 15px;
}

.bo-panel-sub .panel-body.bo-panel-section-disabled {
    box-shadow: none!important;
    background-color: #edf0f4!important;
    cursor: default;
}

.bo-panel-table > div {
    vertical-align: top;
}

/* Buttons
===================== */
.bo-button {
    display: inline-block;
    border-radius: 6px;
    outline: none!important;
}
.bo-button > .btn {
    border: none!important;
    outline: none!important;
    height: 100%;
    padding: 7px 20px;
    box-shadow: none!important;
}
.bo-button > .btn span {
    opacity: 0.8;
}
.bo-button > .btn:hover span,
.bo-button > .btn:focus span,
.bo-button > .btn:active span {
    opacity: 1;
}
.bo-button > .btn[disabled] > span {
    opacity: 0.8;
}
.bo-button .fa {
    width: 22px;
    text-align: center;
}

.bo-button-main {
    border: 5px solid #fff;
    background-color: #fff;
    height: 45px;
}

.bo-button-sub {
    background-color: #edf0f4;
    height: 35px;
    border-radius: 4px;
    margin-bottom: 8px;
}

.bo-button-overlay {
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
    box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
}

.bo-button-overlay > .btn {
    padding: 7px 10px;
}

/* Forms & Input groups
===================== */
.bo-input {
    border: 5px solid #fff;
    border-radius: 6px;
    background-color: #fff;
    position: relative;
}

.bo-input .form-control {
    height: 35px;
    border: 0;
    border-radius: 4px;
    box-shadow: none;
    white-space: nowrap;
}
.form-group > .bo-input .form-control {
    padding-left: 35px;
}
.bo-input .form-control:focus {
    background-color: #edf0f4;
}

.bo-daterangepicker,
.bo-daterangepicker .form-control,
.bo-daterangepicker .form-control:disabled {
    background-color: #ffffff;
    cursor: pointer;
}
.bo-daterangepicker:focus .form-control,
.bo-daterangepicker .form-control:focus,
.bo-daterangepicker .form-control:active {
    background-color: #edf0f4;
}

.bo-input-sub {
    border: 2px solid #edf0f4;
    border-radius: 4px;
    background-color: #edf0f4;
}

.form-group > .bo-input .fa {
    position: absolute;
    color: #b3bcce;
    left: 10px;
    top: 10px;
}

.bo-input-sub .form-control {
    height: 31px;
    background-color: #fff;
}
.bo-input-sub .form-control:focus {
    background-color: #fff;
}
.form-group > .bo-input-sub .fa {
    top: 8px;
}

.bo-checkbox input {
    opacity: 0;
}
.bo-checkbox label {
    margin-left: 12px;
    font-weight: 500;
    color: #5e7287;
    cursor: pointer;
}
.bo-checkbox label::before {
    content: "";
    display: inline-block;
    position: absolute;
    margin-left: -28px;
    border: 3px solid #fff;
    border-radius: 6px;
    background-color: #fff;
    width: 20px;
    height: 20px;
}
.bo-checkbox.bo-checkbox-sub {
    display: inline-block;
}
.bo-checkbox-nolabel.bo-checkbox label::before {
    position: relative;
}
.bo-checkbox.bo-checkbox-sub label::before {
    border-color: #b3bcce;
    border-radius: 4px;
}
.bo-checkbox label:hover::before {
    background-color: #edf0f4;
}
.bo-checkbox label::after {
    display: inline-block;
    position: absolute;
    margin-left: 19px;
    left: 0;
    font-size: 14px;
    color: #555555;
}
.bo-checkbox-nolabel.bo-checkbox label::after {
    margin-left: 34px;
}
.bo-checkbox input[type="checkbox"]:checked + label::after,
.bo-checkbox input[type="radio"]:checked + label::after {
    font-family: "FontAwesome";
    content: "\f00c";
}

.bo-textarea {
    display: block;
    overflow: hidden;
    white-space: normal!important;
    max-width: 100%;
    min-width: 100%;
    min-height: max-content;
}

.bo-input.input-group {
    margin-bottom: 15px;
}
.bo-input.input-group .form-control {
    padding-left: 15px;
}
.bo-input-sub.input-group {
    margin-bottom: 8px;
}
.bo-input-sub.form-group {
    margin-bottom: 8px;
}

.bo-input .bo-button {
    display: table-cell;
}

.bo-input .input-group-btn > .btn,
.bo-input .input-group-addon {
    padding: 0 10px;
    height: 35px;
    border-radius: 4px;
    text-align: center;
    z-index: 2;
    border: 0;
    font-size: 15px;
}
.bo-input .input-group-addon {
    background-color: #edf0f4;
    color: #5e7287;
}
.bo-input .input-group-addon > span {
    opacity: 0.8;
}
.bo-input-sub .input-group-btn > .btn,
.bo-input-sub .input-group-addon {
    height: 31px;
}

.bo-input .fa {
    margin: 0;
    width: 16px;
    font-size: 16px;
}

.bo-input-addremove input {
    text-align: center;
    background: #edf0f4;
    width: 38px;
    border: 0;
    border-radius: 4px;
    height: 26px;
    font-size: 14px;
    display: inline-block;
}
.bo-input-addremove .bo-badge > * {
    opacity: 0.8;
}
.bo-input-addremove .bo-badge:hover > * {
    opacity: 1;
}
.bo-input-addremove .bo-badge {
    cursor: pointer;
    padding: 2px 8px;
    display: inline-block;
}

.input-group .form-control:last-child {
    margin-left: 5px;
    border-radius: 4px;
    width: calc(100% - 5px);
}
.bo-input-sub.input-group .form-control:last-child {
    margin-left: 0;
    border-radius: 4px;
    width: 100%;
}

.input-group .form-control:first-child,
.input-group-addon:first-child,
.input-group-btn:first-child > .btn,
.input-group-btn:first-child > .btn-group > .btn,
.input-group-btn:first-child > .dropdown-toggle,
.input-group-btn:last-child > .btn:not(:last-child):not(.dropdown-toggle),
.input-group-btn:last-child > .btn-group:not(:last-child) > .btn {
    border-radius: 4px;
}
.input-group .form-control:first-child {
    width: calc(100% - 5px);
}
.input-group .form-control:not(:first-child):not(:last-child),
.input-group-addon:not(:first-child):not(:last-child),
.input-group-btn:not(:first-child):not(:last-child) {
    border-radius: 4px;
}

/* Navs
===================== */
.bo-tab-container {
    display: flex;
}

.bo-nav-tabs {
    border-bottom: 5px solid #fff;
    border-radius: 6px;
    margin-bottom: 12px;
    flex-grow: 100;
    overflow: hidden;
}

.bo-nav-tabs-addon {
    margin-left: -10px;
}

.bo-nav-tabs > li {
    border: 5px solid #fff;
    background-color: #fff;
    margin-bottom: -5px;
    cursor: pointer;
}
.bo-nav-tabs > li:last-child {
    border-top-right-radius: 6px;
}
.bo-nav-tabs > li.active {
    border: 5px solid #fff;
    border-radius: 0;
    background-color: #fff;
}
.bo-nav-tabs > li.active .bo-badge {
    background-color: #fff;
}

.bo-nav-tabs > li > a {
    border: 0;
    color: #5e7287;
    padding: 7px 10px;
    opacity: 0.8;
    border-radius: 4px;
    margin: 0;
}
.bo-nav-tabs > li > a:hover {
    border-color: transparent;
    background-color: #fff;
    opacity: 1;
}
.bo-nav-tabs > li.active > a,
.bo-nav-tabs > li.active > a:hover,
.bo-nav-tabs > li.active > a:focus {
    border: 0;
    border-radius: 4px;
    opacity: 1;
    background-color: #5e7287;
    color: #fff;
}
.bo-nav-tabs > li.active:last-child {
    border-top-right-radius: 6px;
}

/* Stats
===================== */
.bo-statsbar {
    display: flex;
    margin-bottom: 5px;
}

.bo-statsbar > .progress-bar {
    float: none;
    width: auto;
    font-size: 0;
}

.bo-statslabels {
    font-weight: bold;
    margin-bottom: 4px;
}

.bo-statlabel {
    margin: 0 4px;
}

/* Alerts
===================== */
.bo-alert {
    opacity: 0.8;
    padding: 11px 35px 11px 15px;
    border-radius: 6px;
    margin-bottom: 0;
}

/* Labels and Badges
===================== */
.bo-label {
    color: #fff;
    background-color: #5e7287;
    border-radius: 4px;
    padding: 4px 12px;
    display: inline-block;
}

.bo-badge {
    padding: 0 6px;
    font-weight: bold;
    margin: 0 4px;
    font-size: 14px;
}

/* Switches
===================== */
.bo-switch-group {
    border: 5px solid #fff;
    background-color: #fff;
    border-radius: 6px;
    height: 45px;
}

.bo-switch {
    height: 35px;
    border: 0;
    box-shadow: none!important;
    outline: 0!important;
    background-color: #fff;
    color: #5e7287;
    opacity: 0.8;
}
.bo-switch:hover,
.bo-switch:focus,
.bo-switch:active,
.bo-switch:focus:active {
    opacity: 1;
    color: #5e7287;
    background-color: #fff;
}

.bo-switch.active {
    opacity: 1;
    color: #5e7287;
    background-color: #edf0f4;
    z-index: 3!important;
    border-radius: 4px!important;
}
.bo-switch.active:hover,
.bo-switch.active:focus,
.bo-switch.active:active,
.bo-switch.active:focus:active {
    color: #5e7287;
    background-color: #edf0f4;
}

.bo-switch-group-sub {
    border: 2px solid #edf0f4;
    background-color: #edf0f4;
    border-radius: 4px;
}

.bo-switch-group-sub > .bo-switch {
    height: 31px;
    background-color: #edf0f4;
}
.bo-switch-group-sub > .bo-switch:hover,
.bo-switch-group-sub > .bo-switch:focus,
.bo-switch-group-sub > .bo-switch:active,
.bo-switch-group-sub > .bo-switch:focus:active {
    background-color: #edf0f4;
}

.bo-switch-group-sub > .bo-switch.active {
    background-color: #fff;
}
.bo-switch-group-sub > .bo-switch.active:hover,
.bo-switch-group-sub > .bo-switch.active:focus,
.bo-switch-group-sub > .bo-switch.active:active,
.bo-switch-group-sub > .bo-switch.active:focus:active {
    background-color: #fff;
}

/* Table
===================== */
.bo-table {
    background-color: #d5d9de;
    border-radius: 4px;
    margin-bottom: 15px;
    border: 2px solid #d5d9de;
}

.bo-table-row {
    margin: 0;
    border-radius: 4px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
}

.bo-table-cell {
    padding: 5px 10px;
    overflow: hidden;
}
.bo-table-cell > .fa {
    width: 16px;
    margin: 0 4px;
}

.bo-table-row:first-child .bo-table-cell:first-child {
    border-top-left-radius: 2px;
}
.bo-table-row:first-child .bo-table-cell:last-child {
    border-top-right-radius: 2px;
}
.bo-table-row:last-child .bo-table-cell:first-child {
    border-bottom-left-radius: 2px;
}
.bo-table-row:last-child .bo-table-cell:last-child {
    border-bottom-right-radius: 2px;
}

.bo-table-header {
    font-weight: bold;
}
.bo-table-header .bo-table-row {
    background-color: #d5d9de;
}
.bo-table-header .bo-table-cell {
    color: #5e7287;
    background-color: #d5d9de;
}

.bo-table-body .bo-table-row {
    background-color: #fff;
}
.bo-table-body .bo-table-cell {
    border-color: #d5d9de;
}

.bo-table-footer .bo-table-row {
    background-color: #d5d9de;
}
.bo-table-footer .bo-table-cell {
    color: #5e7287;
    background-color: #d5d9de;
}

.bo-table-striped > .bo-table-body > .bo-table-row:nth-of-type(odd) {
    background-color: #edf0f4;
}
.bo-table-bordered > .bo-table-body .bo-table-cell {
    border: 1px solid #d5d9de;
    border-collapse: collapse;
}

.bo-table-title.bo-table-row {
    background-color: #5e7287;
}
.bo-table-title > .bo-table-cell {
    color: #fff;
    background-color: #5e7287;
    font-weight: bold;
    border-color: transparent;
}

.bo-table-subtitle {
    background-color: #b3bcce;
}
.bo-table-subtitle > .bo-table-cell {
    background-color: #b3bcce;
    border-color: transparent;
}

.bo-table-plain.bo-table {
    background-color: transparent;
    border-color: transparent;
}
.bo-table-plain .bo-table-cell:first-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.bo-table-plain .bo-table-cell:last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.bo-table-plain .bo-table-subtitle {
    background-color: transparent;
}
.bo-table-plain .bo-table-subtitle > .bo-table-cell {
    background-color: transparent;
    color: #5e7287;
    border-bottom: 1px solid #5e7287;
    font-weight: bold;
    border-radius: 0;
}
.bo-table-plain .bo-table-footer .bo-table-row {
    background-color: transparent;
}
.bo-table-plain .bo-table-footer .bo-table-cell {
    color: #5e7287;
    background-color: transparent;
}


/* Modal
===================== */
.bo-modal .modal-dialog {
    margin: 80px auto;
}

.bo-modal .modal-content {
    border: 5px solid #fff;
}

.bo-modal .modal-content > div:first-child {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.bo-modal .modal-content > div:last-child {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

/* Navbar
===================== */
.bo-navbar {
    color: #fff;
    background-color: #5e7287;
    border: none;
    border-bottom: 5px solid #fff;
    border-radius: 0;
}

.bo-navbar .navbar-collapse {
    border: none;
    box-shadow: none;
}

.bo-navbar .navbar-header {
    height: 50px;
}

.bo-navbar .bo-additional-nav {
    height: 50px;
}

.bo-navbar .dropdown-menu {
    min-width: 100%;
}

.bo-navbar-logo img {
    max-height: 32px;
    max-width: 100%;
    margin-top: -5px;
    display: inline-block;
}

.bo-navbar .navbar-toggle {
    float: left;
    margin: 0;
    border: none;
    border-radius: 0;
    height: 50px;
    color: #5e7287;
    background-color: #fff;
    opacity: 1;
}
.bo-navbar .navbar-toggle:hover,
.bo-navbar .navbar-toggle:focus {
    color: #5e7287;
    background-color: #fff;
    opacity: 1;
}
.bo-navbar .navbar-toggle.collapsed,
.bo-navbar .navbar-toggle.collapsed:focus {
    opacity: 0.8;
    color: #fff;
    background-color: transparent;
}
.bo-navbar .navbar-toggle.collapsed:hover {
    opacity: 1;
}

.bo-navbar .nav > li > a {
    padding: 0 13px;
    line-height: 50px;
}
.bo-navbar .nav > li > a > .bo-double-row {
    line-height: 1;
    vertical-align: middle;
    display: inline-block;
    white-space: nowrap;
    text-align: center;
}

.bo-navbar .nav > li > a > * {
    color: #fff;
    opacity: 0.8;
}
.bo-navbar .nav > li.active > a {
    background-color: #fff;
}
.bo-navbar .nav > li.active > a > * {
    color: #5e7287;
    opacity: 1;
}
.bo-navbar .nav > li.active > a:hover,
.bo-navbar .nav > li.active > a:focus,
.bo-navbar .nav > li.active > a:active {
    background-color: #fff;
}
.bo-navbar .nav > li > a:hover > * {
    opacity: 1;
}

.bo-navbar .nav > .open > a,
.bo-navbar .nav > .open > a:hover,
.bo-navbar .nav > .open > a:focus {
    background-color: #fff;
}
.bo-navbar .nav > .open > a > *,
.bo-navbar .nav > .open > a:hover > *,
.bo-navbar .nav > .open > a:focus > * {
    color: #5e7287;
}

/* Inverse navbar */
.bo-navbar-inverse {
    color: #5e7287;
    background-color: #fff;
    border-bottom: 5px solid #5e7287;
}

.bo-navbar-inverse .navbar-toggle {
    color: #fff;
    background-color: #5e7287;
}
.bo-navbar-inverse .navbar-toggle:hover,
.bo-navbar-inverse .navbar-toggle:focus {
    color: #fff;
    background-color: #5e7287;
}
.bo-navbar-inverse .navbar-toggle.collapsed,
.bo-navbar-inverse .navbar-toggle.collapsed:focus {
    color: #5e7287;
    background-color: #fff;
}

.bo-navbar-inverse .nav > li > a {
    background-color: #fff;
}
.bo-navbar-inverse .nav > li > a > * {
    color: #5e7287;
    opacity: 0.8;
}
.bo-navbar-inverse .nav > li.active > a {
    background-color: #5e7287;
}
.bo-navbar-inverse .nav > li.active > a > * {
    color: #fff;
    opacity: 1;
}
.bo-navbar-inverse .nav > li.active > a:hover,
.bo-navbar-inverse .nav > li.active > a:focus,
.bo-navbar-inverse .nav > li.active > a:active {
    background-color: #5e7287;
}
.bo-navbar-inverse .nav > li > a:hover > * {
    opacity: 1;
}

.bo-navbar-inverse .nav > .open > a,
.bo-navbar-inverse .nav > .open > a:hover,
.bo-navbar-inverse .nav > .open > a:focus {
    background-color: #5e7287;
}
.bo-navbar-inverse .nav > .open > a > *,
.bo-navbar-inverse .nav > .open > a:hover > *,
.bo-navbar-inverse .nav > .open > a:focus > * {
    color: #fff;
}

.bo-navbar .nav > li > a.bo-not-linked {
    opacity: 0.8!important;
    cursor: default;
}

.bo-navbar .fa {
    width: 22px;
    text-align: center;
}

/* Dropdown
===================== */

.bo-input .bo-dropdown .dropdown-toggle {
    height: 35px;
    border-radius: 4px;
    cursor: pointer;
    padding: 7px 15px;
}
.bo-input-sub .bo-dropdown .dropdown-toggle {
    height: 31px;
    border-radius: 2px;
    padding: 5px 15px;
}
.bo-input-sub .dropdown-menu {
    min-width: 100%;
}

.bo-dropdown.open .dropdown-toggle {
    background-color: #edf0f4;
    white-space: normal;
}
.bo-dropdown .dropdown-toggle > span {
    color: #5e7287;
    opacity: 0.8;
    cursor: pointer;
}
.bo-dropdown:hover .dropdown-toggle > span,
.bo-dropdown:focus .dropdown-toggle > span,
.bo-dropdown:active .dropdown-toggle > span,
.bo-dropdown.open .dropdown-toggle > span {
    opacity: 1;
}

.bo-dropdown .fa-chevron-down {
    float: right;
    margin: 2px 0 0 15px;
}

.bo-dropdown .dropdown-menu {
    border: 5px solid #fff;
}
.dropdown-menu > li > a {
    padding: 2px 8px;
}
.dropdown-menu > li > a:hover {
    border-radius: 4px;
    background-color: #edf0f4;
}
.dropdown-menu .bo-selected > a,
.dropdown-menu .bo-selected > a:hover {
    color: #fff;
    background-color: #5e7287;
    border-radius: 4px;
}

/* Map
================================ */
.bo-venuemap .piletilevi_venue_map_places_sections_fullscreen {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #fff;
    top: 0;
    left: 0;
    z-index: 2;
    padding: 20px;
    display: none;
}

.bo-venuemap .piletilevi_venue_map_places_sections_fullscreen .piletilevi_venue_map,
.bo-venuemap .piletilevi_venue_map_places_sections_fullscreen .piletilevi_venue_map_places,
.bo-venuemap .piletilevi_venue_map_places_sections_fullscreen .piletilevi_venue_map_places_sections {
    height: 100%;
    width: 100%;
}

.bo-venuemap .piletilevi_venue_map_places_sections_fullscreen .places_map_section {
    height: 85% !important;
    width: 100% !important;
}

.bo-venuemap .piletilevi_venue_map_places_sections_fullscreen .fullscreen_close {
    position: fixed;
    right: 20px;
    top: 5px;
    font-size: 33px;
    cursor: pointer;
    z-index: 250;
}

.piletilevi_venue_map_places_sections_fullscreen .piletilevi_venue_map_places_main {
    position: absolute !important;
    top: 42px !important;
    bottom: 0 !important;
    left: 0 !important;
    right: 0 !important;
    height: auto !important;
}

/* Sidebar
===================== */
.bo-sidebar {
    margin-bottom: 10px;
    /*margin-top: -61px;*/
}

.bo-sidebar .bo-panel-table > div {
    display: block;
    width: 100%;
}

.bo-sidebar .affix {
    max-width: 322.5px;
    margin-right: 30px;
    position: fixed;
}

/* Block ui
================================ */
.block-ui.bo-loader {
    min-height: 70px;
    background: #fff;
    border-radius: 6px;
    overflow: hidden;
    margin-bottom: 20px;
}

.block-ui.bo-loader[aria-busy="false"] {
    display: none;
}

.bo-loader .block-ui-message-container {
    top: 12px;
}
.bo-loader .block-ui-message {
    padding: 8px 20px;
    border-radius: 4px;
}

.bo-loader .block-ui-container {
    border-radius: 6px;
}

/* Sidenav
================================ */
.bo-sidenav {
    display: block;
}
.bo-sidenav-dismiss, .bo-sidenav-open {
    display: none;
}

.bo-sidenav-overlay {
    display: none;
}

/* Bootstrap elements
===================== */
.container {
    width: auto;
}

.panel {
    border: none;
    box-shadow: none;
    background-color: transparent;
    margin-bottom: 12px;
}
.panel-heading {
    border: none;
    background-color: #d5d9de;
    color: #5e7287;
    border-radius: 6px 6px 0 0;
    min-height: 45px;
}
.panel-footer {
    border: 0;
    background-color: #edf0f4;
    text-align: center;
    color: #5e7287;
}

.close {
    font-size: 18px;
    text-shadow: none;
    opacity: 0.8;
}
.alert-dismissable .close,
.alert-dismissible .close {
    top: 2px;
    right: -20px;
}
.close:hover, .close:focus {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
    opacity: 1;
}

.tab-pane {
    min-height: 160px;
    border-radius: 6px;
}

.block-ui-overlay {
    border-radius: 6px;
}

/* Color variations
===================== */
.bo-button > .btn-default,
.bo-button > .btn-default:active:hover,
.bo-button > .btn-default.active:hover,
.bo-button > .btn-default:active:focus,
.bo-button > .btn-default.active:focus,
.bo-button > .btn-default:active.focus,
.bo-button > .btn-default.active.focus {
    color: #ffffff;
    background-color: #5e7287;
}
.bo-button > .btn-primary,
.bo-button > .btn-primary:active:hover,
.bo-button > .btn-primary.active:hover,
.bo-button > .btn-primary:active:focus,
.bo-button > .btn-primary.active:focus,
.bo-button > .btn-primary:active.focus,
.bo-button > .btn-primary.active.focus {
    color: #ffffff;
    background-color: #3584d9;
}
.bo-button > .btn-success,
.bo-button > .btn-success:active:hover,
.bo-button > .btn-success.active:hover,
.bo-button > .btn-success:active:focus,
.bo-button > .btn-success.active:focus,
.bo-button > .btn-success:active.focus,
.bo-button > .btn-success.active.focus {
    color: #ffffff;
    background-color: #41c271;
}
.bo-button > .btn-info,
.bo-button > .btn-info:active:hover,
.bo-button > .btn-info.active:hover,
.bo-button > .btn-info:active:focus,
.bo-button > .btn-info.active:focus,
.bo-button > .btn-info:active.focus,
.bo-button > .btn-info.active.focus {
    color: #ffffff;
    background-color: #66cccc;
}
.bo-button > .btn-warning,
.bo-button > .btn-warning:active:hover,
.bo-button > .btn-warning.active:hover,
.bo-button > .btn-warning:active:focus,
.bo-button > .btn-warning.active:focus,
.bo-button > .btn-warning:active.focus,
.bo-button > .btn-warning.active.focus {
    color: #ffffff;
    background-color: #eea236;
}
.bo-button > .btn-danger,
.bo-button > .btn-danger:active:hover,
.bo-button > .btn-danger.active:hover,
.bo-button > .btn-danger:active:focus,
.bo-button > .btn-danger.active:focus,
.bo-button > .btn-danger:active.focus,
.bo-button > .btn-danger.active.focus {
    color: #ffffff;
    background-color: #d93835;
}

.bo-button > btn.disabled.focus,
.bo-button > .btn.disabled:focus,
.bo-button > .btn.disabled:hover,
.bo-button > .btn[disabled].focus,
.bo-button > .btn[disabled]:focus,
.bo-button > .btn[disabled]:hover {
    background-color: #5e7287;
    color: #ffffff;
}

.progress-bar {
    background-color: #5e7287;
    box-shadow: inset 0 -4px 0 rgba(0, 0, 0, .15);
}
.progress-bar-success {
    background-color: #41c271;
}
.progress-bar-info {
    background-color: #66cccc;
}
.progress-bar-warning {
    background-color: #eea236;
}
.progress-bar-danger {
    background-color: #d93835;
}
.progress-bar-primary {
    background-color: #3584d9;
}
.progress-bar-disabled {
    background-color: #d5d9de;
}

.text-default {
    color: #5e7287;
}
.text-success {
    color: #41c271;
}
.text-info {
    color: #66cccc;
}
.text-warning {
    color: #eea236;
}
.text-danger {
    color: #d93835;
}
.text-primary {
    color: #3584d9;
}
.text-muted {
    color: #b3bcce;
}

.alert-default {
    border: 0;
    color: #fff;
    background-color: #5e7287;
}
.alert-success {
    border: 0;
    color: #fff;
    background-color: #41c271;
}
.alert-info {
    border: 0;
    color: #fff;
    background-color: #66cccc;
}
.alert-warning {
    border: 0;
    color: #fff;
    background-color: #eea236;
}
.alert-danger {
    border: 0;
    color: #fff;
    background-color: #d93835;
}
.alert-primary {
    border: 0;
    color: #fff;
    background-color: #3584d9;
}
.alert-muted {
    border: 0;
    color: #5e7287;
    background-color: #d5d9de;
}

.label-success {
    color: #fff;
    background-color: #41c271;
}
.label-info {
    color: #fff;
    background-color: #66cccc;
}
.label-warning {
    color: #fff;
    background-color: #eea236;
}
.label-danger {
    color: #fff;
    background-color: #d93835;
}
.label-primary {
    color: #fff;
    background-color: #3584d9;
}
.label-muted {
    color: #5e7287;
    background-color: #d5d9de;
}