/* Basics
===================== */
@font-face {
    font-family: 'PT Sans';
    src: url('../fonts/PTSans-Regular.eot');
    src: url('../fonts/PTSans-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/PTSans-Regular.woff2') format('woff2'),
    url('../fonts/PTSans-Regular.woff') format('woff');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'PT Sans';
    src: url('../fonts/PTSans-Bold.eot');
    src: url('../fonts/PTSans-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/PTSans-Bold.woff2') format('woff2'),
    url('../fonts/PTSans-Bold.woff') format('woff');
    font-style: normal;
    font-weight: bold;
}

body {
    font-size: 15px;
    color: #040e19;
    font-family: 'PT Sans', sans-serif;
    background: #e3e6ec;
}

a {
    color: #1e7feb;
    text-decoration: underline;
}

a:active,
a:focus {
    outline: none;
}

a:hover {
    text-decoration: none;
}

/* Utility rules, misc
================================ */
.inline_dropdown {
    display: inline-block;
}

.extra_width_button {
    min-width: 131px;
}

.temp_image {
    max-width: 100%;
}

.forceShow {
    visibility: visible !important;
}

.translate-cloak {
    display: none;
}

.bo-hidden-label {
    margin-bottom: 5px;
    color: #27394c;
}

.bo-top-filter-daterange .bo-datarangepicker-button {
    width: 100%;
}

.bo-datarangepicker-button {
    padding: 0 15px 0 10px;
}

.bo-datarangepicker-button .form-control,
.bo-datarangepicker-button .form-control[disabled],
.bo-datarangepicker-button .form-control[readonly],
.bo-datarangepicker-button fieldset[disabled] .form-control {
    border: 0 none;
    background: none;
    padding: 0;
    margin: 0;
    float: none;
    display: inline-block;
}

.bo-datarangepicker-button .form-control {
    width: calc(100% - 16px);
}

.bo-datarangepicker-button .fa {
    vertical-align: middle;
}

.visually-hidden {
    position: fixed;
    z-index: -1;
    opacity: 0;
}

.form-horizontal .bo-control-label,
.bo-control-label {
    text-align: left;
}

.bo-wide-button {
    width: 100%;
}

.table > tbody > tr > td.bo-no-leftright-padding,
.table > tbody > tr > th.bo-no-leftright-padding,
.table > tfoot > tr > td.bo-no-leftright-padding,
.table > tfoot > tr > th.bo-no-leftright-padding,
.table > thead > tr > td.bo-no-leftright-padding,
.table > thead > tr > th.bo-no-leftright-padding,
.bo-no-leftright-padding {
    padding-left: 0;
    padding-right: 0;
}

.table .bo-shortcell {
    padding-top: 8px;
    padding-bottom: 8px;
}

.bo-first-heading {
    margin-top: 0;
}

.bo-inactivearea {
    position: relative;
}

.bo-inactivearea .bo-over {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    opacity: 0.63;
}

/* LOGO
================================ */

.bo-logo img {
    margin-top: -5px;
    display: inline-block;
    max-width: 100%;
}

.navbar-brand.bo-logo img {
    max-height: 25px;
    max-width: 100%;
}

/* Header additional icons
================================ */

.bo-header-additional-icons {
    float: right;
    margin-right: 8px;
    margin-bottom: 0;
    margin-top: 0;
}

.bo-header-additional-icons > li {
    float: left;
}

.bo-header-additional-icons > li > a {
    height: 50px;
}

.bo-header-additional-icons > .dropdown > .caret,
.bo-header-additional-icons > .dropdown > .dropdown-toggle > span {
    display: none;
}

.bo-header-additional-icons > .dropdown.bo-language-dropdown > .dropdown-toggle > span {
    display: inline-block;
}

.bo-header-additional-icons > .dropdown.bo-language-dropdown > .dropdown-toggle > span.caret {
    display: none;
}

.nav.bo-header-additional-icons > li {
    position: static;
}

.navbar-nav.bo-header-additional-icons .open .dropdown-menu {
    position: absolute;
    top: 50px;
    border-bottom: 1px solid #e3e6ec;
}

.navbar-nav.bo-header-additional-icons .open .dropdown-menu > li > a {
    line-height: 1.357;
}

/* Sidebar
================================ */

.bo-sidebar {
    font-size: 14px;
    margin-bottom: 10px;
    margin-top: -65px;
}

.bo-sidebar-title {
    font-size: 22px;
    margin: 9px 14px 14px;
}

.bo-sidebar .list-group-item:first-child {
    border-top: 0;
}

.bo-sidebar .list-group-item {
    padding: 0;
}

/* Main
================================ */

.bo-main-block {
    padding-top: 46px;
}

/* Filter
================================ */

.bo-top-filter-block {
    margin-bottom: 20px;
}

.bo-top-filter-block .bo-hidden-label {
    margin-bottom: 3px;
    margin-top: -25px;
}

/* User
================================ */

.bo-user {
    white-space: nowrap;
    padding-right: 5px;
}

.bo-user-name {
    color: #fff;
}

/* Language dropdown
================================ */

.bo-language-dropdown .caret {
    margin-left: 3px;
}

.bo-language-dropdown .dropdown-menu > li > a {
    text-transform: capitalize;
}

.bo-language-dropdown .dropdown-toggle {
    text-transform: capitalize;
}

/* News
================================ */

.bo-news {
    padding: 28px 15px 17px;
}

.bo-sidebar .list-group-item:first-child .bo-news {
    padding-top: 16px;
}

.bo-news-title {
    font-size: 17px;
    margin-top: -2px;
}

.bo-news-content {
    color: #505765;
}

.bo-news-date {
    margin-top: 22px;
    color: #b1b3b8;
}

.bo-news-arrow {
    position: absolute;
    top: 50%;
    right: -10px;
    margin-top: -0.5em;
}

/* Event
================================ */

.bo-event {
    position: relative;
}

.bo-event-title {
    margin-top: -2px;
    margin-bottom: 17px;
}

.bo-event-toggle {
    cursor: pointer;
    text-decoration: none;
}

.bo-event-toggle .badge {
    background-color: #3584d9;
    margin-top: -2px;
    margin-left: 3px;
    margin-right: 7px;
}

.bo-event-toggle .glyphicon-triangle-top,
.bo-event-toggle .glyphicon-triangle-bottom {
    font-size: 10px;
    color: #7f8899;
    padding-bottom: 5px;
    vertical-align: middle;
}

.bo-event-toggle:hover {
    text-decoration: none;
}

.bo-event-toggle .glyphicon-triangle-top {
    display: none;
}

.bo-event-toggle.collapsed .glyphicon-triangle-top {
    display: inline-block;
    font-size: 10px;
    color: #7f8899;
}

.bo-event-toggle.collapsed .glyphicon-triangle-bottom {
    display: none;
}

.bo-event-report-link {
    margin-top: 6px;
    margin-bottom: 2px;
    color: #b7b7b9;
    margin-right: -15px;
}

.bo-event-report-link * {
    display: inline-block;
}

.bo-event-report-link > a {
    margin-right: 23px;
}

.bo-event-report-link-separator {
    margin-right: 23px;
}

.bo-event-datetime_block {
}

.bo-event-date {
    display: inline-block;
    margin-right: 23px;
}

.bo-event-date .fa {
    color: #2a7ed8;
    margin-right: 6px;
}

.bo-event-time {
    display: inline-block;
}

.bo-event-time .fa {
    color: #2a7ed8;
    margin-right: 3px;
}

.bo-event-place {
    display: inline-block;
    margin-top: 2px;
    padding-left: 22px;
}

.bo-event-place .fa {
    color: #2a7ed8;
    margin-right: 7px;
    margin-left: -20px;
}

.bo-event-price {
    margin-bottom: 2px;
    margin-top: 17px;
    font-weight: normal;
    font-size: 21px;
}

.bo-event-share-block {
    color: #b7b7b9;
    margin-bottom: 6px;
}

.bo-event-share-block > span {
    white-space: nowrap;
}

.bo-event-share-block > span > a {
    font-size: 14px;
    margin-right: 7px;
    text-decoration: none;
    cursor: pointer;
}

.bo-event-share-block .fa {
    color: #bec2c7;
    margin-right: 8px;
    margin-left: 7px;
}

.bo-event-share-block .fa:first-child {
    margin-left: 3px;
}

.bo-event-share-block .dropdown-toggle {
    cursor: pointer;
}

.bo-event-report-tab-panes .tab-pane {
    min-height: 300px;
}

.bo-event-error {
    padding: 17px 10px 0 10px;
}

/* Event Badges
================================ */

.bo-event-badge {
    position: relative;
    right: -20px;
    top: -15px;
    float: right;
    font-size: 14px;
    line-height: 27px;
    min-width: 81px;
    padding: 0 7px;
    text-align: center;
    -webkit-border-radius: 0 3px 0 3px;
    -moz-border-radius: 0 3px 0 3px;
    border-radius: 0 3px 0 3px;
    color: #fff;
}

.bo-event-badge-regular_presale {
}

.bo-event-badge-future_sale {
}

.bo-event-badge-hidden_until_sale {
}

.bo-event-badge-presale_with_code {
}

.bo-event-badge-sold_out {
}

.bo-event-badge-no_tickets {
}

.bo-event-badge-going_now {
}

.bo-event-badge-free_admission {
}

.bo-event-badge-presale_at_boxoffices {
}

.bo-event-badge-past {
}

.bo-event-badge-canceled {
}

.bo-event-badge-refund {
}

/* Sub Events
================================ */

.bo-sub-events {
    border-top: 1px solid #dadcdf;
    padding-left: 12px;
    padding-right: 12px;
    margin-right: -19px;
    margin-left: -19px;
    margin-top: 19px;
}

.bo-sub-events > .bo-event:first-child {
    margin-top: 13px;
}

.bo-sub-events .bo-event {
    margin-bottom: 13px;
}

.bo-sub-events .bo-event:last-child {
    margin-bottom: 0px;
}

.bo-sub-events-hidden .bo-event-toggle,
.bo-sub-events-hidden .bo-sub-events {
    display: none;
}

.bo-sub-events .panel-body {
    padding-top: 15px;
    padding-left: 14px;
    padding-right: 14px;
}

/* Pills
================================ */

.bo-pills-block {
    background: #fff;
    padding-top: 15px;
    padding-bottom: 16px;
    position: relative;
}

.bo-pills-block::after {
    content: "";
    position: absolute;
    width: 100%;
    border-bottom: 1px solid #e3e6ec;
    bottom: 1px;
    left: 0;
}

/* Widget box (login, pass change forms)
================================ */

.bo-widgetbox {
    max-width: 591px;
    /*min-height: 373px;*/
    background: #fff;
    margin: 0 auto;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    color: #263443;
    border: 1px solid #cfd4da;
    overflow: hidden;
}

.bo-widgetbox .control-label {
    font-size: 15px;
    color: #263443;
    font-weight: normal;
    padding-top: 11px;
    padding-right: 4px;
}

.bo-widgetbox-header {
    background: #5e7287;
    color: #b7c1cd;
    line-height: 65px;
    padding-right: 30px;
    padding-left: 34px;
    -moz-border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
}

.bo-widgetbox-body {
    padding-top: 18px;
    padding-left: 91px;
    padding-right: 89px;
    padding-bottom: 27px;
    background: #f2f3f5;
}

.bo-widgetbox-header .navbar-right > li > a {
    padding-top: 23px;
    padding-bottom: 22px;
    text-decoration: none;
}

.bo-widgetbox .input-icon {
    position: relative;
}

.bo-widgetbox .bo-language-dropdown {
    padding-right: 25px;
}

.bo-widgetbox-main h4.header,
.bo-widgetbox-forgotten h4.header {
    font-size: 20px;
    margin-bottom: 14px;
}

.bo-widgetbox .input-icon .form-control {
    padding-left: 35px;
}

.bo-widgetbox .input-icon .ace-icon {
    color: #cccfd4;
    position: absolute;
    left: 14px;
    top: 15px;
}

.bo-widgetbox-footer {
    background: #fff;
    padding-left: 27px;
    padding-right: 27px;
    padding-top: 14px;
    padding-bottom: 16px;
    -moz-border-radius: 0 0 4px 4px;
    -webkit-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
    border-top: 1px solid #ced3d9;
}

.bo-widgetbox-footer a {
    color: #263443;
}

.bo-widgetbox-buttons-area {
    padding-top: 16px;
}

.bo-widgetbox-languages {
    margin-top: 0;
    margin-bottom: 0;
}

.bo-widgetbox-body .bo-error {
    margin-top: -9px;
    margin-left: -14px;
    margin-right: -14px;
}

#forgotten {
    top: -36px;
    position: relative;
}

.bo-widgetbox-forgotten {
    padding: 6px 89px 0 91px;
    background: #fff;
    -moz-border-radius: 0 0 4px 4px;
    -webkit-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
}

.bo-widgetbox-forgotten.open {
    display: block;
}

.bo-forgotten-toggle {
    cursor: pointer;
}

.bo-forgotten-toggle:not(.collapsed) {
    white-space: nowrap;
    visibility: hidden;
}

.bo-widgetbox .form-group {
    margin-bottom: 12px;
}

.bo-widgetbox-white {

}

.bo-center-column .bo-widgetbox-white {
    max-width: none;
}

.bo-widgetbox-white .bo-widgetbox-body {
    background: #fff;
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 6px;
}

.bo-widgetbox-white h4.header {
    margin-bottom: 20px;
}

/* Error
================================ */

.bo-error {
    color: #df1843;
    background: #f9d5dd;
    border: 1px solid #f6bbc8;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    padding: 10px 13px 11px;
    margin-bottom: 6px;
}

.bo-no-data-msg {
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    margin: 32px 0;
}

/* Small checkbox
================================ */

.bo-smallcheckbox .checkbox {
    padding-top: 5px;
}

.bo-smallcheckbox .checkbox label::before {
    /*border: 0 none;*/
    width: 21px;
    height: 21px;
}

.bo-smallcheckbox .checkbox label::after {
    font-size: 14px;
    width: 21px;
    height: 21px;
}

.bo-smallcheckbox .checkbox label {
    padding-left: 13px;
}

/* On-sale
================================ */

.bo-onsale {

}

.bo-onsale-viewall {
    display: block;
    font-size: 15px;
    text-align: center;
    padding: 9px 10px 20px;
}

/* Event-short
================================ */
.bo-eventshort {
    padding: 16px 15px 19px;
    line-height: 22px;
    background: #edf0f4;
    border-bottom: 1px solid #dadcdf;
    -moz-box-shadow: 0 0 0 1px #f7f9fb inset;
    -webkit-box-shadow: 0 0 0 1px #f7f9fb inset;
    box-shadow: 0 0 0 1px #f7f9fb inset;
    display: block;
    position: relative;
}

.bo-eventshort-overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.bo-eventshort .progress {
    max-width: none;
}

.bo-eventshort:first-child {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.bo-eventshort .fa {
    color: #2a7ed8;
}

.bo-eventshort-title {
    margin-bottom: 10px;
    font-size: 17px;
}

.bo-eventshort-datetime {
    margin-left: 2px;
}

.bo-eventshort-date {
    margin-right: 15px;
}

.bo-eventshort-date .fa {
    margin-right: 7px;
}

.bo-eventshort-time {
    display: inline-block;
}

.bo-eventshort-time .fa {
    margin-right: 5px;
}

.bo-eventshort-venue {
    margin-left: 4px;
}

.bo-eventshort-venue .fa {
    margin-right: 7px;
}

.bo-eventshort-progress {
    font-weight: bold;
    margin-top: 8px;
}

.bo-eventshort-progress .progress {
    height: 17px;
    margin: 0;
    max-width: none;
}

.bo-eventshort-progress .progress-bar {
    font-size: 13px;
    line-height: 16px;
}

.bo-eventshort-progresslabel {
    line-height: 15px;
    float: left;
    padding-top: 7px;
}

.bo-eventshort-pricelabel {
    line-height: 15px;
    float: right;
    padding-top: 7px;
}

.bo-eventshort-subevents {
    position: relative;
}

.bo-eventshort-subevents:before {
    content: "";
    position: absolute;
    left: 50%;
    top: -1px;
    margin-left: -8px;
    border-top: 7px solid #cdd2d8;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    z-index: 1;
}

.bo-eventshort-subevents .bo-eventshort:first-child:before {
    content: "";
    position: absolute;
    left: 50%;
    top: -2px;
    margin-left: -8px;
    border-top: 7px solid #edf0f4;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    z-index: 1;
}

.bo-eventshort-subevents .bo-eventshort {
    background: #fff;
}

.bo-eventshort-subevents .bo-eventshort:last-of-type {
    border-bottom: 0 none;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

/* Section-selector
================================ */
.bo-sectionselector {

}

.bo-sectionselector-item {
    padding: 11px 17px 14px 20px;
    color: #040e19;
}

.bo-sectionselector-itemtitle {
    color: #040e19;
    font-size: 17px;
}

.bo-sectionselector-itemprice {
    float: right;
    padding-top: 25px;
    margin-left: 40px;
    color: #040e19;
    font-weight: bold;
}

.bo-sectionselector-itemstats {
    overflow: hidden;
}

.bo-sectionselector-item.a.list-group-item,
button.bo-sectionselector-item.list-group-item {
    color: #040e19;
}

.bo-sectionselector-item.active, .bo-sectionselector-item.active:focus, .bo-sectionselector-item.active:hover {
    z-index: 2;
    color: #040e19;
    background-color: #ebedf0;
    border-color: #cdd2d8;
    -webkit-box-shadow: inset 0 0 0 1px #f7f9fb;
    -moz-box-shadow: inset 0 0 0 1px #f7f9fb;
    box-shadow: inset 0 0 0 1px #f7f9fb;
}

.bo-sectionselector-item .bo-eventshort-progresslabel {
    font-size: 14px;
}

/* Sales overview
================================ */
.bo-salesoverview-controls {
}

.bo-salesoverview-controls .form-group {
    max-width: 100%;
    margin-left: 10px;
}

.bo-salesoverview-controls .form-group:first-child {
    margin-left: 0;
}

/* Simple stats
================================ */
.bo-simplestats {
    /*padding-left: 21px;*/
}

.bo-simplestats-labels {
    margin-bottom: 2px;
    color: #b7b7b9;
    margin-left: -2px;
}

.bo-simplestats-label {
    display: inline-block;
    font-weight: bold;
    margin: 0 7px;
}

.bo-simplestats-pct {
    float: right;
    font-weight: normal;
    font-size: 21px;
    margin-left: 12px;
    color: #040e19;
    line-height: 0.75;
}

.bo-simplestats-bar {
    overflow: hidden;
    margin-bottom: 0;
}

.bo-simplestats-triangle {
    display: inline-block;
    font-size: 11px;
    margin-left: 3px;
}

/* Section selection
================================ */
.bo-sectionselection {
    position: relative;
}

.bo-sectionselection-button {
    bottom: 0;
    display: block;
    line-height: 32px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 36px;
    text-decoration: none;
}

.bo-sectionselection-icon {
    vertical-align: middle;
    font-size: 18px;
}

.bo-sectionselection-text {
    color: #040e19;
    display: block;
    font-size: 17px;
    line-height: 19px;
    margin-right: 34px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

/* Dot
================================ */
.bo-dot {
    display: inline-block;
    color: transparent;
}

/* Cancel button
================================ */
.bo-cancel {
    text-decoration: none;
}

/* Cancel button
================================ */
.bo-reservationform {
    display: block;
    background: #e3e6ec;
    padding: 9px 9px 15px;
    border-radius: 3px;
}

/* Legend
================================ */
.bo-legend {
    margin: 0 -4px 5px;
    line-height: 21px;
}

.bo-legend-item {
    display: inline-block;
    font-size: 14px;
    margin: 0 4px;
    white-space: nowrap;
}

/* Map
================================ */
.bo-map {
    text-align: center;
    margin-bottom: 20px;
}

/* Mapcontrols
================================ */
.bo-mapcontrols {
    text-align: right;
}

.bo-mapcontrols .fa-expand {
    color: #4a5867;
    font-size: 22px;
    margin: 0 7px;
    cursor: pointer;
}

.bo-mapcontrols-item {
    position: relative;
    display: inline-block;
    background: #5e7287;
    color: #fff;
    min-width: 26px;
    margin: 0 0 0 4px;
    cursor: pointer;
    height: 25px;
    text-align: center;
    text-decoration: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    line-height: 23px;
}

.bo-mapcontrols-item i {
    vertical-align: middle;
    line-height: 1;
    font-size: 16px;
    position: relative;
    z-index: 1;
}

.bo-mapcontrols-item.btn_fullscreen i {
    font-size: 18px;
}

.bo-mapcontrols-item.btn_zoomreset {
    padding: 0 5px;
}

.bo-mapcontrols-item:hover {
    color: #fff;
}

.bo-mapcontrols-resize {
    background: #fff;
    color: #5e7287;
    margin-right: 12px;
}

.bo-mapcontrols-resize:hover {
    color: #5e7287;
}

.bo-mapcontrols-resize:before {
    background: #fff;
    content: '';
    display: block;
    position: absolute;
    height: 6px;
    left: -3px;
    right: -3px;
    top: 50%;
    margin-top: -3px;
}

.bo-mapcontrols-resize:after {
    background: #fff;
    content: '';
    display: block;
    position: absolute;
    width: 6px;
    top: -3px;
    bottom: -3px;
    left: 50%;
    margin-left: -3px;
}

.bo-map .piletilevi_venue_map_places_sections_fullscreen {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #fff;
    top: 0;
    left: 0;
    z-index: 2;
    padding: 20px 0;
    display: none;
}

.bo-map .piletilevi_venue_map_places_sections_fullscreen .bo-mapcontrols {
    float: left;
}

.bo-map .piletilevi_venue_map_places_sections_fullscreen .piletilevi_venue_map,
.bo-map .piletilevi_venue_map_places_sections_fullscreen .piletilevi_venue_map_places,
.bo-map .piletilevi_venue_map_places_sections_fullscreen .piletilevi_venue_map_places_sections {
    height: 100%;
    width: 100%;
}

.bo-map .piletilevi_venue_map_places_sections_fullscreen .places_map_section {
    height: 85% !important;
    width: 100% !important;
}

.bo-map .piletilevi_venue_map_places_sections_fullscreen .fullscreen_close {
    position: fixed;
    right: 20px;
    top: 5px;
    font-size: 33px;
    cursor: pointer;
    z-index: 250;
}

/* Seats table
================================ */
.bo-seatstable > tbody > tr > td {
    vertical-align: middle;
}

.bo-seatstable > tbody > tr > td:first-child,
.bo-seatstable > tbody > tr > td:last-child {
    text-align: center;
}

.bo-seatstable > tbody > tr > td:nth-child(6) {
    white-space: nowrap;
}

.bo-seatstable-colorcolumn {
    width: 28px;
}

.bo-seatstable-controlcolumn {
    width: 40px;
}

.bo-seatstable-statuscolumn {
    width: 188px;
}

.bo-seatstable-pricetypecolumn {
    width: 166px;
}

.bo-seatstable-selection {
    display: block;
    margin: -2px -4px;
}

/* tables
================================ */
.bo-table-dot-title {
    position: relative;
    display: block;
    padding-left: 27px;
}

.bo-table-dot-title .bo-dot {
    left: 5px;
    top: 4px;
    margin-right: 10px;
    display: inline-block;
    position: absolute;
}

.bo-table-report > tbody > tr > td,
.bo-table-report > tbody > tr > th,
.bo-table-report > tfoot > tr > td,
.bo-table-report > tfoot > tr > th,
.bo-table-report > thead > tr > td,
.bo-table-report > thead > tr > th {
    border: 0;
}

/* thead */
.bo-table-report > thead > tr {
    background: transparent;
}

.bo-table-report > thead > tr > td,
.bo-table-report > thead > tr > th {
    color: #040e19;
    text-align: right;
    background: transparent;
    border-top: 0 none;
}

.bo-table-report > thead > tr > td:first-child,
.bo-table-report > thead > tr > th:first-child {
    border-left: 0 none;
}

.bo-table-report > thead > tr > td:last-child,
.bo-table-report > thead > tr > th:last-child {
    border-right: 0 none;
}

.bo-table-report > thead > tr > td + td,
.bo-table-report > thead > tr > th + td,
.bo-table-report > thead > tr > td + th,
.bo-table-report > thead > tr > th + th {
    border-left: 0 none;
}

.bo-table-report > thead > tr > th:first-child,
.bo-table-report > thead > tr > td:first-child {
    text-align: left;
}

/* tbody */
.bo-table-report > tbody > tr {
    background: #f2f4f6;
    text-align: right;
}

.bo-table-report > tbody > tr > th {
    font-weight: normal;
    text-align: left;
}

.bo-table-report > tbody > tr:nth-child(even) {
    background: #fff;
}

.bo-table-report > tbody > tr > th:first-child,
.bo-table-report > tbody > tr > td:first-child {
    border-left: 1px solid #f2f4f6;
}

.bo-table-report > tbody > tr > td:last-child {
    border-right: 1px solid #f2f4f6;
}

.bo-table-report > tbody:last-child > tr:last-child td,
.bo-table-report > tbody:last-child > tr:last-child th {
    border-bottom: 1px solid #f2f4f6;
}

.bo-table-report .bo-color-column {
    width: 24px;
}

.bo-table-report > tbody > .bo-table-title-row {
    background: #5e7287;
}

.bo-table-report > tbody > .bo-table-title-row > th,
.bo-table-report > tbody > .bo-table-title-row > td {
    color: #d9e1eb;
}

.bo-table-report > tbody > .bo-table-title-row > td:first-child,
.bo-table-report > tbody > .bo-table-title-row > th:first-child {
    border-left: 1px solid #5e7287;
}

.bo-table-report > tbody > .bo-table-title-row > th:last-child,
.bo-table-report > tbody > .bo-table-title-row > td:last-child {
    border-right: 1px solid #5e7287;
}

.bo-table-report > tbody > .bo-table-title-row-bold > th,
.bo-table-report > tbody > .bo-table-title-row-bold > td {
    font-weight: bold;
    color: #fff;
    border-bottom: 13px solid #fff;
}

.bo-table-report > tbody > .bo-table-secondarytitle-row {
    background: #d0d4d9;
}

.bo-table-report > tbody > .bo-table-secondarytitle-row > td:first-child {
    border-left: 1px solid #d0d4d9;
}

.bo-table-report > tbody > .bo-table-secondarytitle-row > td:last-child {
    border-right: 1px solid #d0d4d9;
}

.bo-table-report > tbody > .bo-table-secondarytitle-row > th,
.bo-table-report > tbody > .bo-table-secondarytitle-row > td {
    color: #040e19;
}

.bo-table-report .bo-refund-row td,
.bo-table-report .bo-refund-row th {
    color: #ff3f68;
}

.bo-table-report td:nth-child(4),
.bo-table-report th:nth-child(4),
.bo-table-report td:nth-child(5),
.bo-table-report th:nth-child(5) {
    white-space: nowrap;
}

.bo-table-report > tbody + tbody {
    border-top: 0 none;
}

.bo-revenuetable.table > thead > tr > th {
    border-top: 8px solid #fff;
}

.bo-locationstable.table > tbody > .bo-table-title-row-bold > td {
    border-bottom: none;
}

.bo-locationstable > tbody > .bo-table-secondarytitle-row td {
    font-weight: bold;
}

.bo-locationstable .text-danger {
    color: #ff3f71 !important;
}

.bo-table-dropdown {

}

.bo-table-dropdown .dropdown-toggle {
    padding: 2px 6px;
    height: 27px;
    padding-right: 31px;
}

.bo-table-dropdown .dropdown-menu {
    left: auto;
    right: 0;
}

.bo-table-dropdown .btn .caret {
    right: 9px;
    margin-top: -2px;
}

/* Chart
================================ */
.bo-chart {
    text-align: center;
    margin-bottom: 20px;
}

.bo-chart-buttons {
    text-align: right;
    margin-bottom: 10px;
}

.bo-line-chart-container {
    height: 400px;
}

/* Venueplan
================================ */

.places_map_legend {
    padding-bottom: 1.5em;
    min-height: 1.38em;
}

.places_map_legend_item {
    width: 22%;
    box-sizing: border-box;
    color: #fff;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    padding: 0.25em 1em;
    position: relative;
    overflow: hidden;
    margin-left: 3%;
    margin-top: 1em;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}

.places_map_legend_title {
    display: block;
    font-weight: bold;
    white-space: nowrap;
    position: relative;
}

.places_map_legend_color {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.places_map_legend_item_booked .places_map_legend_title {
    color: #858597;
}

.place_tooltip {
    display: none;
    z-index: 100;
    padding-bottom: 10px;
    position: absolute;
}

.place_tooltip_content {
    position: relative;
    font-size: 0.92em;
    padding: 0.6em;
    background: #fff;
    -webkit-box-shadow: 0.25em 0.25em 0.5em rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0.25em 0.25em 0.5em rgba(0, 0, 0, 0.2);
    box-shadow: 0.25em 0.25em 0.5em rgba(0, 0, 0, 0.2);
}

.place_tooltip_content td {
    padding: 3px 4px;
}

.place_tooltip table,
.place_tooltip table tr {
    display: block;
}

.place_tooltip:before {
    /* shadow effect for triangle */
    content: "";
    height: 5px;
    left: 50%;
    margin-left: -5px;
    position: absolute;
    bottom: 0;
    width: 10px;
    -moz-box-shadow: 0 6px 5px rgba(0, 0, 0, 0.13);
    -webkit-box-shadow: 0 6px 5px rgba(0, 0, 0, 0.13);
    box-shadow: 0 6px 5px rgba(0, 0, 0, 0.13);
}

.place_tooltip:after {
    /* bottom triangle */
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -10px;
    border-top: 10px solid #fff;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
}

.place_tooltip_label {
    display: inline;
}

.place_tooltip_value {
    display: inline;
    font-weight: bold;
}

.place_tooltip_status {
    display: block;
    font-weight: bold;
    padding-top: 0.4em;
}

/* Modal
================================ */

.bo-modal h2 {
    font-size: 22px;
    margin-bottom: 1px;
}

.bo-modal-view-all {
    float: left;
    margin-top: 3px;
}

.bo-modal .bo-close-btn {
    position: absolute;
    right: 9px;
    top: 8px;
}

.bo-modal-date {
    display: inline-block;
    margin-right: 22px;
}

.bo-modal-time {
    display: inline-block;
}

.bo-modal-place {
    display: block;
    margin-top: -1px;
}

.bo-modal-form .control-label {
    padding-right: 0;
    margin-right: -4px;
}

.bo-modal-form .form-group {
    margin-bottom: 9px;
}

.bo-modal-form .form-group-sm {
    margin-bottom: 9px;
}

.bo-modal-form-empty-input {
    padding-top: 7px;
    padding-bottom: 7px;
}

.bo-modal-datetime_block {
    margin-bottom: 18px;
}

.bo-modal-form-period {
}

.bo-modal-form-weekdays {
}

.bo-modal-form-monthdays {
}

.bo-modal-form-frequency {
    display: inline-block;
    margin-right: 11px;
}

.bo-modal-form-frequency-servant {
    display: inline-block;
    vertical-align: middle;
}

#email_popup_periods,
#email_popup_weekdays,
#email_popup_monthdays {
    display: none;
}

.bo-confirm-modal .modal-header {
    background: transparent;
    padding-left: 23px;
    padding-top: 10px;
}

.bo-confirm-modal .modal-title {
    font-size: 32px;
    color: #263443;
}

.bo-modal.bo-confirm-modal .bo-close-btn {
    right: 23px;
    top: 21px;
}

.bo-confirm-modal .modal-footer {
    padding-right: 26px;
    padding-bottom: 23px;
}

.bo-confirm-modal .modal-body {
    padding: 5px 22px 15px;
}

/* Close button
================================ */

.bo-close-btn {
    padding: 5px 7px 6px;
    line-height: 0.9;
}

.bo-close-btn .fa {
    font-size: 14px;
}

/* Toggle
================================ */
.bo-top-filter-toggler {
    margin-left: 8px;
    padding-top: 3px;
}

.bo-top-filter-toggler .toggle {
    width: 50px;
}

.bo-top-filter-toggler > .input-group {
    width: auto;
}

/* Chart controls
================================ */

.bo-chartcontrols > .btn-group {
    margin-bottom: 7px;
}

.bo-chartcontrols > .btn-group:nth-child(2) {
    margin-left: 7px;
}

/* Tabs
================================ */
.bo-tabs-holder {
    display: flex;
}

.bo-tabs-holder .nav-tabs {
    flex-grow: 100;
}

.bo-tabs-controls {
    margin-bottom: 26px;
}

.bo-tabs-controls-item {
    width: 100%;
}

.bo-tabs-controls-short {
    margin-bottom: 8px;
}

.bo-tabs-controls .form-inline > .form-group {
    margin-bottom: 7px;
}

/* Left column
================================ */
.bo-column-menu {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #cdd2d8;
    background: #f7f9fb;
    padding: 1px;
    margin-bottom: 20px;
}

.bo-column-menu-itemlist {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.bo-colum-menu-item {
    background: #edf0f4;
    line-height: 23px;
}

.bo-colum-menu-item + .bo-colum-menu-item {
    border-top: 1px solid #cfd1d4;
}

.bo-colum-menu-item.bo-colum-menu-item-marked + .bo-colum-menu-item,
.bo-colum-menu-item + .bo-colum-menu-item.bo-colum-menu-item-marked {
    border-top: 1px solid #f7f9fb;
}

.bo-colum-menu-item-marked {
    background: #dcdfe6;
}

.bo-colum-menu-item a {
    color: #263443;
    text-decoration: none;
    display: block;
    font-size: 14px;
    padding: 8px 10px 12px 15px;
}

.bo-colum-menu-item a span {
    display: inline-block;
    vertical-align: middle;
    line-height: 1.4;
}

/* Color Inverse
================================ */

.boLightGamma .navbar {
    background: #fff;
    color: #000;
}

.boLightGamma .navbar-nav > li > a {
    color: #000;
}

.boLightGamma .bo-user-name {
    color: #000;
}

.boLightGamma .navbar-nav > li.active > a,
.boLightGamma .navbar-nav > li.active > a:hover,
.boLightGamma .navbar-nav > li.active > a:focus {
    color: #fff;
    background-color: #5e7287;
}

.boLightGamma .navbar-nav > li > a:hover,
.boLightGamma .navbar-nav > li > a:focus {
    color: #000;
}

.boLightGamma .bo-pills-block {
    color: #fff;
    background-color: #5e7287;
}

.boLightGamma .nav-pills > li > a {
    opacity: 0.8;
    color: #fff;
}

.boLightGamma .nav-pills > li > a:focus,
.boLightGamma .nav-pills > li > a:hover {
    color: #fff;
    opacity: 1;
}

.boLightGamma .nav-pills > li.active > a,
.boLightGamma .nav-pills > li.active > a:focus,
.boLightGamma .nav-pills > li.active > a:hover {
    color: #fff;
    opacity: 1;
}

/* Block ui
================================ */

.block-ui {
    min-height: 150px;
}

.block-ui.events-loader {
    background: #fff;
}

.block-ui.events-loader[aria-busy="false"] {
    display: none;
}

.asd .dropdown-menu {
    position: relative;
}

/* Plus minus
================================ */

.table td .bo-plusminus {
    white-space: nowrap;
}

.bo-plusminus-button {
    display: inline-block;
    background: #5e7287;
    color: #fff;
    height: 25px;
    border: 1px solid #576778;
    vertical-align: middle;
    width: 24px;
    text-align: center;
    line-height: 24px;
    font-size: 14px;
    cursor: pointer;
}

.bo-plusminus-minus {
    border-right: 0 none;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
}

.bo-plusminus-plus {
    border-left: 0 none;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
}

.bo-plusminus-input {
    display: inline-block;
    text-align: center;
    background: #edf0f4;
    color: #040e19;
    width: 37px;
    border: 0 none;
    height: 25px;
    vertical-align: middle;
    font-size: 14px;
    padding: 0;
}

/* reservation
================================ */

.bo-reservation-selected-section-title {
    padding-top: 7px;
}

.bo-reservation-table {
    margin-bottom: 28px;
}

.bo-reservation-table tr td {
    /*padding: 2px 0 3px;*/
    line-height: 26px;
}

.bo-reservation-table tr td:first-child {
    min-width: 125px;
    padding-right: 15px;
}

.bo-reservation-table-title {
    margin-bottom: 15px;
}

.bo-reservation-email-data {
    margin-bottom: 80px;
}

.bo-reservation-inline-buttons {
    margin-bottom: 14px;
}

.bo-reservation-selected-type {
    margin-bottom: 19px;
}

.bo-reservation-form-block {
    margin-bottom: 21px;
}

.bo-reservation-phone .form-group:first-child {
    padding-right: 6px;
}

.bo-reservation-phone .form-group:last-child {
    padding-left: 0;
}

.bo-reservation-footer-butons {
    padding-top: 4px;
}

/* tabledrop
================================ */

.bo-tabledrop-table tbody + tbody {
    border-top: 0 none;
}

.bo-tabledrop-table tbody tr td,
.bo-tabledrop-table tbody tr th {
    vertical-align: middle;
}

.bo-tabledrop-master {
    cursor: pointer;
}

.bo-tabledrop-master .fa-sort-desc {
    display: none;
    position: relative;
    top: -6px;
}

.collapsed .bo-tabledrop-master .fa-sort-desc {
    display: inline-block;
}

.collapsed .bo-tabledrop-master .fa-sort-asc {
    display: none;
}

tbody:not(.collapsed) .bo-tabledrop-master,
.bo-tabledrop {
    background: #edf0f4;
}

tbody:not(.collapsed) .bo-tabledrop-master td,
.bo-tabledrop td {
    position: relative;
    -webkit-box-shadow: 0px 0px 0px 1px #f7f9fb inset;
    -moz-box-shadow: 0px 0px 0px 1px #f7f9fb inset;
    box-shadow: 0px 0px 0px 1px #f7f9fb inset;
}

.collapsed .bo-tabledrop {
    display: none;
}

.bo-tabledrop.collapsing {
    position: static;
}

.bo-tabledrop-notes {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bo-tabledrop-notes-item:first-child {
    padding-right: 10px;
}

.bo-tabledrop-notes-item:first-child::before {
    content: "";
    position: absolute;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #cdd2d8;
    height: 2px;
    background: #edf0f4;
    top: -7px;
    left: 40px;
}

.bo-tabledrop-notes-item:first-child::after {
    content: "";
    position: absolute;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #edf0f4;
    top: -6px;
    left: 39px;
}

/* form inline
================================ */

.bo-form-inline {
    display: flex;
    justify-content: space-between;
    margin-bottom: 22px;
}

.bo-form-inline .form-group + .form-group {
    margin-left: 3px;
}

.bo-form-inline .form-group {
    width: 100%;
}

.bo-form-inline .form-group > input.form-control,
.bo-form-inline .form-group > .dropdown > .btn {
    width: 100%;
}

*[ng-click] {
    cursor: pointer;
}

/* enable absolute positioning */
.inner-addon {
    position: relative;
}

/* style icon */
.inner-addon .fa {
    position: absolute;
    padding: 10px;
}

/* align icon */
.left-addon .fa {
    left: 0px;
}

.right-addon .fa {
    right: 0px;
}

/* add padding  */
.left-addon input {
    padding-left: 30px;
}

.right-addon input {
    padding-right: 30px;
}

.btn.btn-bookings {
    text-decoration: none;
    padding: 2px 10px;
    margin: 7px 0 0 10px;
    background: #ff4172;
    color: #fff;
}

.btn.btn-bookings:hover {
    color: #fff;
}
/* Datepicker */

._720kb-datepicker-calendar {
    border: 1px solid #e3e6ec;
    -moz-box-shadow: 0 5px 6px rgba(49, 61, 74, 0.1);
    -webkit-box-shadow: 0 5px 6px rgba(49, 61, 74, 0.1);
    box-shadow: 0 5px 6px rgba(49, 61, 74, 0.1);
    border-radius: 0;
    min-width: 240px;
}

._720kb-datepicker-calendar-header:nth-child(odd) {
    background: #e3e6ec;
    height: 34px;
    border: 8px solid #fff;
    line-height: 24px;
    border-bottom: 0;
}

._720kb-datepicker-calendar-month {
    color: #040e19;
}

._720kb-datepicker-calendar-month span {
    color: #040e19;
    font-weight: normal;
}

._720kb-datepicker-calendar-days-header {
    border: 8px solid #fff;
    border-top: 0;
    border-bottom: 0;
    background: #fff;
    padding: 0;
}

._720kb-datepicker-calendar-days-header div {
    border: 1px solid #f2f2f2;
    border-bottom: 2px solid #d8d8d8;
    padding: 4px 0;
}


._720kb-datepicker-calendar-body {
    border: 8px solid #fff;
    border-top: 0;
    border-bottom: 0;
    margin: 0;
    padding: 0;
}

._720kb-datepicker-calendar-day {
    background: #fff !important;
    padding: 3px 0;
    width: 14.15%;
    margin: 0;
    border: 1px solid #f2f2f2;
}

._720kb-datepicker-calendar-day._720kb-datepicker-active, ._720kb-datepicker-calendar-day:not(._720kb-datepicker-disabled):hover {
    background-color: #357ebd !important;
    color: #fff;
}

/* Booking form
================================ */

.submitted input.ng-invalid {
    border: 1px solid #c60000;
}
/* Sliding and dropdowned tabs
================================ */
.ng-sliding-tabs {
	white-space: nowrap;
	display: inline-block;
	width: 100%;
	overflow: hidden;
}

.ng-sliding-tabs > li {
	float: none;
	display: inline-block;
}

.bo-dropdown-tabs-wrapper {
	position: relative;
}

.sliding-tabs-dropdown {
	position: absolute;
	right: 0;
	top: 13px;
	padding-left: 20px;
}
.sliding-tabs-dropdown .dropdown-toggle {
	color: #27394c;
	text-decoration: none;
}