@media print {

}

/* Bootstrap xs, md, lg
================================ */
@media (min-width: 768px) {

}

/* Bootstrap xs
================================ */
@media (max-width: 767px) {
    .bo-nav-tabs > li > a > .tab-name {
        display: none;
    }
    .bo-nav-tabs.nav-stacked > li > a > .tab-name {
        display: inline-block;
    }

    .bo-navbar .navbar-header {
        float: left;
    }

    .bo-navbar .bo-additional-nav {
        text-align: right;
    }

    .navbar-nav {
        margin: 0 -15px;
    }

    .bo-additional-nav .nav > li > a > span,
    .bo-additional-nav .nav > li > a > .bo-double-row {
        display: none;
    }
    .bo-additional-nav .nav > li {
        display: inline-block;
    }
    .bo-additional-nav .navbar-nav .open .dropdown-menu {
        position: absolute;
        float: left;
        background-color: #fff;
        border: 5px solid #fff;
        -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);;
        box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    }
    .bo-additional-nav .navbar-nav .open .dropdown-menu > li > a:hover,
    .bo-additional-nav .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #5e7287;
        background-color: #edf0f4;
    }
    .bo-additional-nav .navbar-nav .open .dropdown-menu > li.bo-selected > a,
    .bo-additional-nav .navbar-nav .open .dropdown-menu > li.bo-selected > a:hover {
        color: #fff;
        background-color: #5e7287;
    }
    .bo-additional-nav .dropdown-menu {
        right: 0;
        left: auto;
    }
}

/* Bootstrap sm
================================ */
@media (min-width: 768px) and (max-width: 992px) {

}

/* Custom ranges
================================ */
@media (min-width: 768px) and (max-width: 1199px) {
    .bo-navbar .nav > li > a > span,
    .bo-navbar .nav > li > a > .bo-double-row {
        display: none;
    }
}