@media print {
	.bo-sub-menu,
	header {
		display: none;
	}
}

@media (min-width: 768px) {
	.bo-language-dropdown {
		margin-right: -15px;
	}

	.navbar-nav > li > a.bo-user-dropdown {
		padding-top: 0;
		padding-bottom: 0;
		line-height: 51px;
	}

	.navbar-nav > li > a.bo-user-dropdown > .fa {
		margin-right: 18px;
	}

	.navbar-nav > li > a.bo-user-dropdown .bo-user {
		display: inline-block;
		vertical-align: middle;
		line-height: 1;
		text-align: right;
	}

	li.header_message_link > a {
		padding-right: 4px;
	}
}

@media (max-width: 767px) {
	.bo-event-share-block {
		text-align: center;
	}

	.bo-logo {
		position: absolute;
		left: 50%;
		margin-left: -85px;
	}

	.bo-event-price {
		margin-top: 8px;
	}

	.bo-pills-block {
		display: none;
	}

	.login-box .bo-language-dropdown {
		padding-right: 0;
		margin: 0 -15px 0 -19px;
	}

	.login-box li.bo-language-dropdown > a.dropdown-toggle {
		position: absolute;
		right: 15px;
		top: -46px;
		padding: 5px 10px;
	}

	.login-box .navbar-nav li.open.bo-language-dropdown .dropdown-menu {
		background: #fff;
		border-radius: 0;
	}

	.login-box .navbar-nav li.open.bo-language-dropdown .dropdown-menu > li > a {
		color: #333;
		text-decoration: none;
	}

	.login-box .navbar-nav li.open.bo-language-dropdown .dropdown-menu > li > a:focus,
	.login-box .navbar-nav li.open.bo-language-dropdown .dropdown-menu > li > a:hover {
		background: #f5f5f5;
		color: #262625;
	}
}

@media (min-width: 768px) and (max-width: 992px) {
	.bo-logo {
		width: 100px;
	}

	.bo-logo img {
		max-width: 100%;
	}

	.navbar-nav > li > a {
		padding-left: 8px;
		padding-right: 8px;
	}
}

@media (min-width: 1200px) {
	.bo-right-column {
		margin-top: 27px;
	}

	.navbar-nav > li > a > .fa {
		margin-right: 6px;
	}
}