<script type="text/javascript" src="${url:static( "js/knockout/knockout-3.2.0.min.js" )}"></script>

<section class="page-header">

    <h1>${ translate:text("meny_09") }</h1>
    
</section>

${ getMessages() }

<!-- Grid row -->
<div class="row-fluid">

    <article class="data-block">
        <section id="mainSection">
	        <form method="post" id="dateStartForm" action="${ url:page("sellDate/doStartDate") }" autocomplete="off" class="form-horizontal" onsubmit="return formSubmit();">
	            <div class="span6">
	                <div class="control-group ${ if isNotValid("blankNumber") then do }error${ end }">
	                    <label class="control-label" for="blankNumber">${ translate:text( "bo_elem072") }</label>
	                    <div class="controls">${ render("blankNumber", "class=span9" ) }</div>
	                </div>
	                <div class="control-group ${ if isNotValid("comments") then do }error${ end }">
	                    <label class="control-label" for="comments">${ translate:text( "bo_elem100") }</label>
	                    <div class="controls">${ render("comments", "class=input-xlarge,rows=5") }</div>
	                </div>
	            </div>
                <div class="span6">
	                <div class="control-group">
	                    <label class="control-label" for="salespoint">${ translate:text( "bo_elem040") }</label>
	                    <div class="controls">${ render("salespoint") }</div>
	                </div>
	                <div class="control-group">
	                    <label class="control-label" for="user">${ translate:text( "bo_elem042") }</label>
	                    <div class="controls">${ render("user") }</div>
	                </div>
	                <div class="control-group">
	                    <label class="control-label" for="datetime">${ translate:text( "bo_elem020") }</label>
	                    <div class="controls">${ render("datetime") }</div>
	                </div>
                </div>
                <div style="clear:both;">&nbsp;</div>
	        </form>
        </section>
    </article>

</div>
<!-- /Grid row -->
      