<div class="container">
	<section class="page-header">
	    <h1>${ translate:text("meny_04") }</h1>
	</section>
	
	${ getMessages() }
	
	<!-- Grid row -->
	<div class="row-fluid">
	
	  <article class="data-block span6">
	
	     <section>
	           <form method="post" id="changePswForm" action="${ url:page("user/doChangePsw") }" autocomplete="off" class="form-horizontal">
	           
	           <!-- currently valid password -->
	           
	           <div class="control-group ${ if isNotValid("password") then do }error${ end }">
	               <label class="control-label" for="password">${ translate:text( "pood_r38") }</label>
	               <div class="controls">${ render("password") }</div>
	           </div>
	           
	            <!-- new password -->
	           
	           <div class="control-group ${ if isNotValid("newPasswordFld") then do }error${ end }">
	               <label class="control-label" for="newPasswordFld">${ translate:text( "pood_r39") }</label>
	               <div class="controls">${ render("newPasswordFld") }</div>
	           </div>
	            
	            <!-- confirm new password -->
	           
	           <div class="control-group ${ if isNotValid("newPasswordConfirmFld") then do }error${ end }">
	               <label class="control-label" for="newPasswordConfirmFld">${ translate:text( "pood_r40") }</label>
	               <div class="controls">${ render("newPasswordConfirmFld") }</div>
	           </div>
	           
	           <div class="controls">
	               ${ render("submit", "class=btn btn-primary") }               
	           </div>
	           </form>
	     </section>
	  </article>
	</div>
	<!-- /Grid row -->
</div>
