<section class="page-header" style="text-align: center;">
    
    <form id="searchForm" name="searchForm" action="" method="GET">
		<div class="typeahead-container">
	        <div class="typeahead-field">
			    <div class="input-append typeahead-query">
			        <input id="searchInput" name="query" type="text" class="span6" placeholder="FIND event, artist, venue, organizer" autocomplete="off">
			        <span class="typeahead-button"><button type="submit" id="searchButton" class="btn btn-success">SEARCH</button></span>
	            </div>
	        </div>
	    </div>
    </form>
    
</section>

<!-- Grid row -->
<div class="row-fluid">

    <!-- Filter block -->
    <article class="data-block accordion-block span2_5">
        <div class="filterBlock">
            <button id="allMyEventsFilterButton" class="btn w100">All my center events</button>
        </div>
        <div class="filterBlock">
            <button id="todayFilterButton" class="btn w50">Today</button>
            <button id="weekendFilterButton" class="btn w50">Weekend</button>
        </div>
        <div>
            <div class="input-append"><input class="datepicker input-small" id="from" name="from" value="" type="text" placeholder="from"><span class="add-on"><i class="awe-calendar"></i></span></div>
            <div class="input-append"><input class="datepicker input-small" id="to" name="to" value="" type="text" placeholder="to"><span class="add-on"><i class="awe-calendar"></i></span></div>
        </div>
        <div id="accordionName" class="accordion">
            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle collapsed" href="#accordionTabOne" data-parent="#accordionName" data-toggle="collapse">By category<span class="caret"></span></a>
                </div>
                <div id="accordionTabOne" class="accordion-body collapse" style="height: 0px;">
                    <div class="accordion-inner">By category filter</div>
                </div>
            </div>
            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle" href="#accordionTabTwo" data-parent="#accordionName" data-toggle="collapse">By status<span class="caret"></span></a>
                </div>
                <div id="accordionTabTwo" class="accordion-body collapse">
                    <div class="accordion-inner">By status filter</div>
                </div>
            </div>
            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle" href="#accordionTabThree" data-parent="#accordionName" data-toggle="collapse">By city / region<span class="caret"></span></a>
                </div>
                <div id="accordionTabThree" class="accordion-body collapse">
                    <div class="accordion-inner">By city / region filter</div>
                </div>
            </div>
        </div>
        <div class="filterTopPaddingBlock">
            <button id="clearFilterButton" class="btn btn-primary w100">Clear filters</button>
        </div>
    </article>
    <!-- Filter block -->
       
    <!-- Items block -->
    <article class="data-block span6">
        <section class="tab-content">
		    <div role="tabpanel">
			
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
				  <li role="presentation" class="active"><a href="#mytop" aria-controls="mytop" role="tab" data-toggle="tab">Top & recomended & sale starts today</a></li>
				  <li role="presentation"><a href="#newevents" aria-controls="newevents" role="tab" data-toggle="tab">New Events</a></li>
				</ul>
				
				<!-- Tab panes -->
				<div class="tab-content">
				  <div role="tabpanel" class="tab-pane active" id="mytop">Top & recomended & sale starts today</div>
				  <div role="tabpanel" class="tab-pane" id="newevents">New Events</div>
				</div>
				
			</div>
		</section>
    </article>
    <!-- Items block -->

    <!-- News block -->
    <article class="data-block span3">
        <section class="tab-content">
            <div role="tabpanel">
            
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                  <li role="presentation"><a href="#mysales" aria-controls="mysales" role="tab" data-toggle="tab">My sales history</a></li>
                  <li role="presentation" class="active"><a href="#news" aria-controls="news" role="tab" data-toggle="tab">News</a></li>
                </ul>
                
                <!-- Tab panes -->
                <div class="tab-content">
                  <div role="tabpanel" class="tab-pane" id="mysales">Home</div>
                  <div role="tabpanel" class="tab-pane active" id="news">News</div>
                </div>
                
            </div>
        </section>
    </article>
    <!-- News block -->

</div>
<!-- /Grid row -->

<script src="${url:static( "js/plugins/datepicker/bootstrap-datepicker.js" )}"></script>
<script src="${url:static( "js/plugins/typeahead/jquery.typeahead.js" )}"></script>

<script>
	$('#searchInput').typeahead({
	    minLength: 1,
	    dynamic: true,
	    hint: true,
	    group: true,
	    groupMaxItem: 4,
	    maxItem: 16,
	    delay: 500,
	    display: "name",
	    template: '{{name}}<br/>' + '{{address}}<br/>' + '{{date}}',
	    source: {
	        events: {
	            url: [{
	                type: "POST",
	                url: "${ url:page("api/search" ) }",
	                data: {
	                    query: "{{query}}"
	                }
	            }, "data.events"]
	        },
            artists: {
                url: [{
                    type: "POST",
                    url: "${ url:page("api/search" ) }",
                    data: {
                        query: "{{query}}"
                    }
                }, "data.artists"]
            },
            venues: {
                url: [{
                    type: "POST",
                    url: "${ url:page("api/search" ) }",
                    data: {
                        query: "{{query}}"
                    }
                }, "data.venues"]
            },
            promoters: {
                url: [{
                    type: "POST",
                    url: "${ url:page("api/search" ) }",
                    data: {
                        query: "{{query}}"
                    }
                }, "data.promoters"]
            }
	    },
	    callback: {
	        onClick: function (node, a, obj, e) {
	            alert(JSON.stringify(obj));
	        }
	    }
	});	
	
    $(document).ready(function() {
        $('.datepicker').datepicker({'format': 'dd.mm.yyyy', 
                                     'weekStart': 1,
                                     'autoclose': true,
                                     'todayHighlight': true});
        $('#from').focus(function() {
            $('#to').datepicker('hide')
        });
        $('#to').focus(function() {
            $('#from').datepicker('hide')
        });
        $('#searchInput').focusout();
        $('#searchInput').focus();
    });
</script>