<script type="text/javascript" src="${url:static( "js/knockout/knockout-3.2.0.min.js" )}"></script>
<script type="text/javascript" src="${url:static( "js/plugins/svg/jquery.svg.min.js" )}"></script>
<script type="text/javascript" src="${url:static( "js/plugins/svg/jquery.svgdom.min.js" )}"></script>

<section class="page-header">
    <h1>${ translate:text("meny_01") }</h1>
</section>

${ getMessages() }

<!-- Grid row -->
<div class="row-fluid">

  <article class="data-block">

     <section style="min-height: 500px;" id="mainSection">
         <form method="post" id="concertForm" action="${ url:page("sell/office") }" autocomplete="off" class="form-vertical">
	         <div class="control-group">
	             <div class="controls">
		             <select data-bind="options: concerts, 
	                           optionsCaption: '...',
	                           optionsText: function(item) {
	                              return item.recordStatus() + ' ' + item.place() + ' ' + item.name(); 
	                           },
	                           value: chosenConcert" class="span6"></select>
                     <button data-bind="click: showSearch" class="btn btn-primary">${ translate:text("bo_btn006") }</button>
		             <button data-bind="enable: chosenConcert, 
	                           click: showInfo" disabled="" class="btn btn-primary">${ translate:text("bo_btn010") }</button>
                     <button data-bind="enable: chosenConcert, 
                               click: showLegend" disabled="" class="btn btn-primary">${ translate:text("bo_elem003") }</button>
                     <button data-bind="click: showNews" enabled="" class="btn btn-primary">${ translate:text("bo_adm371") }</button>
                 </div>
	         </div>
	         <div class="controls">
	            <p data-bind="with: chosenConcert">
	                <b data-bind="text: hotinfo" style="color: #ca5640;"></b>
	            </p>
	         </div>
             <div class="controls" data-bind="visible: isVisibleSectionBlock">
                <div data-bind="with: chosenConcert">
	                <div style="float: left; width: 40%;">
		                <table class="table" id="sectorsTable">
		                    <thead>
		                        <tr>
		                            <th>${ translate:text("bo_elem030") }</th>
		                            <th>${ translate:text("bo_sell003") }</th>
		                            <th>${ translate:text("bo_elem039") }</th>
		                        </tr>
		                    </thead>
		                    <tbody data-bind="foreach: sectors">
		                        <tr data-bind="attr:{id:'rowsection'+id()}">
		                            <td style="vertical-align: top"><a data-bind="attr:{href:id()}, text: name" class="sector"></a></td>
		                            <td style="vertical-align: top">
		                                <div data-bind="foreach: info">
	                                        <!-- ko if: hasColorCode -->
	                                            <div data-bind="attr: {style: 'float: left; width: 15px; height: 15px; border: 1px solid #000000; margin-right: 8px; background-color: ' + colorCode()}"></div>
	                                        <!-- /ko -->
		                                    <div data-bind="text: freeTotal" style="float: left;"></div>
											<!-- ko if: hasColorCode -->
		                                        <div style="clear: both;"></div>
											<!-- /ko -->
		                                </div>
		                            </td>
		                            <td style="vertical-align: top">
		                                <div data-bind="foreach: info">
		                                    <div data-bind="text: priceName"></div>
		                                </div>
		                            </td>
		                        </tr>
		                    </tbody>
		                </table>
	                </div>
	                <div style="float: left; width: 60%;">
	                    <div id="sectionSvgWrapper" style="width: 400px; min-height: 400px; margin-left: auto; margin-right: auto;"></div>
	                </div> 
                </div> 
             </div>
             <div class="controls" data-bind="visible: isVisibleSeatsBlock">
                <div data-bind="with: chosenSector">
                    <div>
	                    <div style="float: left; padding-right: 15px; padding-top: 5px;">${ translate:text("bo_elem030") }: <span data-bind="text: name" style="font-weight: bold;"></span></div>
	                    <div style="float: left;"><button data-bind="click: $parent.enableSectorBlock" class="btn btn-info">${ translate:text("bo_btn012") }</button></div>
                    </div>
                    <div style="clear: both;">&nbsp;</div>
                    <div style="float: left; width: 35%;">
                        <table class="table" id="seatsTable">
                            <thead>
                                <tr>
                                    <th class="span1">&nbsp;</th>
                                    <th class="span2">${ translate:text("bo_sell003") }</th>
                                    <th class="span2">${ translate:text("bo_elem032") }</th>
                                    <th class="span2">${ translate:text("bo_sell019") }</th>
                                </tr>
                            </thead>
                            <tbody data-bind="foreach: info">
                                <tr>
                                    <td align="right" style="vertical-align: middle;">
                                        <!-- ko if: hasColorCode -->
                                            <div data-bind="attr: {style: 'width: 15px; height: 15px; border: 1px solid #000000; margin-right: 8px; background-color: ' + colorCode()}"></div>
                                        <!-- /ko -->
                                    </td>
                                    <td data-bind="text: freeTotal" style="vertical-align: middle;"></td>
                                    <td data-bind="text: priceName" style="vertical-align: middle;"></td>
                                    <td><div data-bind="text: clickSum"></div></td>
                                </tr>
                            </tbody>
                        </table>
                        <button data-bind="click: $parent.showBasket, enable: $parent.hasChoosenSeats" disabled="" class="btn btn-info">${ translate:text("bo_btn011") }</button>
                        
                        <div data-bind="visible: $parent.isVisibleChoosenSeatsBlock">
	                        <table class="table" id="choosenSeatsTable">
	                            <thead>
	                                <tr>
	                                    <th class="span2">${ translate:text("bo_elem031") }</th>
	                                    <th class="span2">${ translate:text("bo_elem032") }</th>
	                                    <th class="span2">${ translate:text("bo_adm053") }</th>
	                                    <th><a class="label label-important" data-bind="click: $parent.removeAllChosenSeats, visible: $parent.enableRemoveAllButton">${ translate:text("bo_btn025_all") }</a></th>
	                                </tr>
	                            </thead>
	                            <tbody data-bind="foreach: $parent.chosenSeats">
	                                <tr data-bind="attr:{id:'rowplace_'+seatId()}">
	                                    <td data-bind="text: rowNr"></td>
	                                    <td data-bind="text: seatNr"></td>
	                                    <td data-bind="text: price"></td>
	                                    <td><a class="label label-important" data-bind="attr: {href:seatId()}" class="removeSeat">${ translate:text("bo_btn025") }</a></td>
	                                </tr>
	                            </tbody>
	                        </table>
                        </div>

                        <div data-bind="with: $parent.chosenSector, visible: $parent.isVisibleCustomBlock" style="position:relative; padding-top:20px;">
                            <div class="input-prepend">
                                <span class="add-on">${ translate:text("bo_sell023") }</span>
                                <input type="text" id="stangingPlaces" name="stangingPlaces" data-bind="text: $parent.standingPlaces" class="span3 text-right">
                                <select data-bind="options: type,
                                              optionsText: 'priceType',
                                              value: $parent.chosenStandingType" class="span5" style="margin-left: 2px;"></select>
                            </div>
				       </div>
                    </div>
                    <div style="float: left; width: 65%;">
                        <div id="seatsSvgWrapper" style="width: 700px; min-height: 400px; margin-left: auto; margin-right: auto;"></div>
                    </div> 
                </div> 
             </div>
         </form>

		<div class="modal fade hide" id="legendModal">
		    <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal">×</button>
		        <h3>${ translate:text("bo_elem003") }</h3>
		    </div>
		    <div class="modal-body">
		        <div style="position: relative; min-height: 300px">
			        <div style="position: absolute; left: 0; top: 0; width: 300px;">
	                    ${ if hasPriceMap() then do }
	                       <h3>${ translate:text("bo_sell020") }</h3>
	                        ${ while nextPriceMap() do }
	                        <div style="position: relative; clear: both;">
	                            <div style="float: left; width: 15px; height: 15px; background-color: ${ getPriceMapValue() }; border: 1px solid #000000; margin-right: 8px;"></div> 
	                            <div style="float: left">${ getPriceMapKey() }</div>
	                        </div>
	                        ${ end }
	                    ${ end }
			        </div>
	                <div style="position: absolute; right: 0; top: 0; width: 220px;">
	                    ${ if hasOperationMap() then do }
    	                    <h3>${ translate:text("bo_sell021") }</h3>
	                        ${ while nextOperationMap() do }
                            <div style="position: relative; clear: both;">
                                <div style="float: left; width: 15px; height: 15px; background-color: ${ getOperationMapValue() }; border: 1px solid #000000; margin-right: 8px;"></div> 
                                <div style="float: left">${ getOperationMapKey() }</div>
                            </div>
	                        ${ end }
	                    ${ end }
	                </div>
                </div>
		    </div>
		    <div class="modal-footer">
		        <a href="#" class="btn" data-dismiss="modal">${ translate:text("bo_elem001") }</a>
		    </div>
		</div>

        <div class="modal fade show" id="basketModal">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h3>Basket</h3>
            </div>
            <div class="modal-body">
                Data
            </div>
            <div class="modal-footer">
                <a href="#" class="btn" data-dismiss="modal">${ translate:text("bo_elem001") }</a>
            </div>
        </div>

        <div class="modal fade show" id="searchModal">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h3>Search form</h3>
            </div>
            <div class="modal-body">
                Data
            </div>
            <div class="modal-footer">
                <a href="#" class="btn" data-dismiss="modal">${ translate:text("bo_elem001") }</a>
            </div>
        </div>

        <div class="modal fade show" id="infoModal">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h3>${ translate:text("bo_btn010") }</h3>
            </div>
            <div class="modal-body">
                <div data-bind="text: concertInformation"></div>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn" data-dismiss="modal">${ translate:text("bo_elem001") }</a>
            </div>
        </div>

        <div class="modal fade show" id="newsModal">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h3>${ translate:text("bo_adm371") }</h3>
            </div>
            <div class="modal-body">
                <div data-bind="text: news"></div>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn" data-dismiss="modal">${ translate:text("bo_elem001") }</a>
            </div>
        </div>

     </section>
  </article>
</div>
<!-- /Grid row -->

<script type="text/javascript">
	var concert = function (data) {
	    return {
	        id: ko.observable(data.id),
            confId: ko.observable(data.confId),
	        name: ko.observable(data.name),
	        place: ko.observable(data.place),
	        date: ko.observable(data.date_st),
	        time: ko.observable(data.time_st),
	        recordStatus: ko.observable(data.recordStatus),
	        buyLock: ko.observable(data.buyLock),
	        returnLock: ko.observable(data.returnLock),
            hotinfo: ko.observable(data.hotinfo),
            sectors : ko.observable(),
	    };
	};

    var sector = function (data, sectorData, sectorPriceType) {
        return {
            id: ko.observable(data.sectorId),
            name: ko.observable(data.name),
            hasLodge: ko.observable(data.hasLodge),
            info: ko.observable(sectorData),
            seats: ko.observable(),
            type: ko.observable(sectorPriceType),
        };
    };

    var sectorData = function (data) {
        return {
            priceClass: ko.observable(data.priceClass),
            freeSeating: ko.observable(data.freeSeating),
            freeStanding: ko.observable(data.freeStanding),
            freeTotal: ko.observable(data.freeTotal),
            priceTotal: ko.observable(data.priceTotal),
            reserved: ko.observable(data.reserved),
            sold: ko.observable(data.sold),
            colorCode: ko.observable(data.colorCode),
            hasColorCode: ko.observable(data.colorCode ? true : false),
            priceName: ko.observable(data.priceName),
            clickSum: ko.observable(0)
        };
    };

    var sectorPriceType = function (data) {
        return {
            priceClass: ko.observable(data.priceClass),
            priceType: ko.observable(data.priceType)
        };
    };

    var seat = function (data) {
        return {
            id: ko.observable(data.id),
            seatId: ko.observable(data.seatId),
            rowNr: ko.observable(data.rowNr),
            seatNr: ko.observable(data.seatNr),
            priceClass: ko.observable(data.priceClass),
            colorCode: ko.observable(data.colorCode),
            priceType: ko.observable(data.priceType),
            ticketStatus: ko.observable(data.ticketStatus),
            price: ko.observable(data.price),
        };
    };

	var viewModel = {
      concerts : ko.observable(),
      chosenConcert : ko.observable(),
      chosenSector : ko.observable(),
      chosenSeats : ko.observable(),
      chosenStandingType : ko.observable(),
      isVisibleSectionBlock: ko.observable(false),
      isVisibleSeatsBlock: ko.observable(false),
      isVisibleChoosenSeatsBlock: ko.observable(false),
      isVisibleCustomBlock: ko.observable(false),
      isStandingPlacesFilled: ko.observable(false),
      concertInformation: ko.observable(),
      standingPlaces: ko.observable(),
      news : ko.observable(),
      hasChoosenSeats: ko.pureComputed(function() {
          if ((viewModel.chosenSeats() && viewModel.chosenSeats().length > 0)) {
              return true;
          }
          if (viewModel.isStandingPlacesFilled()) {
              return true;
          }
          return false;
      }),
      enableRemoveAllButton: ko.pureComputed(function() {
          if (viewModel.chosenSeats() && viewModel.chosenSeats().length > 1) {
              return true;
          }
          return false;
      }),
      enableChoosenSeats : function() { 
        if ($("#stangingPlaces").val()) {
            viewModel.isStandingPlacesFilled(true);
        } else {
            viewModel.isStandingPlacesFilled(false);
        }
        viewModel.calculateSeatsClick();
      },
      disableSectorBlock : function() { 
        viewModel.isVisibleSectionBlock(false);
        viewModel.isVisibleSeatsBlock(false);
        viewModel.isVisibleCustomBlock(false);
        viewModel.isStandingPlacesFilled(false);
      },
      enableSectorBlock : function() { 
        viewModel.isVisibleSectionBlock(true);
        viewModel.isVisibleSeatsBlock(false);
        viewModel.isVisibleCustomBlock(false);
        viewModel.isStandingPlacesFilled(false);
      },
      enableSectorSeatsBlock : function() { 
        viewModel.isVisibleSectionBlock(false);
        viewModel.isVisibleSeatsBlock(true);
        viewModel.isVisibleCustomBlock(false);
        viewModel.isStandingPlacesFilled(false);
      },
      resetConcerts : function() { 
        this.chosenConcert(null) 
      },
	  showInfo: function() {
          $.getJSON('${ url:page("api/concertInformation" ) }' + "?id=" + viewModel.chosenConcert().id(),
               function(result) { 
                  if (result) {
	                  var data = result.information;
	                  viewModel.concertInformation(data);
                  }
            }
          );
	      $("#infoModal").modal('show');
	  },
      showNews: function() {
          $.getJSON('${ url:page("api/news" ) }',
               function(result) { 
                  if (result) {
	                  var data = result.news;
	                  viewModel.news(data);
                  }
            }
          );
          $("#newsModal").modal('show');
      },
      showLegend: function() {
          $("#legendModal").modal('show');
      },
      showBasket: function() {
          $("#basketModal").modal('show');
      },
      showSearch: function() {
          $("#searchModal").modal('show');
      },
      getSeatById: function(seatId) {
          if (seatId && viewModel.chosenSector()) {
             var seats = viewModel.chosenSector().seats();
             if (seats) {
                return seats[seatId];
             }
          }
          return null;
      },
      showSectors: function() {
          if (viewModel.chosenConcert()) {
	          viewModel.disableSectorBlock();
	          $.getJSON('${ url:page("api/concertSectors" ) }' + "?id=" + viewModel.chosenConcert().id(),
	               function(result) { 
	                  if (result) {
	                      var data = result.ttSector;
	                      var arr = [];
	    
	                      $.each(data, function (i) {
	                        var sectorDataArr = [];
                            var sectorPriceTypeArr = [];
                            
                            var sectorValue = data[i].ttSectorData;
	                        $.each(sectorValue, function (y) {
	                            sectorDataArr.push(new sectorData(sectorValue[y]));
	                            
	                            var sectorPriceTypeValue = sectorValue[y].ttSectorPriceType;
	                            
	                            $.each(sectorPriceTypeValue, function (x) {
	                                sectorPriceTypeArr.push(new sectorPriceType(sectorPriceTypeValue[x]));
	                            });
	                        });
	                        arr.push(new sector(data[i], sectorDataArr, sectorPriceTypeArr));
	                      });
	                      
	                      if (arr && arr.length) {
	                          viewModel.chosenConcert().sectors(arr);
	                          viewModel.enableSectorBlock();
                              if (viewModel.chosenConcert().confId()) {
                                  $("#sectionSvgWrapper").svg({loadURL: '${url:page( "svg/getSector" )}' + '?id=' + viewModel.chosenConcert().confId(), onLoad: viewModel.onSvgSectionLoad });
	                              $("#sectorsTable").delegate("tr", "mouseover", viewModel.onRowSectionMouseOver)
	                                                .delegate("tr", "mouseout", viewModel.onRowSectionMouseOut)
	                                                .delegate("a", "click", viewModel.onSectorClick);    
                              } else {
                                $("#sectionSvgWrapper").svg('destroy');
                              }
	                      }
	                  }
	               }
	          );
          } else {
            $("#sectionSvgWrapper").svg('destroy');
          }
      },
      showSectorSeats: function() {
          if (viewModel.chosenConcert() && viewModel.chosenSector()) {
              $.getJSON('${ url:page("api/sectorSeats" ) }' + "?id=" + viewModel.chosenConcert().id() + '&sector=' + viewModel.chosenSector().id(),
                   function(result) { 
                      if (result) {
                          var data = result.ttSeat;
                          var arr = [];
        
                          $.each(data, function (i) {
                            arr[data[i].seatId] = new seat(data[i]);
                          });
                          
                          viewModel.chosenSector().seats(arr);
                          if (viewModel.chosenConcert().confId()) {
                              $("#seatsSvgWrapper").svg({loadURL: '${url:page( "svg/getSectorSeats" )}' + '?id=' + viewModel.chosenConcert().confId() + '&sector=' + viewModel.chosenSector().id(), onLoad: viewModel.onSvgSeatsLoad});
                          } else {
                            viewModel.onSvgSeatsLoadFailed();
                          }
                      }
                   }
              );
          } else {
            $("#seatsSvgWrapper").svg('destroy');
          }
      },
      onSvgSectionLoad: function(svg) {
          $(svg.root().childNodes).each(function() {
            if (this.id) {
                $(this, svg.root()).on('click', viewModel.onSvgSectionClick).on('mouseover', viewModel.onSvgSectionOver).on('mouseout', viewModel.onSvgSectoinOut); 
            }
          });
      },
      onSvgSeatsLoadFailed: function(svg) {
          if (svg) {
              $("#seatsSvgWrapper").svg('destroy');
          }
          viewModel.isVisibleCustomBlock(true);
	      $("#stangingPlaces").keypress(function (e) {
			  if (String.fromCharCode(e.keyCode).match(/[^0-9]/g)) return false;
	      });
          $("#stangingPlaces").keyup(function (e) {
              viewModel.enableChoosenSeats();
          });
      },
      onSvgSeatsLoad: function(svg) {
          if ($(svg.root().childNodes) && $(svg.root().childNodes).length <= 0) {
             viewModel.onSvgSeatsLoadFailed(svg);
          } else {
	          $(svg.root().childNodes).each(function() {
	            if (this.id) {
	                var seat = viewModel.getSeatById(this.id.replaceAll('place_', ''));
	                if (seat) {
	                    var choosenSeatIndex = viewModel.getChoosenSeatIndex(seat.seatId());
	
	                    $(this, svg.root()).attr('title', '')
	                                       .attr('data-content', '<p>${ translate:text("bo_elem031") } ' + seat.rowNr() + '</p><p>${ translate:text("bo_elem032") } ' + seat.seatNr() + '</p><p>${ translate:text("bo_adm053") } ' + seat.price() + '</p>');
	                    
	                    if (choosenSeatIndex >= 0) {
	                        $(this, svg.root()).attr('fill', '#C00000');
	                        $(this, svg.root()).attr('data-original-title', '${ translate:text("pood_307_place") }');
	                    } else {
	                        $(this, svg.root()).attr('fill', seat.colorCode());
	                        $(this, svg.root()).attr('data-original-title', '${ translate:text("bo_sell003") }');
	                    }
	
	                    $(this, svg.root()).attr('stroke', '#000000');
	                    $(this, svg.root()).attr('stroke-width', '1');
	                    $(this, svg.root()).on('click', viewModel.onSvgSeatClick).on('mouseover', viewModel.onSvgSeatOver).on('mouseout', viewModel.onSvgSeatOut); 
	                } else {
	                    $(this, svg.root()).attr('fill', '#D0D0D0');
	                    $(this, svg.root()).attr('stroke', '#000000');
	                    $(this, svg.root()).attr('stroke-width', '1');
	                    $(this, svg.root()).attr('title', '').attr('data-content', '<p>${ translate:text("bo_elem031") }</p><p>${ translate:text("bo_elem032") }</p><p>${ translate:text("bo_adm053") }</p>').attr('data-original-title', '${ translate:text("pood_307_closed") }');
	                    $(this, svg.root()).on('click', viewModel.onSvgSeatClick).on('mouseover', viewModel.onSvgSeatOver).on('mouseout', viewModel.onSvgSeatOut); 
	                }
	            }
	          });
          }
      },
      onSectorClick: function() {
          try {
            viewModel.chooseSector($(this).attr('href')); 
          } catch(e) {
          }
          return false;
      },
      onSvgSectionClick: function() { 
          viewModel.chooseSector($(this).attr('id')); 
      },
      onSvgSectionOver: function() { 
          viewModel.turnOnSector($(this).attr('id'));
      },
      onSvgSectoinOut: function () { 
          viewModel.turnOffSector($(this).attr('id'));
      },
      onRowSectionMouseOver: function() {
          viewModel.turnOnSector('section' + $(this).find('td a:first').attr('href'));
      },
      onRowSectionMouseOut: function() {
          viewModel.turnOffSector('section' + $(this).find('td a:first').attr('href'));
      },
      turnOnSector: function(sectionId) {
          if (sectionId) {
              if ($('#row' + sectionId).length > 0) {
	              var svg = $("#sectionSvgWrapper").svg('get');
	              $('#' + sectionId, svg.root()).css('fill', '#A9D6ED');
	              $('#' + sectionId, svg.root()).css('stroke', '#0000FF');
	              $('#' + sectionId, svg.root()).css('stroke-width', '8');
	
	              $('#row' + sectionId).css('background-color', '#D3D3D3');
              }
          }
      },
      turnOffSector: function(sectionId) {
          if (sectionId) {
              if ($('#row' + sectionId).length > 0) {
	              var svg = $("#sectionSvgWrapper").svg('get');
	              $('#' + sectionId, svg.root()).css('fill', '#cccccc');
	              $('#' + sectionId, svg.root()).css('stroke', '#000000');
	              $('#' + sectionId, svg.root()).css('stroke-width', '5');
	
	              $('#row' + sectionId).css('background-color', '');
              }
          }
      },
      chooseSector: function(sectionId) {
          if (sectionId) {
              sectionId = sectionId.replaceAll('section', '');
              $.each(viewModel.chosenConcert().sectors(), function (i) {
                 if (viewModel.chosenConcert().sectors()[i].id() == sectionId) {
                    viewModel.chosenSector(viewModel.chosenConcert().sectors()[i]);
                 }
              });
          }
      },
      onSvgSeatClick: function() { 
          viewModel.chooseSeat($(this).attr('id')); 
      },
      onSvgSeatOver: function(e) { 
          viewModel.turnOnSeat(e, $(this).attr('id'), true);
      },
      onSvgSeatOut: function () { 
          viewModel.turnOffSeat($(this).attr('id'), true);
      },
      turnOnSeat: function(event, seatId, showPopover) {
          if (seatId) {
              var svg = $("#seatsSvgWrapper").svg('get');
              var seat = viewModel.getSeatById(seatId.replaceAll('place_', ''));
              var choosenSeatIndex = viewModel.getChoosenSeatIndex(seatId.replaceAll('place_', ''));

              if (seat && choosenSeatIndex < 0) {
	              $('#' + seatId, svg.root()).attr('fill', '#C00000');
	              $('#' + seatId, svg.root()).attr('stroke', '#000000');
	              $('#' + seatId, svg.root()).attr('stroke-width', '1');
              }

              $('#row' + seatId).css('background-color', '#D3D3D3');
              
              if (showPopover) {
	              var x; var y;
	              if (event.pageX != undefined && event.pageY != undefined) {
	                  x = event.pageX;
	                  y = event.pageY;
	              } else {
	                  x = event.clientX + document.body.scrollLeft + document.documentElement.scrollLeft;
	                  y = event.clientY + document.body.scrollTop + document.documentElement.scrollTop;
	              }
	              
	              y = y - 80;
	              x = x + 10;
	              
	              if (seat && choosenSeatIndex >= 0) {
	                  $('#' + seatId, svg.root()).attr('data-original-title', '${ translate:text("pood_307_place") }');
	              }
	              var title = $('#' + seatId, svg.root()).attr('data-original-title');
	              var content = $('#' + seatId, svg.root()).attr('data-content');
	              
	              var popoverCode = "<div id=\"seatPopover\" style=\"position:absolute; top:"
	                              + y + "px; left:" + x + "px; z-index: 1;\">" 
	                              + "<div id=\"seatPopover\" class=\"popover fade right in\" style=\"display: block !important; width: 100px;\">" 
	                              + "<div class=\"arrow\"></div><h3 class=\"popover-title\">" + title + "</h3><div class=\"popover-content\">" + content + "</div></div></div>";
	
	              $("body").append(popoverCode);
              }
          }
      },
      turnOffSeat: function(seatId, check) {
          if (seatId) {
              var svg = $("#seatsSvgWrapper").svg('get');
              var seat = viewModel.getSeatById(seatId.replaceAll('place_', ''));
              if (seat) {
	              if (check) {
		              var choosenSeatIndex = viewModel.getChoosenSeatIndex(seatId.replaceAll('place_', ''));
		              if (choosenSeatIndex < 0) {
		                  $('#' + seatId, svg.root()).attr('fill', seat.colorCode());
		                  $('#' + seatId, svg.root()).attr('stroke', '#000000');
		                  $('#' + seatId, svg.root()).attr('stroke-width', '1');
		                  $('#' + seatId, svg.root()).attr('data-original-title', '${ translate:text("bo_sell003") }');
		              }
	              } else {
		              $('#' + seatId, svg.root()).attr('fill', seat.colorCode());
		              $('#' + seatId, svg.root()).attr('stroke', '#000000');
		              $('#' + seatId, svg.root()).attr('stroke-width', '1');
                      $('#' + seatId, svg.root()).attr('data-original-title', '${ translate:text("bo_sell003") }');
	              }
                  $('#row' + seatId).css('background-color', '');
	          }
              $("#seatPopover").remove();
          }
      },
      enableHighlightSeat: function(seatId) {
          if (seatId) {
              var svg = $("#seatsSvgWrapper").svg('get');
              $('#' + seatId, svg.root()).attr('stroke', '#000000');
              $('#' + seatId, svg.root()).attr('stroke-width', '4');
              $('#row' + seatId).css('background-color', '#D3D3D3');
          }
      },    
      disableHighlightSeat: function(seatId) {
          if (seatId) {
              var svg = $("#seatsSvgWrapper").svg('get');
              $('#' + seatId, svg.root()).attr('stroke', '#000000');
              $('#' + seatId, svg.root()).attr('stroke-width', '1');
              $('#row' + seatId).css('background-color', '');
          }
      },    
      getChoosenSeatIndex: function(seatId) {
          var returnIndex = -1;
          if (viewModel.chosenSeats()) {
              var arr = viewModel.chosenSeats();
              $.each(arr, function (i) {
                if (arr[i].seatId() == seatId) {
                    returnIndex = i;
                }
              });
          }
          return returnIndex;
      },
      getSeatsNumber: function(priceClass) {
          var seatsNumber = 0;
          if (viewModel.chosenSeats()) {
              var arr = viewModel.chosenSeats();
              $.each(arr, function (i) {
                if (arr[i].priceClass() == priceClass) {
                    seatsNumber++;
                }
              });
          }
          return seatsNumber;
      },
      chooseSeat: function(seatId) {
          if (seatId) {
              var seat = viewModel.getSeatById(seatId.replaceAll('place_', ''));
              if (seat) {
                  var arr = [];
                  var existIndex = viewModel.getChoosenSeatIndex(seat.seatId());

                  if (viewModel.chosenSeats()) {
                      arr = viewModel.chosenSeats();
                  }
                  
                  if (existIndex >= 0) {
                     arr.splice(existIndex, 1);
                  } else {
                     arr.push(seat);                  
                  }
                  
                  viewModel.isVisibleChoosenSeatsBlock(arr.length > 0);
                  viewModel.chosenSeats(arr);

                  $("#choosenSeatsTable").delegate("tr", "mouseover", viewModel.onRowChoosenSeatMouseOver)
                                    .delegate("tr", "mouseout", viewModel.onRowChoosenSeatMouseOut)
                                    .delegate("a", "click", viewModel.removeChosenSeat);    

              }
          }
      },
      removeAllChosenSeats: function() {
         if (viewModel.chosenSeats) {
	         var arr = viewModel.chosenSeats();
	         $.each(arr, function (i) {
                var seatId = arr[i].seatId();
                arr.slice(i, 1);
                viewModel.chosenSeats(arr);
                viewModel.turnOffSeat('place_' + seatId, false);
	         });
	         viewModel.chosenSeats(null);
	         viewModel.isVisibleChoosenSeatsBlock(false);
         }
      },
      removeChosenSeat: function() {
         seatId = $(this).attr('href');
         if (viewModel.chosenSeats() && seatId) {
             arr = viewModel.chosenSeats();
	         var seatIndex = viewModel.getChoosenSeatIndex(seatId);
	         if (seatIndex >= 0) {
                arr.splice(seatIndex, 1);
                viewModel.chosenSeats(arr);
                viewModel.turnOffSeat('place_' + seatId, false);
                viewModel.isVisibleChoosenSeatsBlock(arr.length > 0);
	         }
         }
         return false;
      },
      onRowChoosenSeatMouseOver: function() {
          viewModel.enableHighlightSeat('place_' + $(this).find('td a:first').attr('href'));
      },
      onRowChoosenSeatMouseOut: function() {
          viewModel.disableHighlightSeat('place_' + $(this).find('td a:first').attr('href'));
      },
      calculateSeatsClick: function() {
          if (viewModel.chosenSector() && viewModel.chosenSector().info()) {
              var arr = viewModel.chosenSector().info();
              $.each(arr, function (i) {
                  if (viewModel.isVisibleCustomBlock()) {
                      arr[i].clickSum( $("#stangingPlaces").val() );
                  } else {
                      arr[i].clickSum( viewModel.getSeatsNumber(arr[i].priceClass()) );
                  }
              });
          }        
      },
      resize: function() {
          var minHeight = 500; 
          if (viewModel.chosenSeats() && viewModel.chosenSeats().length > 4) {
              minHeight = minHeight + ( viewModel.chosenSeats().length * 20 );
          }
          $("#mainSection").css("min-height", minHeight + 'px');
      },
	  load: function () {
	      $.getJSON('${ url:page("api/activeConcerts") }',
	           function(result) { 
                  if (result) {
	                  var data = result.ttConcert;
	                  var arr = [];
	
	                  $.each(data, function (i) {
	                    arr.push(new concert(data[i]));
	                  });
	                  
	                  viewModel.concerts(arr);
                  }
	        }
	      );
	  },
	};

	ko.subscribable.fn.subscribeChanged = function (callback) {
	    var oldValue;
	    this.subscribe(function (_oldValue) {
	        oldValue = _oldValue;
	    }, this, 'beforeChange');
	
	    this.subscribe(function (newValue) {
	        callback(newValue, oldValue);
	    });
	};	
	
    ko.applyBindings(viewModel);
    viewModel.load();
    viewModel.resize();
	viewModel.chosenConcert.subscribe(function (newValue) {
       viewModel.enableSectorBlock();
       viewModel.showSectors();
       viewModel.resize();
	});
    viewModel.chosenSector.subscribeChanged(function (newValue, oldValue)  {
       if (newValue) {
	       if (newValue != oldValue) {
	          viewModel.chosenSeats(null);
	          viewModel.isVisibleChoosenSeatsBlock(false);
	       }
       }
       viewModel.calculateSeatsClick();
       viewModel.enableSectorSeatsBlock();
    });
    viewModel.isVisibleSeatsBlock.subscribe(function (newValue) {
       viewModel.showSectorSeats();
    });
    viewModel.chosenSeats.subscribe(function (newValue) {
       viewModel.calculateSeatsClick();
       viewModel.resize();
    });
</script>
