${ if user:isLogedIn() then do }
${ if isNotError then do }
        <!-- Scroll to top -->
        <a href="#" class="toTop">Scroll to top</a>

    </div>
    <!-- /Main page container -->

    <div id="push"></div>
    
</div>
<!-- /Content wrapper -->
${ end }
${ end }

<!-- Bootstrap scripts -->
<script type="text/javascript" src="${url:static( "js/bootstrap/bootstrap.min.js" )}"></script>
<script type="text/javascript" src="${url:static( "js/bootstrap/bootbox.min.js" )}"></script>
<script type="text/javascript" src="${url:static( "js/plevi.min.js" )}"></script>

</body>
</html>