<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <title>${title}</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="robots" content="index, follow">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS styles -->
    <link rel='stylesheet' type='text/css' href="${url:static( "css/style.css" )}">
    <!-- jQuery jGrowl Styles -->
    <link rel='stylesheet' type='text/css' href="${url:static( "css/plugins/jquery.jgrowl.min.css" )}">

    <!-- JS Libs -->
    <script type="text/javascript" src="${url:static( "js/jquery.min.js" )}"></script>
    <script type="text/javascript" src="${url:static( "js/libs/modernizr.min.js" )}"></script>
    <script type="text/javascript" src="${url:static( "js/libs/selectivizr.min.js" )}"></script>
    <script type="text/javascript" src="${url:static( "js/plugins/jGrowl/jquery.jgrowl.min.js" )}"></script>

    <script>
	window.onerror = function (message, filename, linenumber) {
	    $('#loadingIcon').css("visibility", "hidden");
	
	    $.jGrowl(message, {
	        header: 'Error in ' + filename + ', line number #' + linenumber,
	        sticky: true,
	        theme: 'primary'
	    });
	    
	    // You can style closer with same class
	    $.jGrowl.defaults.closerTemplate = '<div class="inverse">hide all errors</div>';
	
	    return true; // The exception is handled, don't show to the user.
	}

    $(document).ready(function(){
        // Scroll to top
        $(window).scroll(function(){
            if ($(this).scrollTop() > 100) {
                $('.toTop').fadeIn();
            } else {
                $('.toTop').fadeOut();
            }
        }); 
        $('.toTop').click(function(){
            $("html, body").animate({ scrollTop: 0 }, 600);
            return false;
        });

        $("input:text:visible:first").focus();
    });

    ${ if user:isLogedIn() then do }
    var sessionTask = function () {
      $.ajax({
        url: '${ url:page("api/validateSession" ) }', 
        success: function(data) {
          if (data && data.sessionValid==false && bootbox) {
              bootbox.dialog({
                 message: "${ translate:text("bo_admerr142") }",
                 title: "${ translate:text("title_info") }",
                 buttons: {
                   yes: {
                     label: "${ translate:text("bo_rep133") }",
                     className: "btn-primary",
                     callback: function() {
                     }
                   }
                 }
               });
          }
        },
        complete: function() {
          // Schedule the next request when the current one's complete
          setTimeout(sessionTask, 20000);
        }
      });
    };

    var checkBasketTask = function () {
      $.ajax({
        url: '${ url:page("api/checkBasket" ) }', 
        success: function(data) {
          if (data && data.basket && data.basket > 0) {
              $('#basket').find( 'span' ).attr( 'data-original-title', data.basket).text(data.basket);
              $('#basket').find( 'span' ).show();
          } else {
            $('#basket').find( 'span' ).hide();
          }
        },
        complete: function() {
          // Schedule the next request when the current one's complete
          setTimeout(checkBasketTask, 20000);
        }
      });
    };
    
    
    (function cron() {
      sessionTask();
      checkBasketTask();
    })();
    ${ end }

    </script>
</head>
<body ${bodyClass}>

${ if user:isLogedIn() then do }
<header class="container-fluid">
    
    <form id="setLanguageForm" method="get">
        <input type="hidden" name="language" id="newLanguage" value="">
    </form>

    <form id="setSalesPointForm" method="get">
        <input type="hidden" name="salespoint" id="newSalespoint" value="">
    </form>
    
    <div class="navbar navbar-fixed-top">

        <div class="navbar-inner">
			<nav class="nav-collapse collapse">
			
			    <ul class="nav">
			    ${ if hasTopMenus() then do }
			        ${ while nextTopMenu() do }
                    <li class="${ if hasBlock() then do }nav${ end }${ if isTopMenuActive() then do } active${ end }">
                        <a href="${ getTopMenuUrl() }" class="${ if hasBlock() then do }subnavLink${ end }">
                            ${ getTopMenuTranslated() }
                            ${ if hasBlock() then do }
                            <span class="caret"></span>
                            ${ end }
                        <!-- span class="badge badge-info" data-original-title="You have 59 new alerts">59</span-->
                        </a>
                    </li>
			        ${ end }
                ${ end }
			    </ul>

			    <!-- User info -->
			    <div id="myinfo" class="user-info">
                    <div id="loader">
                        <span id="loadingIcon" class="loading" title="Loading, please wait&hellip;">Loading&hellip;</span>
                    </div>
                    <div id="basket">
                        <p>
                        <a href="${url:page( "user/basket" )}">${ translate:text("btn_basket") }
                        <span class="badge badge-info"></span>
                        </a>
                        </p>
                    </div>
                    <div id="language-menu">
	                    <p><a href="#language-menu" class="dropdown-toggle" data-toggle="dropdown">${ user:languageName() } <span class="caret"></span></a></p>
	                    <ul class="dropdown-menu">
	                        ${ while nextLanguage() do }
	                        <li><a href="${ getLanguageKey() }" class="setlang">${ getLanguageValue() }</a></li>
	                        ${ end }
	                    </ul>
                    </div>
                    <div id="sellpoints-menu">
	                    <p><a href="#sellpoints-menu" class="dropdown-toggle" data-toggle="dropdown">${ user:activeSalesPoint() } ${ if hasSalesPoint() then do }<span class="caret"></span>${ end }</a></p>
	                    ${ if hasSalesPoint() then do }
	                    <ul class="dropdown-menu">
                            ${ while nextSalesPoint() do }
	                        <li><a href="${ getSalesPointKey() }" class="setsalespoint">${ getSalesPointValue() }</a></li>
                            ${ end }
	                    </ul>
                        ${ end }
                    </div>
                    <div id="user-menu">
	                    <p><a href="#user-menu" class="dropdown-toggle" data-toggle="dropdown">${ user:name() } <span class="caret"></span></a></p>
	                    <ul class="dropdown-menu">
	                        <li><a href="${url:page( "user/profile" )}">Profile</a></li>
                            <li><a href="${url:page( "user/changePsw" )}">${ translate:text("meny_04") }</a></li>
	                        <li class="divider"></li>
	                        <li><a href="${url:page( "user/logout" )}">${ translate:text("meny_07") }</a></li>
	                    </ul>
                    </div>
			    </div>
			</nav>

            ${ if hasTopMenus() then do }
                ${ while nextTopMenu2() do }
	            <div id="${ getTopMenuName2() }">
	                 <div class="container-fluid subnav">
	                     <div class="row-fluid">
	                     ${ while nextTopMenuBlock() do }
	                         <div class="span2">
	                             <h1>${ if isTopMenuBlockShowed() then do }${ getTopMenu2Translated() }${ end }&nbsp;</h1>
	                             <nav>
	                                 <ul class="nav">
	                                     ${ while nextBlockPage() do }
	                                     <li><a href="${ getPageUrl() }">${ getPageTranslated() }</a></li>
	                                     ${ end }
	                                 </ul>
	                             </nav>
	                         </div>
                         ${ end }
	                     </div>
	                 </div>
	             </div>
                ${ end }
            ${ end }
            
        </div>

    </div>

</header>

${ if isNotError then do }
<!-- Content wrapper -->
<div id="wrap">

    <!-- Main page container -->
    <div class="container-fluid" role="main">

${ end }
${ end }
