<div class="container">
	<div class="row">
		<div class="col-sm-3 bo-left-column" ng-if="authenticated" ng-include="'views/common/user_menu_column.html'"></div>
		<div class="col-sm-6 col-lg-5 bo-center-column">
			<div class="visible bo-widgetbox bo-widgetbox-white no-border">
				<div class="bo-widgetbox-body">
					<div class="bo-widgetbox-main">
						<h4 class="header blue lighter bigger">
							<i class="icon-coffee green"></i>
							{{"api_change_your_password"|translate}}
						</h4>
						<div class="space-16"></div>
						<form name="changeForm" class="form-horizontal" role="form" bs-form-errors>
							<div class="form-group">
								<div class="col-sm-12">
									<div class="alert alert-danger" role="alert" ng-show='passwordChangeError'>{{passwordChangeError}}</div>
									<div class="block">
                                        <input type="password" class="form-control input-lg" placeholder={{"pood_r38"|translate}} name="oldpassword" ng-model="change.oldPassword" required focus />
                                        <!--<i class="ace-icon fa fa-lock"></i>-->
                                    </div>
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-12">
									<div class="alert alert-danger" role="alert" ng-show='changeForm.password.$error.valid'>{{"api_error_password_not_valid"|translate}}</div>
                                   	<div class="block">
                                        <input type="password" name="password" class="form-control input-lg" placeholder={{"pood_r39"|translate}} ng-model="change.newPassword"
											   ui-validate=" {valid: 'vm.validPassword($value)'} "
											   ui-validate-watch=" 'password' "
											   required />
                                        <!--<i class="ace-icon fa fa-lock"></i>-->
								   	</div>
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-12">
									<div class="alert alert-danger" role="alert" ng-show='changeForm.confirm_password.$error.validator'>{{"api_error_password_match"|translate}}</div>
									<div class="block">
                                        <input type="password" name="confirm_password" required ng-model="change.confirmPassword" class="form-control input-lg" placeholder={{"pood_r40"|translate}}
											   ui-validate=" '$value==change.newPassword' "
											   ui-validate-watch=" 'password' " />
                                        <!--<i class="ace-icon fa fa-lock"></i>-->
                                    </div>
								</div>
							</div>
							<div class="space"></div>
							<div class="clearfix bo-widgetbox-buttons-area">
								<div class="row">
									<div class="col-sm-12">
										<button type="submit" class="width-35 pull-right btn btn-primary extra_width_button" ng-click="vm.changePassword(change)" data-ng-disabled="changeForm.$invalid">
											{{"api_submit"|translate}}
										</button>
									</div>
								</div>
							</div>
							<div class="space-4"></div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>