<div class="container bo-main-block">
    <div class="row">
        <div class="col-md-3 col-md-push-9 bo-right-column">
            <div class="panel panel-default bo-news" ng-repeat="newsItem in vm.news">
                <div class="panel-heading" ng-if="$first">
                    <h2 class="hidden-xs">{{'api_news'|translate}}</h2>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-11 col-sm-11 col-md-12">
                            <h3 class="bo-news-title">{{newsItem.title}}</h3>
                            <p class="hidden-xs">
                                {{newsItem.text}}
                            </p>
                            <a class="hidden-xs hidden-sm" href="#{{newsItem.id}}">{{'api_more'|translate}}</a>
                            <div class="bo-news-date">{{newsItem.created}} {{'api_by'|translate}} {{newsItem.createdBy}}</div>
                            <div class="visible-sm visible-xs bo-news-arrow">
                                <a href=""><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-9 col-md-pull-3 bo-center-column">
            <div class="row bo-filter-block">
                <div class="col-xs-12 col-sm-4">
                    <div class="visible-lg bo-hidden-label">&nbsp;</div>
                    <h1>{{'api_myevents'|translate}}</h1>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <div class="visible-lg bo-hidden-label">&nbsp;</div>
                    <div class="input-group input-group-lg">
                        <input type="text" class="form-control" placeholder="{{'api_search_box_title'|translate}}" ng-model="vm.filter.name">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button" ng-click="vm.getMyEvents(vm.filter)"><i class="fa fa-search" aria-hidden="true"></i></button>
                        </span>
                    </div>
                    <div class="visible-xs">&nbsp;</div>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <div class="input-group-lg">
                        <div class="visible-lg bo-hidden-label">{{'api_sales_period'|translate}}:</div>
                        <div class="input-group data_range input-group-lg">
							 <input type="text" daterangepicker class="form-control" ng-model="vm.filter.period" disabled/>
                             <span class="input-group-btn">
                                <button class="btn btn-default" type="button" ng-click="showDateRange($event)">
                                    <i class="fa fa-calendar" aria-hidden="true"></i>
                                </button>
                             </span>
                        </div>
                    </div>
                </div>
            </div>

			<ul class="nav nav-tabs">
                <li class="active"><a href="">{{'api_on_sale'|translate}} <span class="badge">{{vm.salesCount}}</span></a></li>
                <li><a href="">{{'api_draft'|translate}} <span class="badge">{{vm.draftCount}}</span></a></li>
                <li><a href="">{{'api_past'|translate}} <span class="badge">{{vm.pastCount}}</span></a></li>
            </ul>
            <div class="bo-events">
				<div ng-repeat="eventItem in vm.myevents" ng-init='vm.getEventSales(eventItem, vm.filter)'>
					<div class="panel panel-default bo-event" ng-if="!eventItem.isShow">
						<div class="panel-body">
							<h3 class="bo-event-title">{{eventItem.eventData.name}}</h3>
							<div class="row">
								<div class="col-sm-4">
									<div>
										<div class="bo-event-date"><i class="fa fa-calendar" aria-hidden="true"></i> {{eventItem.eventData.eventDateTime | date:'dd.MM.yyyy'}}</div>
										<div class="bo-event-time"><i class="fa fa-clock-o" aria-hidden="true"></i> {{eventItem.eventData.eventDateTime | date:'HH:mm'}}</div>
									</div>
									<div class="bo-event-place"><i class="fa fa-map-marker active" aria-hidden="true"></i> {{eventItem.eventData.location}}</div>
								</div>
								<div class="col-xs-10 col-sm-4">
									<div class="bo-event-statistics">
										<span class="glyphicon glyphicon-triangle-top text-success"></span>
										<b class="text-success" title="sold">{{eventItem.eventData.sell.soldTickets}}</b>
										<span class="bo-event-statistics-separator">/</span>
										<b class="text-warning">{{eventItem.eventData.sell.bookedTickets}}</b>
										<span class="bo-event-statistics-separator">/</span>
										<b class="text-danger">{{eventItem.eventData.sell.availableTickets}}</b>
									</div>
									<div class="progress">
										<div class="progress-bar progress-bar-success" style="width: {{eventItem.eventData.sell.soldPercent}}%" title="sold"></div>
										<div class="progress-bar progress-bar-warning" style="width: {{eventItem.eventData.sell.bookedPercent}}%" title="reserved"></div>
										<div class="progress-bar progress-bar-danger" style="width: {{eventItem.eventData.sell.availablePercent}}%" title="empty"></div>
									</div>
								</div>
								<div class="col-xs-2 col-sm-1 text-center bo-percent-block">
									{{eventItem.eventData.sell.soldPercent}}%
								</div>
								<div class="col-xs-12 col-sm-3">
									<div class="row">
										<div class="col-xs-6 col-sm-12 col-xs-push-6 col-sm-push-0 text-center bo-event-price">{{eventItem.eventData.sell.soldSumma}} {{eventItem.eventData.sell.currency}}</div>
										<div class="col-xs-6 col-sm-12 col-xs-pull-6 col-sm-pull-0 text-center"><a class="btn btn-warning bo-event-button" href="#">Promote event</a></div>
									</div>
								</div>
							</div>
							<div class="bo-event-report-link"><a href="">Edit</a><span>|</span><a href="">View report</a><span>|</span><a href="">View website</a></div>
						</div>
					</div>

					<div class="panel panel-default" ng-if="eventItem.isShow">
						<div class="panel-body">
							<h3 class="bo-event-title">
								<a class="bo-event-toggle" data-toggle="collapse" data-target="#bo-sub-events{{eventItem.eventData.id}}" aria-expanded="false">
									<span class="glyphicon glyphicon-triangle-top"></span>
									<span class="glyphicon glyphicon-triangle-bottom"></span>
									<span class="badge">{{eventItem.eventData.concertsCount}}</span>
								</a>
								{{eventItem.eventData.name}}</h3>
							<div class="row">
								<div class="col-sm-4">
									<div>
										<div class="bo-event-date"><i class="fa fa-calendar" aria-hidden="true"></i> {{eventItem.eventData.eventDateTime | date:'dd.MM.yyyy'}}</div>
										<div class="bo-event-time"><i class="fa fa-clock-o" aria-hidden="true"></i> {{eventItem.eventData.eventDateTime | date:'HH:mm'}}</div>
									</div>
									<div class="bo-event-place"><i class="fa fa-map-marker" aria-hidden="true"></i> {{eventItem.eventData.location}}</div>
								</div>
								<div class="col-xs-10 col-sm-4">
									<div class="bo-event-statistics">
										<span class="glyphicon glyphicon-triangle-bottom text-danger"></span>
										<b class="text-success" title="sold">{{eventItem.eventData.sell.soldTickets}}</b>
										<span class="bo-event-statistics-separator">/</span>
										<b class="text-warning">{{eventItem.eventData.sell.bookedTickets}}</b>
										<span class="bo-event-statistics-separator">/</span>
										<b class="text-danger">{{eventItem.eventData.sell.availableTickets}}</b>
									</div>
									<div class="progress">
										<div class="progress-bar progress-bar-success" style="width: {{eventItem.eventData.sell.soldPercent}}%" title="sold"></div>
										<div class="progress-bar progress-bar-warning" style="width: {{eventItem.eventData.sell.bookedPercent}}%" title="reserved"></div>
										<div class="progress-bar progress-bar-danger" style="width: {{eventItem.eventData.sell.availablePercent}}%" title="empty"></div>
									</div>
								</div>
								<div class="col-xs-2 col-sm-1 text-center bo-percent-block">
									{{eventItem.eventData.sell.soldPercent}}%
								</div>
								<div class="col-xs-12 col-sm-3">
									<div class="row">
										<div class="col-xs-6 col-sm-12 col-xs-push-6 col-sm-push-0 text-center bo-event-price">{{eventItem.eventData.sell.soldSumma}} {{eventItem.eventData.sell.currency}}</div>
										<div class="col-xs-6 col-sm-12 col-xs-pull-6 col-sm-pull-0 text-center"><a class="btn btn-warning bo-event-button" href="#">PROMOTE EVENT</a></div>
									</div>
								</div>
							</div>
							<div class="bo-event-report-link"><a href="">Edit</a><span>|</span><a href="">View report</a><span>|</span><a href="">View website</a></div>
							<div id="bo-sub-events0" class="bo-sub-events collapse in">
								<div class="panel panel-default bo-event" ng-repeat="concertItem in eventItem.eventData.concerts">
									<div class="panel-body">
										<h3 class="bo-event-title">{{concertItem.name}}</h3>
										<div class="row">
											<div class="col-sm-4">
												<div>
													<div class="bo-event-date"><i class="fa fa-calendar" aria-hidden="true"></i> {{concertItem.eventDateTime | date:'dd.MM.yyyy'}}</div>
													<div class="bo-event-time"><i class="fa fa-clock-o" aria-hidden="true"></i> {{concertItem.eventDateTime | date:'HH:mm'}}</div>
												</div>
												<div class="bo-event-place"><i class="fa fa-map-marker" aria-hidden="true"></i> {{concertItem.location}}</div>
											</div>
											<div class="col-xs-10 col-sm-4">
												<div class="bo-event-statistics">
													<span class="glyphicon glyphicon-triangle-top text-success"></span>
													<b class="text-success" title="sold">{{concertItem.sell.soldTickets}}</b>
													<span class="bo-event-statistics-separator">/</span>
													<b class="text-warning">{{concertItem.sell.bookedTickets}}</b>
													<span class="bo-event-statistics-separator">/</span>
													<b class="text-danger">{{concertItem.sell.availableTickets}}</b>
												</div>
												<div class="progress">
													<div class="progress-bar progress-bar-success" style="width: {{concertItem.sell.soldPercent}}%" title="sold"></div>
													<div class="progress-bar progress-bar-warning" style="width: {{concertItem.sell.bookedPercent}}%" title="reserved"></div>
													<div class="progress-bar progress-bar-danger" style="width: {{concertItem.sell.availablePercent}}%" title="empty"></div>
												</div>
											</div>
											<div class="col-xs-2 col-sm-1 text-center bo-percent-block">
												{{concertItem.sell.soldPercent}}%
											</div>
											<div class="col-xs-12 col-sm-3">
												<div class="row">
													<div class="col-xs-6 col-sm-12 col-xs-push-6 col-sm-push-0 text-center bo-event-price">{{concertItem.sell.soldSumma}} {{concertItem.sell.currency}}</div>
													<div class="col-xs-6 col-sm-12 col-xs-pull-6 col-sm-pull-0 text-center"><a class="btn btn-warning bo-event-button" href="#">PROMOTE EVENT</a></div>
												</div>
											</div>
										</div>
										<div class="bo-event-report-link"><a href="">Edit</a><span>|</span><a href="">View report</a><span>|</span><a href="">View website</a></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
            </div>
        </div>
    </div>

</div>
