<div class="col-md-8 col-md-offset-2">
	<div class="row">
		<div class="col-sm-10 col-sm-offset-1">
			<div id="login-box" class="bo-widgetbox">
				<div class="panel panel-default">
					<div class="bo-panel">
						<div class="bo-navbar navbar-default">
							<div class="container-fluid">
								<div class="navbar-header">
									<a class="navbar-brand bo-navbar-logo" href="#"><img src="img/logo.png"></a>
								</div>
								<div class="bo-additional-nav navbar-right">
									<ul class="nav navbar-nav">
										<li class="dropdown bo-dropdown" ng-include="'views/common/languages.html'"></li>
									</ul>
								</div>
							</div>
						</div>
						<div class="panel-body bo-content-muted">
							<div class="row bo-panel-row">
								<div class="col-md-10 col-md-offset-1">
									<bo-container backoffice-options="{'time-out': 5000}"></bo-container>
									<div class="bo-alert alert alert-warning alert-dismissible" role="alert" ng-if="vm.expired">
										<button type="button" class="close" data-dismiss="alert" aria-label="Close">
											<i class="fa fa-times" aria-hidden="true"></i>
										</button>
										<span>{{"api_login_session_expired"|translate}}</span>
									</div>
									<h4>{{"api_login_to_bo"|translate}}</h4>
									<form name="loginForm" role="form">
										<div class="form-group">
											<div class="bo-input">
												<input type="text" class="form-control" placeholder={{"bo_adm151"|translate}} name="username"
													   ng-model="vm.login.username" required focus />
												<i class="fa fa-user"></i>
											</div>
										</div>
										<div class="form-group">
											<div class="bo-input">
												<input type="password" class="form-control" placeholder={{"bo_adm152"|translate}}
													   ng-model="vm.login.password" required />
												<i class="fa fa-lock"></i>
											</div>
										</div>
										<div class="row">
											<div class="col-sm-6">
												<div class="bo-checkbox">
													<input type="checkbox" id="remember-me" ng-model="vm.login.rememberMe">
													<label for="remember-me">{{"api_login_remember"|translate}}</label>
												</div>
											</div>
											<div class="col-sm-6">
												<div class="bo-button bo-button-main pull-right">
													<div class="btn btn-default" ng-click="vm.doLogin(vm.login)" data-ng-disabled="loginForm.$invalid">
														<span>{{"pood_336"|translate}}</span>
													</div>
												</div>
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>
						<div id="resetPasswordForm" ng-if="vm.passwordReset">
							<div class="panel-footer">
								<div class="row bo-panel-row">
									<div class="col-md-10 col-md-offset-1 text-right">
										<a data-target="#forgotten" class="bo-link collapsed" data-toggle="collapse" aria-expanded="false">
											{{"api_password_forget"|translate}}
										</a>
									</div>
								</div>
							</div>
							<div id="forgotten" class="panel-body collapse">
								<div class="bo-widgetbox-forgotten">
									<div class="row bo-panel-row">
										<div class="col-md-10 col-md-offset-1">
											<h4>{{"api_password_reset"|translate}}</h4>
											<form name="resetForm" role="form">
												<div class="form-group">
													<div class="bo-input bo-input-sub">
														<input type="text" class="form-control" placeholder={{"api_meta_contact_firstname"|translate}} required />
														<i class="fa fa-user"></i>
													</div>
												</div>
												<div class="form-group">
													<div class="bo-input bo-input-sub">
														<input type="text" class="form-control" placeholder={{"api_meta_contact_lastname"|translate}} required />
														<i class="fa fa-user"></i>
													</div>
												</div>
												<div class="form-group">
													<div class="bo-input bo-input-sub">
														<input type="text" class="form-control" placeholder={{"api_meta_contact_email"|translate}} required />
														<i class="fa fa-envelope"></i>
													</div>
												</div>
												<div class="bo-button bo-button-sub pull-right">
													<div class="btn btn-default">
														<span>{{"api_password_send"|translate}}</span>
													</div>
												</div>
											</form>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>