<div class="col-md-9 bo-center-column">
	<div class="row bo-filter-block">
		<div class="col-xs-8 col-sm-12 col-md-4">
			<div class="visible-lg bo-hidden-label">&nbsp;</div>
			<h1>REPORTS</h1>
		</div>
		<div class="col-xs-4 col-sm-2 visible-xs visible-sm">
			<button type="button" class="collapsed btn" data-toggle="collapse" data-target="#filter" aria-expanded="false">
				<span class="glyphicon glyphicon-filter"></span>
				Filter
			</button>
		</div>
		<div class="col-xs-12 col-sm-5 col-md-4">
			<div class="visible-lg bo-hidden-label">&nbsp;</div>
			<div class="input-group input-group-lg">
				<input type="text" class="form-control" placeholder="Search for your event or show">
             <span class="input-group-btn">
                 <button class="btn btn-default" type="button"><i class="fa fa-search" aria-hidden="true"></i></button>
             </span>
			</div>
		</div>
		<div class="col-xs-12 col-sm-5 col-md-4">
			<div class="visible-lg bo-hidden-label">Sales period:</div>
			<div class="input-group data_range input-group-lg">
				<input type="text" class="form-control" value="01/01/2016 - 01/31/2016" />
                  <span class="input-group-btn">
                     <button class="btn btn-default" type="button">
						 <i class="fa fa-calendar" aria-hidden="true"></i>
					 </button>
                  </span>
			</div>
			<div class="visible-xs">&nbsp;</div>
		</div>
	</div>
	<div class="bo-event-share-block">
		<i class="fa fa-print"></i><a onclick="window.print();">Print</a> |
		<i class="fa fa-envelope"></i><a href="">Email</a> |
		<i class="fa fa-share"></i><a href="">Export</a>
																		  <!--<div class="dropdown inline_dropdown">-->
																		  <!--<span class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Export <span class="caret"></span></span>-->
																		  <!--<ul class="dropdown-menu">-->
																		  <!--<li><a href="#">Action</a></li>-->
																		  <!--<li><a href="#">Another action</a></li>-->
																		  <!--<li><a href="#">Something else here</a></li>-->
																		  <!--<li role="separator" class="divider"></li>-->
																		  <!--<li><a href="#">Separated link</a></li>-->
																		  <!--</ul>-->
																		  <!--</div>-->
	</div>
	<div class="panel panel-default">
		<div class="panel-body">
			<div class="">
				<h3 class="bo-event-title">Event title</h3>
				<div>
					<div class="bo-event-date"><i class="fa fa-calendar" aria-hidden="true"></i> 15.08.1969</div>
					<div class="bo-event-time"><i class="fa fa-clock-o" aria-hidden="true"></i> 13:00</div>
				</div>
				<div class="bo-event-place">
					<i class="fa fa-map-marker" aria-hidden="true"></i> Mills Industrial Park, Wallkill, NY
				</div>
			</div>
		</div>
	</div>

	<ul class="nav nav-tabs">
		<li class="active"><a href="#">Overview</a></li>
		<li><a href="#">By prices</a></li>
		<li><a href="#">Sections</a></li>
	</ul>
	<div class="panel panel-default">
		<div class="panel-body">
			<div>
				<img class="temp_image" src="img/chart1.jpg" />
			</div>
			<div class="row">
				<div class="col-lg-6">
					<img class="temp_image" src="img/chart2.jpg" />
				</div>
				<div class="col-lg-6">
					<table class="table table-condensed bo-table">
						<thead>
						<tr>
							<td></td>
							<td>Tickets</td>
							<td>%</td>
							<td>Revenue</td>
						</tr>
						</thead>
						<tbody>
						<tr class="info">
							<td>Generated</td>
							<td>1050</td>
							<td>100%</td>
							<td>100,000 €</td>
						</tr>
						<tr>
							<td>All sales</td>
							<td>750</td>
							<td>78%</td>
							<td>75,000 €</td>
						</tr>
						<tr class="active text-danger">
							<td>Refund</td>
							<td>-100</td>
							<td>11%</td>
							<td>-11,000 €</td>
						</tr>
						<tr>
							<td>-Client</td>
							<td>-810</td>
							<td>85%</td>
							<td>-86,000 €</td>
						</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="col-md-3 bo-sidebar">
	<div class="panel panel-default bo-onsale">
		<h2 class="bo-sidebar-title hidden-xs">Events on sale</h2>
		<ul class="list-group">
			<li class="list-group-item">
				<div ng-include="'views/common/event_short.html'"></div>
			</li>
			<li class="list-group-item">
				<div ng-include="'views/common/event_short.html'"></div>
			</li>
			<li class="list-group-item">
				<div ng-include="'views/common/event_short.html'"></div>
			</li>
			<li class="list-group-item">
				<div ng-include="'views/common/event_short.html'"></div>
			</li>
			<li class="list-group-item">
				<a class="bo-onsale-viewall" href="#TODO">View all events on sale</a>
			</li>
		</ul>
	</div>
</div>