<div class="bo-tabs-controls bo-salesoverview-controls clearfix">
    <div class="form-inline">
        <div class="form-group">
            <button class="btn btn-default" type="button" ng-click="vm.resetBookingFilter()"
                    tooltip-placement="bottom" uib-tooltip="{{'api_restore_filters'|translate}}" tooltip-append-to-body="true">
                <i class="fa fa-times" aria-hidden="true"></i>
            </button>
        </div>
        <div class="form-group">
            <span class="visible-print">{{'api_print_period'|translate}}</span>
            <div class="input-group data_range col-xs-12">
                <button class="btn btn-default bo-datarangepicker-button bo-tabs-controls-item" type="button"
                        data-control="daterangepicker">
                    <input type="text" daterangepicker class="form-control"
                           ng-model="vm.bookingFilter.period" daterangepicker-neutral-timezone disabled/>
                    <span class="icon-holder">
                        <i class="fa fa-calendar" aria-hidden="true"></i>
                    </span>
                </button>
            </div>
        </div>
        <div class="form-group">
            <div class="inner-addon right-addon">
                <i class="fa fa-search" ng-if="vm.bookingFilter.clientName == null || vm.bookingFilter.clientName != vm.bookingClientName"
                   ng-click="vm.bookingFilter.clientName = vm.bookingClientName"></i>
                <i class="fa fa-times" ng-if="vm.bookingFilter.clientName && vm.bookingFilter.clientName == vm.bookingClientName"
                   ng-click="vm.bookingFilter.clientName = vm.bookingClientName = null"></i>
                <input type="text" class="form-control" ng-model="vm.bookingClientName"
                       placeholder="{{'api_filter_by_client'|translate}}" key-bind="{ enter: 'vm.bookingFilter.clientName = vm.bookingClientName' }">
            </div>
        </div>
        <div class="form-group">
            <div class="inner-addon right-addon">
                <i class="fa fa-search" ng-if="vm.bookingFilter.bookingNr == null || vm.bookingFilter.bookingNr != vm.bookingNr"
                   ng-click="vm.bookingFilter.bookingNr = vm.bookingNr"></i>
                <i class="fa fa-times" ng-if="vm.bookingFilter.bookingNr && vm.bookingFilter.bookingNr == vm.bookingNr"
                   ng-click="vm.bookingFilter.bookingNr = vm.bookingNr = null"></i>

                <input type="text" class="form-control" ng-model="vm.bookingNr"
                       placeholder="{{'api_filter_by_reservation'|translate}}" key-bind="{ enter: 'vm.bookingFilter.bookingNr = vm.bookingNr' }">
            </div>
        </div>
        <div class="form-group">
            <div class="dropdown">
                <button class="btn btn-default dropdown-toggle bo-centers-dropdown" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="true">
                    <span>{{vm.bookingFilter.typeId !== null ? ((vm.bookingTypes.types | filter:{id: vm.bookingFilter.typeId}:true)[0].name) : ' --- '}}</span>
                    <i class="fa fa-chevron-down"></i>
                </button>
                <ul class="dropdown-menu">
                    <li>
                        <a ng-repeat="type in vm.bookingTypes.types" ng-click="vm.bookingFilter.typeId = type.id">{{type.name}}</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="form-group">
            <div class="dropdown">
                <button class="btn btn-default dropdown-toggle bo-centers-dropdown" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="true">
                    <span>{{vm.bookingFilter.statusId !== null ? ((vm.bookingStatuses.statuses | filter:{id: vm.bookingFilter.statusId}:true)[0].name) : ' --- '}}</span>
                    <i class="fa fa-chevron-down"></i>
                </button>
                <ul class="dropdown-menu">
                    <li>
                        <a ng-repeat="status in vm.bookingStatuses.statuses"
                           ng-click="vm.bookingFilter.statusId = status.id">{{status.name}}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="bo-tabs-content">
    <div class="alert alert-danger ng-binding" ng-if="!vm.myBookings.bookings && !vm.bookingFilter.loadingItems">
        {{'api_reservation_list_no_search results'|translate}}
    </div>
    <div class="table bo-table-report bo-bookingstable" ng-if="vm.myBookings.bookings.length"
         infinite-scroll="vm.getMoreBookingsData()" infinite-scroll-disabled="vm.bookingFilter.loadingItems" infinite-scroll-distance="0">
        <div class="bo-tableheader">
            <div class="bo-tablerow">
                <div></div>
                <div>{{'api_reservation_list_number'|translate}}</div>
                <div>{{'api_reservation_list_for'|translate}}</div>
                <div>{{'api_reservation_list_invoice'|translate}}</div>
                <div>{{'api_reservation_list_tickets'|translate}}</div>
                <div>{{'api_reservation_list_seats'|translate}}</div>
                <div>{{'api_reservation_list_amount'|translate}}</div>
            </div>
        </div>
        <div class="bo-tablerow" ng-if="bookingSuccessAlert">
            <div colspan="7">
                <div class="alert alert-success" role="alert">
                    <span class="close" data-dismiss="alert" aria-label="close">&times;</span>
                    {{'api_reservation_list_success'|translate}}
                </div>
            </div>
        </div>
        <div class="bo-tablebody" ng-repeat="(key, booking) in vm.myBookings.bookings">
            <div class="bo-tablerow" ng-class="{'active': key == vm.bookingsRowExpanded}">
                <div ng-click="vm.bookingsRowExpanded = (vm.bookingsRowExpanded == key ? vm.bookingsRowExpanded = null : vm.bookingsRowExpanded = key)">
                    <i class="fa fa-plus-square" ng-if="key != vm.bookingsRowExpanded"></i>
                    <i class="fa fa-minus-square" ng-if="key == vm.bookingsRowExpanded"></i>
                </div>
                <div>
                    <div>{{booking.number}}</div>
                    <div>{{'api_reservation_list_reserved_on'|translate}}: {{booking.created | date:'dd.MM.yyyy'}}</div>
                    <div>{{'api_reservation_list_expires_on'|translate}}: {{booking.expireAt | date:'dd.MM.yyyy'}}</div>
                </div>
                <div>
                    <div>{{booking.personFirstName}} {{booking.personLastName}}</div>
                    <div>{{booking.email}}</div>
                    <div ng-if="booking.organizationName">{{booking.organizationName}}</div>
                </div>
                <div>
                    <div><a href="{{booking.invoiceUrl}}" target="_blank">{{booking.invoiceNumber}}</a></div>
                    <div>{{'api_reservation_list_payment_type'|translate}}: {{booking.paymentTypeName}}</div>
                    <div ng-show="booking.paid">{{'api_reservation_list_payment_status'|translate}}</div>
                </div>
                <div>
                    {{booking.ticketsCount}}
                </div>
                <div>{{booking.ticketsInfo | nl2br}}</div>
                <div>{{booking.summa | number:2}}{{booking.currency}}</div>
            </div>
            <div ng-if="key == vm.bookingsRowExpanded" class="active bo-tablerow bo-table-secondarytitle-row">
                <div></div>
                <div>{{'api_reservation_list_reserved_by'|translate}}</div>
                <div></div>
                <div>{{'api_reservation_list_notes'|translate}}</div>
                <div></div>
                <div>{{'api_reservation_list_reservation_status'|translate}}</div>
                <div>{{'api_reservation_list_reservation_type'|translate}}</div>
            </div>
            <div ng-if="key == vm.bookingsRowExpanded" class="active bo-tablerow bo-expandedrow">
                <div></div>
                <div>
                    <div>{{booking.creator.firstName}}&nbsp;{{booking.creator.lastName}}</div>
                    <div ng-if="booking.creator.organization">{{booking.creator.organization}}</div>
                </div>
                <div></div>
                <div>
                    <div ng-bind-html="booking.notes | nl2br"></div>
                    <button class="btn btn-warning pull-right" ng-click="vm.cancelBooking(booking.id)" ng-if="booking.statusId == 1"
                            ng-confirm-click="{{'api_clickConfirm'|translate}}"
                            ng-confirm-description="api_clickConfirmDescription">
                        <span><i class="fa fa-times"></i></span>
                        <span>{{'api_reservation_cancel'|translate}}</span>
                    </button>
                </div>
                <div></div>
                <div>{{(vm.bookingStatuses.statuses | filter:{id: booking.statusId}:true)[0].name}}</div>
                <div>{{(vm.bookingTypes.types | filter:{id: booking.typeId}:true)[0].name}}</div>
            </div>
        </div>

    </div>
    <div class="events-loader" block-ui block-ui-pattern="/bookingList/"></div>
</div>
