<div class="row">
    <div class="col-sm-6">
        <div class="form-inline">
            <div class="input-group bo-input">
                <div ng-include-template="components/report_daterangepicker.html" ng-include-variables="{vm:vm}"></div>
            </div>
            <div class="input-group bo-input" ng-if="vm.hasSalesPoint()">
                <div ng-include-template="components/report_centerdropdown.html" ng-include-variables="{vm:vm, tabFilter:vm.sectorsFilter}"></div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 text-right">
        <div ng-show="hasFullAccess('api_make_reservation') && vm.event.active">
            <div class="bo-button bo-button-main" ng-if="!vm.reservationMode">
                <div class="btn btn-primary" ng-click="vm.getMyBasket()">
                    <span>
                        {{'api_reservation_make'|translate}}
                        <i class="fa fa-plus" aria-hidden="true"></i>
                    </span>
                </div>
            </div>
            <div class="bo-button bo-button-main" ng-if="vm.reservationMode">
                <div class="btn btn-danger" ng-click="vm.goToSectionsStep()">
                    <span>
                        {{'api_reservation_exit'|translate}}
                        <i class="fa fa-times" aria-hidden="true"></i>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
<div ng-if="vm.mySectorsData.sales.length === 0" class="bo-content text-center">
    <span>{{'api_no_data_available'|translate}}</span>
</div>
<div ng-if="vm.mySectorsData.sales.length > 0" class="bo-content">
    <div class="row bo-content-block">
        <div class="col-md-6 col-lg-5">
            <div class="panel panel-default">
                <div class="bo-panel bo-panel-linked">
                    <div class="bo-panel-sub">
                        <div class="panel-body bo-panel-section" ng-if="!vm.reservationMode || sectorData.statistics.availableTickets != 0"
                             ng-class="{'active': sectorData.sectorId == mouseoverSectionId}"
                             ng-click="vm.setSelectedSectionId(sectorData.sectorId)"
                             ng-mouseover="vm.setMouseoverSectionId(sectorData.sectorId)"
                             ng-repeat="sectorData in vm.mySectorsData.sales">
                            <div class="bo-title">{{sectorData.name}}</div>
                            <div class="bo-stats clearfix">
                                <div class="bo-statsbar progress">
                                    <div class="progress-bar progress-bar-success" ng-attr-style="flex-grow:{{sectorData.statistics.soldPercent}}"
                                         tooltip-placement="bottom" uib-tooltip="{{'api_overview_sold_total'|translate}}&nbsp;({{sectorData.statistics.soldTickets}})"
                                         tooltip-append-to-body="true">{{sectorData.statistics.soldTickets}}</div>
                                    <div class="progress-bar progress-bar-primary" ng-attr-style="flex-grow:{{sectorData.statistics.bookedPercent}}"
                                         tooltip-placement="bottom" uib-tooltip="{{'api_overview_reserved_total'|translate}}&nbsp;({{sectorData.statistics.bookedTickets}})"
                                         tooltip-append-to-body="true">{{sectorData.statistics.bookedTickets}}</div>
                                    <div class="progress-bar" ng-attr-style="flex-grow: {{sectorData.statistics.availablePercent}}"
                                         tooltip-placement="bottom" uib-tooltip="{{'api_avail_for_sale'|translate}}&nbsp;({{sectorData.statistics.availableTickets}})"
                                         tooltip-append-to-body="true">{{sectorData.statistics.availableTickets}}</div>
                                </div>
                            </div>
                            <div class="bo-totals">
                                <span class="pull-left">{{sectorData.statistics.soldPercent || 0}}%</span>
                                <span class="pull-right" ng-if="hasFullAccess('api_reports_revenue')">
                                    {{sectorData.statistics.soldSumma | number:2}}
                                    {{sectorData.statistics.currency}}
                                </span>
                            </div>
                        </div>
                        <div class="panel-body bo-panel-section bo-panel-section-disabled"
                             ng-if="vm.reservationMode && sectorData.statistics.availableTickets == 0"
                             ng-repeat="sectorData in vm.mySectorsData.sales">
                            <div class="bo-title">
                                {{sectorData.name}}
                                <i class="fa fa-exclamation-circle text-danger pull-right" aria-hidden="true"
                                   tooltip-placement="bottom" uib-tooltip="{{'api_status_no_tickets'|translate}}" tooltip-append-to-body="true"></i>
                            </div>
                            <div class="bo-stats clearfix">
                                <div class="bo-statsbar progress">
                                    <div class="progress-bar progress-bar-success" ng-attr-style="flex-grow:{{sectorData.statistics.soldPercent}}"
                                         tooltip-placement="bottom" uib-tooltip="{{'api_overview_sold_total'|translate}}&nbsp;({{sectorData.statistics.soldTickets}})"
                                         tooltip-append-to-body="true">{{sectorData.statistics.soldTickets}}</div>
                                    <div class="progress-bar progress-bar-primary" ng-attr-style="flex-grow:{{sectorData.statistics.bookedPercent}}"
                                         tooltip-placement="bottom" uib-tooltip="{{'api_overview_reserved_total'|translate}}&nbsp;({{sectorData.statistics.bookedTickets}})"
                                         tooltip-append-to-body="true">{{sectorData.statistics.bookedTickets}}</div>
                                    <div class="progress-bar" ng-attr-style="flex-grow: {{sectorData.statistics.availablePercent}}"
                                         tooltip-placement="bottom" uib-tooltip="{{'api_avail_for_sale'|translate}}&nbsp;({{sectorData.statistics.availableTickets}})"
                                         tooltip-append-to-body="true">{{sectorData.statistics.availableTickets}}</div>
                                </div>
                            </div>
                            <div class="bo-totals">
                                <span class="pull-left">{{sectorData.statistics.soldPercent || 0}}%</span>
                                <span class="pull-right" ng-if="hasFullAccess('api_reports_revenue')">
                                    {{sectorData.statistics.soldSumma | number:2}}
                                    {{sectorData.statistics.currency}}
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-7">
            <div class="bo-venuemap" ng-if="vm.event.sectionsMapConfig.sections.length" sticky offset="10">
                <ng-venue-map data-config="{{vm.event.sectionsMapConfig}}"></ng-venue-map>
            </div>
        </div>
    </div>
</div>
