    <div class="bo-tabs-controls bo-salesoverview-controls clearfix bo-inline-print">
        <div class="form-inline">
            <div class="form-group">
                <span class="visible-print">{{'api_print_period'|translate}}</span>
                <div class="input-group data_range col-xs-12">
                    <button class="btn btn-default bo-datarangepicker-button bo-tabs-controls-item" type="button" data-control="daterangepicker">
                        <input type="text" daterangepicker class="form-control"
                               ng-model="vm.filterPeriod" daterangepicker-neutral-timezone
                               ng-attr-data-min-date="{{vm.minFilterDate}}"
                               ng-attr-data-max-date="{{vm.maxFilterDate}}" disabled/>
                        <span class="icon-holder">
                            <i class="fa fa-calendar" aria-hidden="true"></i>
                        </span>
                    </button>
                </div>
            </div>
            <div class="form-group">
                <div ng-if="vm.hasSalesPoint() && vm.event.salespoints.length > 1" class="dropdown">
                    <button class="btn btn-default dropdown-toggle bo-centers-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        <span>{{vm.sectorsFilter.centerName ? vm.sectorsFilter.centerName : 'api_all_center_ids'|translate}}</span> &nbsp;
                        <i class="fa fa-chevron-down"></i>
                    </button>
                    <ul class="dropdown-menu">
                        <li>
                            <a ng-click="vm.salesPoint = null">{{'api_all_center_ids'|translate}}</a>
                            <a ng-repeat="sp in vm.event.salespoints" ng-click="vm.salesPoint = sp">{{sp.name}}</a>
                        </li>
                    </ul>
                </div>
                                <span ng-if="vm.hasSalesPoint() && vm.event.salespoints.length == 1">
                                    {{'api_sale_for'|translate}} {{vm.event.salespoints[0].name}}
                                </span>
            </div>
            <div class="form-group pull-right bo-make-reservation-button" ng-show="hasFullAccess('api_make_reservation') && vm.event.active">
                <button class="btn btn-info bo-tabs-controls-item" type="button" ng-click="vm.getMyBasket()" ng-if="!vm.reservationMode">
                    {{'api_reservation_make'|translate}}&nbsp;&nbsp;
                    <i class="fa fa-plus" aria-hidden="true"></i>
                </button>

                <button class="btn btn-warning" type="button" ng-click="vm.goToSectionsStep()" ng-if="vm.reservationMode">
                    {{'api_reservation_exit'|translate}}&nbsp;&nbsp;
                    <i class="fa fa-times" aria-hidden="true"></i>
                </button>
            </div>
        </div>
    </div>

    <div ng-if="vm.mySectorsData.sales.length === 0">
        <div class="bo-no-data-msg">
            {{'api_no_data_available'|translate}}
        </div>
    </div>

    <div ng-if="vm.mySectorsData.sales.length > 0" class="bo-tabs-content row">
        <div class="col-md-6 col-lg-5">
            <div class="bo-sectionselector list-group" ng-if="vm.mySectorsData.sales.length">
                <button type="button" class="bo-sectionselector-item list-group-item"
                        ng-class="{ 'active': sectorData.sectorId == mouseoverSectionId}"
                        ng-click="vm.setSelectedSectionId(sectorData.sectorId)"
                        ng-mouseover="vm.setMouseoverSectionId(sectorData.sectorId)"
                        ng-repeat="sectorData in vm.mySectorsData.sales">
                    <div class="bo-sectionselection-divider"></div>
                    <div class="bo-sectionselector-itemtitle">{{sectorData.name}}</div>
                    <div class="clearfix">
                        <div class="bo-sectionselector-progress clearfix">
                            <div class="progress">
                                <div class="progress-bar progress-bar-success" ng-attr-style="flex-grow:{{sectorData.statistics.soldPercent}}"
                                     tooltip-placement="bottom" uib-tooltip="{{'api_overview_sold_total'|translate}}&nbsp;({{sectorData.statistics.soldTickets}})"
                                     tooltip-append-to-body="true">{{sectorData.statistics.soldTickets}}</div>
                                <div class="progress-bar progress-bar-warning" ng-attr-style="flex-grow:{{sectorData.statistics.bookedPercent}}"
                                     tooltip-placement="bottom" uib-tooltip="{{'api_overview_reserved_total'|translate}}&nbsp;({{sectorData.statistics.bookedTickets}})"
                                     tooltip-append-to-body="true">{{sectorData.statistics.bookedTickets}}</div>
                                <div class="progress-bar progress-bar-danger" ng-attr-style="flex-grow: {{sectorData.statistics.availablePercent}}"
                                     tooltip-placement="bottom" uib-tooltip="{{'api_avail_for_sale'|translate}}&nbsp;({{sectorData.statistics.availableTickets}})"
                                     tooltip-append-to-body="true">{{sectorData.statistics.availableTickets}}</div>
                            </div>
                            <div>
                                <div class="bo-sectionselector-progresslabel">{{sectorData.statistics.soldPercent || 0}}%</div>
                                <div class="bo-sectionselector-pricelabel" ng-if="hasFullAccess('api_reports_revenue')">
                                    {{sectorData.statistics.soldSumma | number:2}}
                                    {{sectorData.statistics.currency}}
                                </div>
                            </div>
                        </div>
                    </div>
                </button>
            </div>
        </div>
        <div class="col-md-6 col-lg-7">
            <div class="bo-map" ng-if="vm.event.sectionsMapConfig.sections.length" sticky offset="10">
                <ng-venue-map data-config="{{vm.event.sectionsMapConfig}}"></ng-venue-map>
            </div>
        </div>
    </div>
