<div class="row">
	<div class="col-md-6">

	</div>
	<div class="col-md-6 text-right">
		<div class="bo-tabs-controls-short bo-reservation-controls">
			<div class="form-inline">
				<div class="form-group">
					<button class="btn btn-warning" type="button" ng-click="vm.goToSectionsStep()">
						Exit reservation mode&nbsp;&nbsp;
						<i class="fa fa-times" aria-hidden="true"></i>
					</button>
				</div>
			</div>
		</div>
	</div>
</div>
<h4>Selected seats:</h4>
<table class="table table-small">
	<tbody>
	<tr class="row-align-middle" ng-repeat="seat in vm.myBasket.basket">
		<td>ID {{seat.id}}</td>
		<td class="text-center">{{seat.sectionName}}</td>
		<td class="text-center">Row {{seat.rowName}}</td>
		<td class="text-center">Seat {{seat.seatName}}</td>
		<td class="text-center bo-shortcell">
			<div class="dropdown bo-table-dropdown">
				<button class="btn dropdown-toggle form-control" data-toggle="dropdown" aria-haspopup="true"
						aria-expanded="true">{{(seat.priceTypes | filter:{active: true})[0].priceTypeName}}
					<span class="caret"></span>
				</button>
				<ul class="dropdown-menu">
					<li ng-repeat="pricetype in seat.priceTypes">
						<a href="">{{pricetype.priceTypeName}}</a>
					</li>
				</ul>
			</div>
		</td>
		<td class="text-center">{{seat.price}}{{seat.currency}}</td>
	</tr>
	</tbody>
</table>

<div class="row">
	<div class="col-md-6">
		<div class="bo-reservation-selected-type">
			<h4 class="bo-first-heading">Reservation type:
				<span ng-if="vm.reservation.reservationType == 'with_price'">With price</span>
				<span ng-if="vm.reservation.reservationType == 'invitation'">Invitation</span>
			</h4>
		</div>
		<div class="bo-reservation-selected-type">
			<h4>Reservation expires on: <span>{{vm.myBasket.summary.expiresAt | date : "dd.MM.y HH:mm"}}</span></h4>
		</div>
	</div>
	<div class="col-md-6">
		<table class="table table-small">
			<tbody>
			<tr>
				<td class="text-right">Amount:</td>
				<td class="text-center">{{vm.myBasket.summary.ticketsCount}} ticket(s)</td>
			</tr>
			<tr>
				<td class="text-right">Subtotal:</td>
				<td class="text-center">{{vm.myBasket.summary.sumWithoutTaxes}}{{vm.myBasket.summary.currency}}</td>
			</tr>
			<tr>
				<td class="text-right">Discount:</td>
				<td class="text-center">
					{{vm.reservation.discount}}%
				</td>
			</tr>
			<tr ng-repeat="fee in vm.myBasket.summary.fees">
				<td class="text-right">Fee:</td>
				<td class="text-center">{{fee.name}} x {{fee.quantity}} ({{fee.sum}}{{vm.myBasket.summary.currency}})</td>
			</tr>
			<tr>
				<td class="text-right">To pay:</td>
				<td class="text-center">{{vm.myBasket.summary.sumTotal}}{{vm.myBasket.summary.currency}}</td>
			</tr>
			</tbody>
		</table>
	</div>
</div>

<div class="row">
	<div class="col-md-6">
		<h4 class="bo-reservation-table-title">Contact person:</h4>
		<table class="bo-reservation-table">
			<tr>
				<td>First name:</td>
				<td>{{vm.reservation.firstName}}</td>
			</tr>
			<tr>
				<td>Last name:</td>
				<td>{{vm.reservation.lastName}}</td>
			</tr>
			<tr>
				<td>Email:</td>
				<td>{{vm.reservation.contactEmail}}</td>
			</tr>
			<tr>
				<td>Phone:</td>
				<td>{{vm.reservation.contactPhone}}</td>
			</tr>
		</table>
	</div>
	<div class="col-md-6">
		<h4 class="bo-reservation-table-title">Physical address (optional):</h4>
		<table class="bo-reservation-table">
			<tr>
				<td>Address:</td>
				<td>{{vm.reservation.address}}</td>
			</tr>
			<tr>
				<td>City/town:</td>
				<td>{{vm.reservation.city}}</td>
			</tr>
			<tr>
				<td>Postal code:</td>
				<td>{{vm.reservation.postalCode}}</td>
			</tr>
			<tr>
				<td>Country/region:</td>
				<td>{{vm.reservation.region}}</td>
			</tr>
			<tr>
				<td>Country:</td>
				<td>???</td>
			</tr>
		</table>
	</div>
</div>
<h4 class="bo-reservation-table-title">Organisations information:</h4>
<div class="row">
	<div class="col-md-6">
		<table class="bo-reservation-table">
			<tr>
				<td>Organization title:</td>
				<td>{{vm.reservation.organisationName}}</td>
			</tr>
			<tr>
				<td>Registration number:</td>
				<td>{{vm.reservation.regNumber}}</td>
			</tr>
			<tr>
				<td>Vat number:</td>
				<td>{{vm.reservation.vatNumber}}</td>
			</tr>
		</table>
	</div>
	<div class="col-md-6">
		<i>{{vm.reservation.notes}}</i>
	</div>
</div>
<h4 class="bo-reservation-table-title">Email content:</h4>
<div class="bo-reservation-email-data">
	<table class="bo-reservation-table">
		<tr>
			<td>Subject:</td>
			<td>{{vm.reservation.subject}}</td>
		</tr>
		<tr>
			<td>Email text:</td>
			<td>{{vm.reservation.body}}
			</td>
		</tr>
	</table>
</div>
<div class="row">
	<div class="col-md-3 text-left">
		<button class="btn btn-default bo-wide-button" ng-click="vm.goToStep2()">Edit ticket</button>
	</div>
	<div class="col-md-6"></div>
	<div class="col-md-3 text-right">
		<button class="btn btn-info bo-wide-button" ng-click="vm.confirmBasket()">Reserve</button>
	</div>
</div>