<div class="row">
	<div class="col-md-6">

	</div>
	<div class="col-md-6 text-right">
		<div class="bo-tabs-controls-short bo-reservation-controls">
			<div class="form-inline">
				<div class="form-group">
					<button class="btn btn-warning" type="button" ng-click="vm.goToSectionsStep()">
						{{'api_reservation_exit'|translate}}&nbsp;&nbsp;
						<i class="fa fa-times" aria-hidden="true"></i>
					</button>
				</div>
			</div>
		</div>
	</div>
</div>
<h4>{{'api_basket_selected_tickets'|translate}}</h4>
<table class="table table-small">
	<tbody>
	<tr class="row-align-middle" ng-repeat="seat in vm.myBasket.basket">
		<td>{{'api_basket_ticket_id'|translate}} {{seat.id}}</td>
		<td class="text-center">{{seat.sectionName}}</td>
		<td class="text-center"><span ng-if="seat.rowName > 0">{{'api_basket_row'|translate}} {{seat.rowName}}</span></td>
		<td class="text-center"><span ng-if="seat.seatName > 0">{{'api_basket_seat'|translate}} {{seat.seatName}}</span></td>
		<td class="text-center bo-shortcell">
			{{(seat.priceTypes | filter:{active: true})[0].priceTypeName}}
		</td>
		<td class="text-center">{{seat.price}}{{seat.currency}}</td>
	</tr>
	</tbody>
</table>

<div class="row">
	<div class="col-md-6">
		<div class="bo-reservation-selected-type">
			<h4 class="bo-first-heading">{{'api_reservation_type'|translate}}
				<span ng-if="vm.reservation.reservationType == 'with_price'">{{'api_reservation_with_price'|translate}}</span>
				<span ng-if="vm.reservation.reservationType == 'invitation'">{{'api_reservation_invitation'|translate}}</span>
			</h4>
		</div>
		<div class="bo-reservation-selected-type">
			<h4>{{'api_reservation_expiration'|translate}} <span>{{vm.reservation.expireAt}} {{vm.myBasket.summary.expireAt | date : "HH:mm"}}</span></h4>
		</div>
	</div>
	<div class="col-md-6">
		<table class="table table-small">
			<tbody>
			<tr>
				<td class="text-right">{{'api_basket_check_out_amount'|translate}}</td>
				<td class="text-center">{{vm.myBasket.summary.ticketsCount}} {{'api_tickets'|translate}}</td>
			</tr>
			<tr>
				<td class="text-right">{{'api_basket_check_out_subtotal'|translate}}</td>
				<td class="text-center">{{vm.myBasket.summary.sumWithoutTaxes | number:2}}{{vm.myBasket.summary.currency}}</td>
			</tr>
			<tr>
				<td class="text-right">{{'api_basket_check_out_discount'|translate}}</td>
				<td class="text-center">
					{{vm.reservation.discount}}%
				</td>
			</tr>
			<tr ng-if="vm.myBasket.summary.discount">
				<td class="text-right">{{'api_basket_check_out_discount_sum'|translate}}</td>
				<td class="text-center">
					{{vm.myBasket.summary.discount}}{{vm.myBasket.summary.currency}}
				</td>
			</tr>
			<tr ng-repeat="fee in vm.myBasket.summary.fees">
				<td class="text-right">{{fee.name}}</td>
				<td class="text-center">
					{{fee.price}}{{fee.currency}} x {{fee.quantity}} ({{fee.sum}}{{fee.currency}})
				</td>
			</tr>
			<tr>
				<td class="text-right">{{'api_basket_check_out_total'|translate}}</td>
				<td class="text-center">{{vm.myBasket.summary.sumTotal | number:2}}{{vm.myBasket.summary.currency}}</td>
			</tr>
			</tbody>
		</table>
	</div>
</div>

<div class="row">
	<div class="col-md-6">
		<h4 class="bo-reservation-table-title">{{'api_reservation_meta_contact'|translate}}</h4>
		<table class="bo-reservation-table">
			<tr>
				<td>{{'api_meta_contact_firstname'|translate}}:</td>
				<td>{{vm.reservation.firstName}}</td>
			</tr>
			<tr>
				<td>{{'api_meta_contact_lastname'|translate}}:</td>
				<td>{{vm.reservation.lastName}}</td>
			</tr>
			<tr>
				<td>{{'api_meta_contact_email'|translate}}:</td>
				<td>{{vm.reservation.contactEmail}}</td>
			</tr>
			<tr>
				<td>{{'api_meta_contact_phone'|translate}}:</td>
				<td>{{vm.reservation.contactPhoneCode}} {{vm.reservation.contactPhone}}</td>
			</tr>
		</table>
	</div>
	<div class="col-md-6">
		<h4 class="bo-reservation-table-title">{{'api_reservation_meta_address'|translate}}</h4>
		<table class="bo-reservation-table">
			<tr>
				<td>{{'api_meta_contact_address'|translate}}:</td>
				<td>{{vm.reservation.address}}</td>
			</tr>
			<tr>
				<td>{{'api_meta_contact_city'|translate}}:</td>
				<td>{{vm.reservation.city}}</td>
			</tr>
			<tr>
				<td>{{'api_meta_contact_postal_code'|translate}}:</td>
				<td>{{vm.reservation.postalCode}}</td>
			</tr>
			<tr>
				<td>{{'api_meta_contact_postal_region'|translate}}:</td>
				<td>{{vm.reservation.region}}</td>
			</tr>
			<tr>
				<td>{{'api_meta_contact_country'|translate}}:</td>
				<td>{{(vm.countries.countries | filter:{id: vm.reservation.countryId }:true)[0].name}}</td>
			</tr>
		</table>
	</div>
</div>
<h4 class="bo-reservation-table-title" ng-if="vm.reservation.personType == 'organization'">{{'api_reservation_meta_organization'|translate}}</h4>
<div class="row">
	<div class="col-md-6" ng-if="vm.reservation.personType == 'organization'">
		<table class="bo-reservation-table">
			<tr>
				<td>{{'api_meta_organization'|translate}}:</td>
				<td>{{vm.reservation.organizationName}}</td>
			</tr>
			<tr>
				<td>{{'api_meta_organization_reg'|translate}}:</td>
				<td>{{vm.reservation.regNumber}}</td>
			</tr>
			<tr>
				<td>{{'api_meta_organization_vat'|translate}}:</td>
				<td>{{vm.reservation.vatNumber}}</td>
			</tr>
		</table>
	</div>
	<div class="col-md-6">
		<i>{{vm.reservation.notes}}</i>
	</div>
</div>
<h4 class="bo-reservation-table-title">{{'api_reservation_meta_email'|translate}}:</h4>
<div class="bo-reservation-email-data">
	<table class="bo-reservation-table">
		<tr>
			<td>{{'api_reservation_meta_from'|translate}}:</td>
			<td>{{vm.reservation.from}}</td>
		</tr>
		<tr>
			<td>{{'api_reservation_meta_subject'|translate}}:</td>
			<td>{{vm.prepareEmailContent(vm.reservation.subject)}}</td>
		</tr>
		<tr>
			<td valign="top">{{'api_reservation_meta_body'|translate}}:</td>
			<td ng-bind-html="vm.prepareEmailContent(vm.reservation.body)"></td>
		</tr>
	</table>
</div>
<div class="row">
	<div class="col-md-3 text-left">
		<button class="btn btn-default bo-wide-button" ng-click="vm.goToStep2()">{{'api_reservation_edit'|translate}}</button>
	</div>
	<div class="col-md-6"></div>
	<div class="col-md-3 text-right">
		<button class="btn btn-info bo-wide-button" ng-click="vm.confirmReservation()">{{'api_reservation_reserve'|translate}}</button>
	</div>
</div>