<div class="row">
    <div class="col-md-6">

    </div>
    <div class="col-md-6 text-right">
        <div class="bo-tabs-controls-short bo-reservation-controls">
            <div class="form-inline">
                <div class="form-group">
                    <button class="btn btn-warning" type="button" ng-click="vm.goToSectionsStep()">
                        {{'api_reservation_exit'|translate}}&nbsp;&nbsp;
                        <i class="fa fa-times" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<h4>{{'api_basket_selected_tickets'|translate}}</h4>
<table class="table table-small">
    <tbody>
    <tr class="row-align-middle" ng-repeat="seat in vm.myBasket.basket">
        <td>{{'api_basket_ticket_id'|translate}} {{seat.id}}</td>
        <td class="text-center">{{seat.sectionName}}</td>
        <td class="text-center"><span ng-if="seat.rowName > 0">{{'api_basket_row'|translate}} {{seat.rowName}}</span>
        </td>
        <td class="text-center"><span ng-if="seat.seatName > 0">{{'api_basket_seat'|translate}} {{seat.seatName}}</span>
        </td>
        <td class="text-center bo-shortcell">
            {{(seat.priceTypes | filter:{active: true})[0].priceTypeName}}
        </td>
        <td class="text-center">{{seat.price}}{{seat.currency}}</td>
    </tr>
    </tbody>
</table>

<div class="row">
    <div class="col-md-6">
        <div class="bo-reservation-selected-type">
            <h4 class="bo-first-heading">{{'api_reservation_type'|translate}}
                <span ng-if="vm.reservation.reservationType == 'with_price'">{{'api_reservation_with_price'|translate}}</span>
                <span ng-if="vm.reservation.reservationType == 'invitation'">{{'api_reservation_invitation'|translate}}</span>
            </h4>
        </div>
        <div class="bo-reservation-selected-type">
            <h4>{{'api_reservation_expiration'|translate}} <span>{{vm.reservation.expireAt}} {{vm.myBasket.summary.expireAt | date : "HH:mm"}}</span>
            </h4>
        </div>
    </div>
    <div class="col-md-6">
        <table class="table table-small">
            <tbody>
            <tr>
                <td class="text-right">{{'api_basket_check_out_amount'|translate}}</td>
                <td class="text-center">{{vm.myBasket.summary.ticketsCount}} {{'api_tickets'|translate}}</td>
            </tr>
            <tr>
                <td class="text-right">{{'api_basket_check_out_subtotal'|translate}}</td>
                <td class="text-center">{{vm.myBasket.summary.sumWithoutTaxes |
                    number:2}}{{vm.myBasket.summary.currency}}
                </td>
            </tr>
            <tr>
                <td class="text-right">{{'api_basket_check_out_discount'|translate}}</td>
                <td class="text-center">
                    {{vm.reservation.discount}}%
                </td>
            </tr>
            <tr ng-if="vm.myBasket.summary.discount">
                <td class="text-right">{{'api_basket_check_out_discount_sum'|translate}}</td>
                <td class="text-center">
                    {{vm.myBasket.summary.discount}}{{vm.myBasket.summary.currency}}
                </td>
            </tr>
            <tr ng-repeat="fee in vm.myBasket.summary.fees">
                <td class="text-right">{{fee.name}}</td>
                <td class="text-center">
                    {{fee.price}}{{fee.currency}} x {{fee.quantity}} ({{fee.sum}}{{fee.currency}})
                </td>
            </tr>
            <tr>
                <td class="text-right">{{'api_basket_check_out_total'|translate}}</td>
                <td class="text-center">{{vm.myBasket.summary.sumTotal | number:2}}{{vm.myBasket.summary.currency}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<h4 class="bo-first-heading">{{'api_reservation_meta_entity'|translate}}</h4>
<div class="form-inline bo-reservation-inline-buttons">
    <div class="form-group">
        <button class="btn btn-lg {{vm.reservation.personType == 'person' ? 'btn-primary' : 'btn-default'}}"
                type="button" ng-click="vm.reservation.personType = 'person'">
            {{'api_meta_entity_private'|translate}}
        </button>
    </div>
    &nbsp;
    <div class="form-group">
        <button class="btn btn-lg {{vm.reservation.personType == 'organization' ? 'btn-primary' : 'btn-default'}}"
                type="button" ng-click="vm.reservation.personType = 'organization'">
            {{'api_meta_entity_organization'|translate}}
        </button>
    </div>
</div>

<form name="reservationForm" ng-submit="vm.goToStep5()">
    <div class="row bo-reservation-form-block">
        <div class="col-md-6">
            <h4>{{'api_reservation_meta_contact'|translate}}</h4>
            <div class="form-group">
                <input type="text" placeholder="{{'api_meta_contact_firstname'|translate}}*" required
                       class="form-control"
                       ng-model="vm.reservation.firstName"/>
            </div>
            <div class="form-group">
                <input type="text" placeholder="{{'api_meta_contact_lastname'|translate}}*" required
                       class="form-control"
                       ng-model="vm.reservation.lastName"/>
            </div>
            <div class="form-group">
                <input type="email" placeholder="{{'api_meta_contact_email'|translate}}*" required class="form-control"
                       ng-model="vm.reservation.contactEmail"/>
            </div>
            <div class="row bo-reservation-phone">
                <div class="col-md-3 form-group">
                    <div class="dropdown">
                        <button class="btn dropdown-toggle form-control" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="true">{{vm.reservation.contactPhoneCode}}
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li ng-repeat="country in vm.countries.countries">
                                <a ng-click="vm.reservation.contactPhoneCode = '+' + country.areaCode">{{country.name}} (+{{country.areaCode}})</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-9 form-group">
                    <input type="text" placeholder="{{'api_meta_contact_phone'|translate}}" class="form-control"
                           ng-model="vm.reservation.contactPhone"/>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <h4>{{'api_reservation_meta_address'|translate}}</h4>
            <div class="form-group">
                <input type="text" placeholder="{{'api_meta_contact_address'|translate}}" class="form-control"
                       ng-model="vm.reservation.address"/>
            </div>
            <div class="form-group">
                <input type="text" placeholder="{{'api_meta_contact_city'|translate}}" class="form-control"
                       ng-model="vm.reservation.city"/>
            </div>
            <div class="form-group">
                <input type="text" placeholder="{{'api_meta_contact_postal_code'|translate}}" class="form-control"
                       ng-model="vm.reservation.postalCode"/>
            </div>
            <div class="form-group">
                <input type="text" placeholder="{{'api_meta_contact_postal_region'|translate}}" class="form-control"
                       ng-model="vm.reservation.region"/>
            </div>
            <div class="form-group">
                <div class="dropdown">
                    <select class="form-control" ng-model="vm.reservation.countryId" ng-options="c.id as c.name for c in vm.countries.countries">
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="bo-reservation-form-block">
        <h4 class="bo-first-heading" ng-if="vm.reservation.personType == 'organization'">
            {{'api_reservation_meta_organization'|translate}}</h4>
        <div class="row">
            <div class="col-md-6">
                <div ng-if="vm.reservation.personType == 'organization'">
                    <div class="form-group">
                        <input type="text" placeholder="{{'api_meta_organization'|translate}}*" required
                               class="form-control"
                               ng-model="vm.reservation.organisationName"/>
                    </div>
                    <div class="form-group">
                        <input type="text" placeholder="{{'api_meta_organization_reg'|translate}}" class="form-control"
                               ng-model="vm.reservation.regNumber"/>
                    </div>
                    <div class="form-group">
                        <input type="text" placeholder="{{'api_meta_organization_vat'|translate}}" class="form-control"
                               ng-model="vm.reservation.vatNumber"/>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <div class="form-group">
                    <textarea class="form-control" placeholder="{{'api_reservation_meta_notes'|translate}}"
                              ng-model="vm.reservation.notes"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <h4 class="bo-first-heading">{{'api_reservation_meta_email'|translate}}</h4>
    <div class="form-horizontal">
        <div class="form-group">
            <label class="col-sm-2 control-label bo-control-label">{{'api_reservation_meta_from'|translate}}</label>
            <div class="col-md-10">
                <input type="text" class="form-control" ng-model="vm.reservation.from" required/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label bo-control-label">{{'api_reservation_meta_subject'|translate}}</label>
            <div class="col-md-10">
                <input type="text" class="form-control" ng-model="vm.reservation.subject" required/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label bo-control-label">{{'api_reservation_meta_body'|translate}}</label>
            <div class="col-md-10">
                <textarea class="form-control" ng-model="vm.reservation.body" required></textarea>
            </div>
        </div>
    </div>

    <div class="bo-reservation-footer-butons">
        <div class="row">
            <div class="col-md-6 text-left">
                <button class="btn btn-default" ng-click="vm.goToStep2()">{{'api_reservation_edit'|translate}}</button>
            </div>
            <div class="col-md-6 text-right">
                <button type="submit" class="btn btn-info">{{'api_reservation_meta_confirm'|translate}}</button>
            </div>
        </div>
    </div>
</form>