<tbody>
<tr>
    <td>{{vm.event.name}}</td>
    <td></td>
    <td></td>
    <td></td>
</tr>
<tr>
    <td ng-if="event.isShow">{{vm.event.eventPeriod.start | date:'dd.MM.yyyy'}} - {{vm.event.eventPeriod.end | date:'dd.MM.yyyy'}}</td>
    <td ng-if="!event.isShow">{{vm.event.eventPeriod.start | date:'dd.MM.yyyy HH:mm'}}</td>
    <td></td>
    <td></td>
    <td></td>
</tr>
<tr>
    <td>{{vm.event.location}}</td>
    <td></td>
    <td></td>
    <td></td>
</tr>
<tr>
    <td>{{'api_print_period'|translate}}: {{vm.event.sellPeriod.start | date:'dd.MM.yyyy'}} - {{vm.event.sellPeriod.end | date:'dd.MM.yyyy'}}</td>
    <td></td>
    <td></td>
    <td></td>
</tr>
<tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
</tr>
<tr>
    <td><strong>{{'api_selected_section'|translate}}</strong></td>
    <td><strong>{{'api_overview_sold_total'|translate}}</strong></td>
    <td><strong>{{'api_overview_reserved_total'|translate}}</strong></td>
    <td><strong>{{'api_avail_for_sale'|translate}}</strong></td>
    <td><strong>%</strong></td>
    <td><strong>{{'api_revenue'|translate}}</strong></td>
</tr>
<tr ng-repeat="sectorData in vm.mySectorsData.sales">
    <td>{{sectorData.name}}</td>
    <td>{{sectorData.statistics.soldTickets || 0}}</td>
    <td>{{sectorData.statistics.bookedTickets || 0}}</td>
    <td>{{sectorData.statistics.availableTickets || 0}}</td>
    <td>{{sectorData.statistics.soldPercent || 0}}%</td>
    <td ng-if="hasFullAccess('api_reports_revenue')">{{sectorData.statistics.soldSumma.toFixed(2).replace(".", ",")}}</td>
</tr>
<tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
</tr>
<tr>
    <td>{{'api_overview_venue_occupancy'|translate}}</td>
    <td>{{vm.mySectorsData.salesTotal.soldTickets || 0}}</td>
    <td>{{vm.mySectorsData.salesTotal.bookedTickets || 0}}</td>
    <td>{{vm.mySectorsData.salesTotal.availableTickets || 0}}</td>
    <td>{{vm.mySectorsData.salesTotal.soldPercent || 0}}%</td>
    <td ng-if="hasFullAccess('api_reports_revenue')">{{vm.mySectorsData.salesTotal.soldSumma.toFixed(2).replace(".", ",")}}</td>
</tr>

<tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
</tr>
<tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
</tr>

<tbody ng-include="'views/common/report_export/export_footer.html'"></tbody>