<div class="bo-sectionrevenuetable table table-condensed table-small bo-table-report" ng-if="vm.myPriceClassPieData.sales.length">
    <div class="bo-tableheader">
        <div class="bo-tablerow">
            <div>{{'api_priceclass'|translate}}</div>
            <div style="width:1%">{{'api_tickets'|translate}}</div>
            <div>%</div>
            <div ng-if="hasFullAccess('api_reports_revenue')">{{'api_revenue'|translate}}</div>
        </div>
    </div>
    <div class="bo-tablebody">
        <div class="bo-table-title-row bo-tablerow">
            <div>{{'api_issued_total'|translate}}</div>
            <div data-label="{{'api_tickets'|translate}}: ">{{vm.myPriceClassPieData.generatedCount}}</div>
            <div>100%</div>
            <div data-label="{{'api_revenue'|translate}}: " ng-if="hasFullAccess('api_reports_revenue')">
                {{vm.myPriceClassPieData.generatedSum | number:2}}
                {{vm.myPriceClassPieData.currency}}
            </div>
        </div>
    </div>
    <div class="bo-tablebody" ng-repeat="priceclassData in vm.myPriceClassPieData.sales">
        <div class="bo-table-secondarytitle-row bo-tablerow">
            <div><span class="bo-table-dot-title"><span class="bo-dot fa fa-square"></span>{{priceclassData.groupName|translate}}</span></div>
            <div data-label="{{'api_tickets'|translate}}: ">{{priceclassData.rowCount}}</div>
            <div>{{vm.myPriceClassPieData.generatedCount ? ( priceclassData.rowCount / vm.myPriceClassPieData.generatedCount ) * 100 : 0 | number:0}}%</div>
            <div data-label="{{'api_revenue'|translate}}: " ng-if="hasFullAccess('api_reports_revenue')">
                {{priceclassData.rowSum | number:2}}
                {{priceclassData.currency}}
            </div>
        </div>
        <div class="bo-tablerow" ng-repeat="priceclassItem in priceclassData.priceClasses">
            <div><span class="bo-table-dot-title"><span class="bo-dot fa fa-square" style="color: {{priceclassItem.color}}!important;"></span>{{priceclassItem.priceClassName}}<span ng-if="priceclassItem.minPrice > 0 && priceclassItem.maxPrice > 0">({{ priceclassItem.minPrice != priceclassItem.maxPrice ? (priceclassItem.minPrice | number:2) + "-" + (priceclassItem.maxPrice | number:2) : (priceclassItem.minPrice | number:2)}})</span></span></div>
            <div data-label="{{'api_tickets'|translate}}: ">{{priceclassItem.count}}</div>
            <div>{{vm.myPriceClassPieData.generatedCount ? ( priceclassItem.count / vm.myPriceClassPieData.generatedCount ) * 100 : 0 | number:0}}%</div>
            <div data-label="{{'api_revenue'|translate}}: " ng-if="hasFullAccess('api_reports_revenue')">
                {{priceclassItem.sum | number:2}}
                {{vm.myPriceClassPieData.currency}}
            </div>
        </div>
    </div>
</div>