<table class="bo-pricetyperevenuetable table table-condensed table-small bo-chart-table">
    <thead>
    <tr>
        <th colspan="2" class="bo-name-column">{{'api_priceclass'|translate}}</th>
        <th>{{'api_tickets'|translate}}</th>
        <th>%</th>
        <th>{{'api_revenue'|translate}}</th>
    </tr>
    </thead>
    <thead>
    <tr>
        <td colspan="2" class="bo-name-column">{{'api_issued_total'|translate}}</td>
        <td>{{vm.myPriceClassPieData.generatedCount}}</td>
        <td>100%</td>
        <td>{{vm.myPriceClassPieData.generatedSum | number:2}}
            {{vm.myPriceClassPieData.currency}}
        </td>
    </tr>
    </thead>
    <tbody ng-repeat="priceclassData in vm.myPriceClassPieData.sales">
    <tr>
        <th></th>
        <th class="bo-name-column">{{priceclassData.groupName|translate}}</th>
        <th>{{priceclassData.rowCount}}</th>
        <th>{{vm.myPriceClassPieData.generatedCount ? ( priceclassData.rowCount /
            vm.myPriceClassPieData.generatedCount ) * 100 : 0 | number:0}}%
        </th>
        <th>{{priceclassData.rowSum | number:2}} {{priceclassData.currency}}</th>
    </tr>
    <tr ng-repeat="priceclassItem in priceclassData.priceClasses">
        <td>
                                    <span class="hidden-print bo-dot"
                                          style="background-color: {{priceclassItem.color}}!important;"></span>
        </td>
        <td class="bo-name-column">{{priceclassItem.priceClassName}}</td>
        <td>{{priceclassItem.count}}</td>
        <td>{{vm.myPriceClassPieData.generatedCount ? ( priceclassItem.count /
            vm.myPriceClassPieData.generatedCount ) * 100 : 0 | number:0}}%
        </td>
        <td>{{priceclassItem.sum | number:2}} {{vm.myPriceClassPieData.currency}}</td>
    </tr>
    </tbody>
</table>