<div class="col-md-3 bo-sidebar">
	<div class="panel panel-default bo-onsale">
		<!--<h2 class="bo-sidebar-title hidden-xs">Asd asdasd asd asd a dsasd</h2>-->
		<ul class="list-group">
			<li class="list-group-item">
				<div class="bo-eventshort">
					<h3 class="bo-eventshort-title">Some name</h3>
					<div class="bo-eventshort-datetime">
						<span class="bo-eventshort-date"><i class="fa fa-calendar" aria-hidden="true"></i>&nbsp;asdadsads</span>&nbsp;<span class="bo-eventshort-time"><i class="fa fa-clock-o" aria-hidden="true"></i>&nbsp;asd sada da d</span>
					</div>
					<div class="bo-eventshort-venue">
						<i class="fa fa-map-marker" aria-hidden="true"></i>&nbsp; sa da dsadsa d a
					</div>
					<div class="bo-eventshort-progress clearfix">
						<div class="progress">
							<div class="progress-bar progress-bar-success" style="width: 5%" title="sold">asd</div>
							<div class="progress-bar progress-bar-warning" style="width: 15%" title="reserved">5555</div>
							<div class="progress-bar progress-bar-danger" style="width: 80%" title="empty">999</div>
						</div>
						<div>
							<div class="bo-eventshort-progresslabel">
								10%
							</div>
							<div class="bo-eventshort-pricelabel">
								4,988.98€
							</div>
						</div>
					</div>
				</div>

				<div class="bo-eventshort">
					<h3 class="bo-eventshort-title">Some name</h3>
					<div class="bo-eventshort-datetime">
						<span class="bo-eventshort-date"><i class="fa fa-calendar" aria-hidden="true"></i>&nbsp;asdadsads</span>&nbsp;<span class="bo-eventshort-time"><i class="fa fa-clock-o" aria-hidden="true"></i>&nbsp;asd sada da d</span>
					</div>
					<div class="bo-eventshort-venue">
						<i class="fa fa-map-marker" aria-hidden="true"></i>&nbsp; sa da dsadsa d a
					</div>
					<div class="bo-eventshort-progress clearfix">
						<div class="progress">
							<div class="progress-bar progress-bar-success" style="width: {{event.statistics.soldPercent}}%" title="sold">{{event.statistics.soldTickets}}</div>
							<div class="progress-bar progress-bar-warning" style="width: {{event.statistics.bookedPercent}}%" title="reserved">{{event.statistics.bookedTickets}}</div>
							<div class="progress-bar progress-bar-danger" style="width: {{event.statistics.availablePercent}}%" title="empty">{{event.statistics.availableTickets}}</div>
						</div>
						<div>
							<div class="bo-eventshort-progresslabel">
								10%
							</div>
						</div>
					</div>
				</div>
				<div class="bo-eventshort-subevents">
					<div class="bo-eventshort">
						<h3 class="bo-eventshort-title">Some name</h3>
						<div class="bo-eventshort-datetime">
							<span class="bo-eventshort-date"><i class="fa fa-calendar" aria-hidden="true"></i>&nbsp;asdadsads</span>&nbsp;<span class="bo-eventshort-time"><i class="fa fa-clock-o" aria-hidden="true"></i>&nbsp;asd sada da d</span>
						</div>
						<div class="bo-eventshort-venue">
							<i class="fa fa-map-marker" aria-hidden="true"></i>&nbsp; sa da dsadsa d a
						</div>
						<div class="bo-eventshort-progress clearfix">
							<div class="progress">
								<div class="progress-bar progress-bar-success" style="width: 15%" title="sold">asd</div>
								<div class="progress-bar progress-bar-warning" style="width: 15%" title="reserved">5555</div>
								<div class="progress-bar progress-bar-danger" style="width: 70%" title="empty">999</div>
							</div>
							<div>
								<div class="bo-eventshort-progresslabel">
									10%
								</div>
							</div>
						</div>
					</div>
					<div class="bo-eventshort">
						<h3 class="bo-eventshort-title">Some name</h3>
						<div class="bo-eventshort-datetime">
							<span class="bo-eventshort-date"><i class="fa fa-calendar" aria-hidden="true"></i>&nbsp;asdadsads</span>&nbsp;<span class="bo-eventshort-time"><i class="fa fa-clock-o" aria-hidden="true"></i>&nbsp;asd sada da d</span>
						</div>
						<div class="bo-eventshort-venue">
							<i class="fa fa-map-marker" aria-hidden="true"></i>&nbsp; sa da dsadsa d a
						</div>
						<div class="bo-eventshort-progress clearfix">
							<div class="progress">
								<div class="progress-bar progress-bar-success" style="width: 15%" title="sold">asd</div>
								<div class="progress-bar progress-bar-warning" style="width: 15%" title="reserved">5555</div>
								<div class="progress-bar progress-bar-danger" style="width: 70%" title="empty">999</div>
							</div>
							<div>
								<div class="bo-eventshort-progresslabel">
									10%
								</div>
							</div>
						</div>
					</div>
				</div>
			</li>
			<li class="list-group-item">
				<a class="bo-onsale-viewall" href="#TODO">{{'api_view_all_events_on_sale'|translate}}</a>
			</li>
		</ul>
	</div>
</div>

