<div class="panel-body">
	<h3 class="bo-event-title">
		<!--<div class="bo-event-badge bo-event-badge-regular_presale label-info">Presale</div>-->
		<!--<div class="bo-event-badge bo-event-badge-future_sale label-info">Future presale</div>-->
		<!--<div class="bo-event-badge bo-event-badge-hidden_until_sale label-info">Presale starts at the right time</div>-->
		<!--<div class="bo-event-badge bo-event-badge-presale_with_code label-info">Priority sale</div>-->
		<!--<div class="bo-event-badge bo-event-badge-sold_out label-success">Sold out</div>-->
		<div class="bo-event-badge bo-event-badge-no_tickets label-danger">No tickets available</div>
		<!--<div class="bo-event-badge bo-event-badge-going_now label-info">Presale has ended</div>-->
		<!--<div class="bo-event-badge bo-event-badge-free_admission label-info">Free admission</div>-->
		<!--<div class="bo-event-badge bo-event-badge-presale_at_boxoffices label-info">Only sales points</div>-->
		<!--<div class="bo-event-badge bo-event-badge-past label-primary">Past event</div>-->
		<!--<div class="bo-event-badge bo-event-badge-canceled label-danger">Event is suspended</div>-->
		<!--<div class="bo-event-badge bo-event-badge-refund label-danger">Refund</div>-->
		<a ng-if="event.concertsCount" class="bo-event-toggle collapsed" data-toggle="collapse" data-target="#bo-sub-events{{event.id}}" aria-expanded="false">
		<span class="glyphicon glyphicon-triangle-top"></span>
		<span class="glyphicon glyphicon-triangle-bottom"></span>
		<span class="badge">{{event.concertsCount}}</span>
	</a>{{event.name}}</h3>
	<div class="row">
		<div class="col-sm-4 bo-event-datetime_block" ng-if="!event.concertsCount">
			<div>
				<div class="bo-event-date"><i class="fa fa-calendar" aria-hidden="true"></i> {{event.eventPeriod.start | date:'dd.MM.yyyy'}}</div>
				<div class="bo-event-time"><i class="fa fa-clock-o" aria-hidden="true"></i> {{event.eventPeriod.start | date:'HH:mm'}}</div>
			</div>
			<div class="bo-event-place"><i class="fa fa-map-marker active" aria-hidden="true"></i> {{event.location}} </div>
		</div>
		<div class="col-sm-4 bo-event-datetime_block" ng-if="event.concertsCount">
			<div ng-if="event.eventPeriod.start != event.eventPeriod.end">
				<div class="bo-event-date"><i class="fa fa-calendar" aria-hidden="true"></i> {{event.eventPeriod.start | date:'dd.MM.yyyy'}} - {{event.eventPeriod.end | date:'dd.MM.yyyy'}}</div>
			</div>
			<div ng-if="event.eventPeriod.start == event.eventPeriod.end">
				<div class="bo-event-date"><i class="fa fa-calendar" aria-hidden="true"></i> {{event.eventPeriod.start | date:'dd.MM.yyyy'}}</div>
			</div>
			<div class="bo-event-place" ng-if="event.locations"><i class="fa fa-map-marker active" aria-hidden="true"></i> {{event.locations.length === 1 ? event.locations[0].location : ('api_different_venues' | translate)}}</div>
		</div>
		<div>
			<div class="col-xs-12 col-sm-6">
				<div ng-include-template="simplestats.html" ng-include-variables="{ currentEvent: event }"></div>
			</div>
			<div class="col-xs-12 col-sm-2">
				<div class="row">
					<div class="col-xs-6 col-sm-12 col-xs-push-6 col-sm-push-0 text-right bo-event-price">{{event.sell.soldSumma | number:2 }} {{event.sell.currency}}</div>
					<!--div class="col-xs-6 col-sm-12 col-xs-pull-6 col-sm-pull-0 text-center"><a class="btn btn-warning bo-event-button" href="#">{{'api_promote_event'|translate}}</a></div-->
				</div>
			</div>
		</div>
	</div>
	<div class="bo-event-report-link"><!--a href="#/report/{{event.concertsCount ? 'show' : 'concert'}}/{{event.id}}" ng-if="showEditLink">{{'api_edit'|translate}}</a><span ng-if="showEditLink">|</span--><a href="#/report/{{event.concertsCount ? 'show' : 'concert'}}/{{event.id}}" ng-if="showReportLink">{{'api_view_report'|translate}}</a>
		<span ng-if="event.websiteUrl"><span ng-if="showReportLink">|</span><a href="{{event.websiteUrl}}" target="_blank">{{'api_view_website'|translate}}</a></span>
	</div>
	<div ng-if="event.concerts" id="bo-sub-events{{event.id}}" class="bo-sub-events collapse">
		<div class="panel panel-default bo-event" ng-repeat="concertItem in event.concerts" ng-init="vm.getEventSales(concertItem)">
			<div ng-include-template="event_detail.html" ng-include-variables="{ event: concertItem, showEditLink: true, showReportLink: true }"></div>
		</div>
	</div>
</div>
