<div class="col-md-3 bo-sidebar" ng-if="related && related.id">
	<div class="panel panel-default bo-onsale">
		<!--<h2 class="bo-sidebar-title hidden-xs">Asd asdasd asd asd a dsasd</h2>-->
		<ul class="list-group">
			<li class="list-group-item">
				<div class="bo-eventshort">
					<h3 class="bo-eventshort-title">{{related.name}}</h3>
					<div class="bo-eventshort-datetime" ng-if="related.eventPeriod.start != related.eventPeriod.end">
						<span class="bo-eventshort-date"><i class="fa fa-calendar" aria-hidden="true"></i>&nbsp;{{related.eventPeriod.start | date:'dd.MM.yyyy'}} - {{related.eventPeriod.end | date:'dd.MM.yyyy'}}</span>
					</div>
					<div class="bo-eventshort-datetime" ng-if="related.eventPeriod.start == related.eventPeriod.end">
						<span class="bo-eventshort-date"><i class="fa fa-calendar" aria-hidden="true"></i>&nbsp;{{related.eventPeriod.start | date:'dd.MM.yyyy'}}</span>&nbsp;<span class="bo-eventshort-time"><i class="fa fa-clock-o" aria-hidden="true"></i>&nbsp;{{related.eventPeriod.start | date:'HH:mm'}}</span>
					</div>
					<div class="bo-eventshort-venue">
						<i class="fa fa-map-marker" aria-hidden="true"></i>&nbsp; {{related.locations.length === 1 ? related.locations[0].location : ('api_different_venues' | translate)}}
					</div>
					<div class="bo-eventshort-progress clearfix">
						<div class="progress">
							<div class="progress-bar progress-bar-success" style="flex-grow: {{related.statistics.soldPercent}}" title="{{'api_overview_sold_total'|translate}}">{{related.statistics.soldTickets || 0}}</div>
							<div class="progress-bar progress-bar-warning" style="flex-grow: {{related.statistics.bookedPercent}}" title="{{'api_overview_reserved_total'|translate}}">{{related.statistics.bookedTickets || 0}}</div>
							<div class="progress-bar progress-bar-danger" style="flex-grow: {{related.statistics.availablePercent}}" title="{{'api_avail_for_sale'|translate}}">{{related.statistics.availableTickets || 0}}</div>
						</div>
						<div>
							<div class="bo-eventshort-progresslabel">
								{{related.statistics.soldPercent}}%
							</div>
							<div class="bo-eventshort-pricelabel">
								{{related.statistics.soldSumma | number:2 }} {{related.statistics.currency}}
							</div>
						</div>
					</div>
					<a class="bo-eventshort-overlay" href="#/report/concert/{{concertItem.id}}"></a>
				</div>
				<div class="bo-eventshort-subevents">
					<div class="bo-eventshort" ng-repeat="concertItem in related.concerts">
						<h3 class="bo-eventshort-title">{{concertItem.name}}</h3>
						<div class="bo-eventshort-datetime">
							<span class="bo-eventshort-date"><i class="fa fa-calendar" aria-hidden="true"></i>&nbsp;{{concertItem.eventPeriod.start | date:'dd.MM.yyyy'}}</span>&nbsp;<span class="bo-eventshort-time"><i class="fa fa-clock-o" aria-hidden="true"></i>&nbsp;{{concertItem.eventPeriod.start | date:'HH:mm'}}</span>
						</div>
						<div class="bo-eventshort-venue">
							<i class="fa fa-map-marker" aria-hidden="true"></i>&nbsp; {{concertItem.location}}
						</div>
						<div class="bo-eventshort-progress clearfix">
							<div class="progress">
								<div class="progress-bar progress-bar-success" style="flex-grow: {{concertItem.statistics.soldPercent}}" title="{{'api_overview_sold_total'|translate}}">{{concertItem.statistics.soldTickets || 0}}</div>
								<div class="progress-bar progress-bar-warning" style="flex-grow: {{concertItem.statistics.bookedPercent}}" title="{{'api_overview_reserved_total'|translate}}">{{concertItem.statistics.bookedTickets || 0}}</div>
								<div class="progress-bar progress-bar-danger" style="flex-grow: {{concertItem.statistics.availablePercent}}" title="{{'api_avail_for_sale'|translate}}">{{concertItem.statistics.availableTickets || 0}}</div>
							</div>
							<div>
								<div class="bo-eventshort-progresslabel">
									{{concertItem.statistics.soldPercent}}%
								</div>
								<div class="bo-eventshort-pricelabel">
									{{concertItem.statistics.soldSumma | number:2 }} {{concertItem.statistics.currency}}
								</div>
							</div>
						</div>
						<a class="bo-eventshort-overlay" href="#/report/concert/{{concertItem.id}}"></a>
					</div>
				</div>
			</li>
			<li class="list-group-item" ng-if="vm.hasMoreRelatedEvents(related)">
				<a class="bo-onsale-viewall" href ng-click="vm.getMoreRelatedEvents(vm.event)">{{'api_view_all_events_on_sale'|translate}}</a>
			</li>
		</ul>
	</div>
</div>

