<div class="bo-simplestats">
 <div class="bo-simplestats-labels">
	 <span class="bo-simplestats-triangle glyphicon glyphicon-triangle-bottom text-danger"></span>&nbsp;<span class="bo-simplestats-label text-success">800</span>&nbsp;/&nbsp;<span class="bo-simplestats-label text-warning">210</span>&nbsp;/&nbsp;<span class="bo-simplestats-label text-danger">2000</span>
 </div>
 <div class="clearfix">
	 <div class="bo-simplestats-pct">58%</div><!--
	 --><div class="bo-simplestats-bar progress">
		 <div class="progress-bar progress-bar-success" style="width: 35%" title="sold"></div>
		 <div class="progress-bar progress-bar-warning" style="width: 25%" title="reserved"></div>
		 <div class="progress-bar progress-bar-danger" style="width: 40%" title="empty"></div>
	 </div>
 </div>
</div>