<div class="bo-simplestats">
 <div class="bo-simplestats-labels">
	 <span class="bo-simplestats-triangle glyphicon glyphicon-triangle-bottom text-danger"></span>&nbsp;<span class="bo-simplestats-label text-success">{{currentEvent.statistics.soldTickets || 0}}</span>&nbsp;/&nbsp;<span class="bo-simplestats-label text-warning">{{currentEvent.statistics.bookedTickets || 0}}</span>&nbsp;/&nbsp;<span class="bo-simplestats-label text-danger">{{currentEvent.statistics.availableTickets || 0}}</span>
 </div>
 <div class="clearfix">
	 <div class="bo-simplestats-pct">{{currentEvent.statistics.soldPercent || 0}}%</div><!--
	 --><div class="bo-simplestats-bar progress">
		 <div class="progress-bar progress-bar-success" style="width: {{currentEvent.statistics.soldPercent}}%" title="sold"></div>
		 <div class="progress-bar progress-bar-warning" style="width: {{currentEvent.statistics.bookedPercent}}%" title="reserved"></div>
		 <div class="progress-bar progress-bar-danger" style="width: {{currentEvent.statistics.availablePercent}}%" title="empty"></div>
	 </div>
 </div>
</div>