<div class="bo-pills-block" ng-if="authenticated">
    <div class="container">
        <div class="row bo-sub-menu">
            <div class="hidden-xs col-sm-12">
                <ul class="nav nav-pills">
                    <li role="presentation" class="active" ng-if="hasFullAccess('api_reports_sub_prmtr_db')"><a href="#/dashboard">{{'api_myevents'|translate }}</a></li>
                    <li role="presentation" ng-if="hasFullAccess('api_reports_sub_advertisement')"><a href="#/advertisement">{{'api_advertisement'|translate }}</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>