	<div class="row sub_menu" ng-if="authenticated">
        <div class="hidden-xs col-sm-12">
            <ul class="nav nav-pills">
                <li role="presentation" class="active"><a href>{{'api_myevents'|translate }}</a></li>
                <li role="presentation"><a href>{{'api_advertisment'|translate }}</a></li>
                <li role="presentation"><a href>{{'bo_hall012'|translate }}</a></li>
                <li role="presentation"><a href>{{'api_news'|translate }}</a></li>
            </ul>
        </div>
    </div>
