<div class="bo-pills-block" ng-if="authenticated">
    <div class="container">
        <div class="row bo-sub-menu">
            <div class="hidden-xs col-sm-12">
                <ul class="nav nav-pills">
                    <li role="presentation" class="active"><a href="#/dashboard">{{'api_myevents'|translate }}</a></li>
                    <li role="presentation"><a href="#/advirtisment">{{'api_advertisment'|translate }}</a></li>
                    <li role="presentation"><a href="#/venueplan">{{'bo_hall012'|translate }}</a></li>
                    <li role="presentation"><a href="#/news">{{'api_news'|translate }}</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>