<nav class="bo-navbar navbar navbar-default"
	 ng-style="{'background-color': pointMenuBackgroundColor,'border-color': pointMenuGamma ? pointMenuGammaAccent:'#ffffff'}"
	 ng-class="{'bo-navbar-inverse': pointMenuGamma}">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-menu" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<i class="fa fa-bars fa-lg" aria-hidden="true"></i>
			</button>
			<a class="navbar-brand bo-navbar-logo" href="#/dashboard"><img src="{{pointMenuLogo}}" /></a>
		</div>
		<div class="bo-additional-nav navbar-right">
			<ul class="nav navbar-nav navbar-right">
				<li class="bo-dropdown dropdown" ng-if="authenticated && user.salesPoints[1]" ng-include="'views/common/sales_points.html'"></li>
				<li ng-if="authenticated && !user.salesPoints[1]">
					<a class="bo-not-linked"><span class="hidden-sm">{{getPointName()}}</span></a>
				</li>
				<li ng-if="authenticated && hasFullAccess('api_header_messages')">
					<a href><i class="fa fa-envelope" aria-hidden="true"></i></a>
				</li>
				<li class="bo-dropdown dropdown" ng-if="authenticated" ng-include="'views/common/user_menu.html'"></li>
				<li class="bo-dropdown dropdown" ng-include="'views/common/languages.html'"></li>
			</ul>
		</div>
		<div class="collapse navbar-collapse navbar-left" id="navbar-menu">
			<ul class="nav navbar-nav" ng-if="authenticated">
				<li ng-if="hasFullAccess('api_salespoint')">
					<a href>
						<i class="fa fa-ticket" aria-hidden="true"></i>
						<span>{{'bo_elem040'|translate}}</span>
					</a>
				</li>
				<li ng-if="hasFullAccess('api_bo')">
					<a href>
						<i class="fa fa-briefcase" aria-hidden="true"></i>
						<span>{{'meny_02'|translate}}</span>
					</a>
				</li>
				<li ng-if="hasFullAccess('api_administration')">
					<a href>
						<i class="fa fa-cogs" aria-hidden="true"></i>
						<span>{{'meny_03'|translate}}</span>
					</a>
				</li>
				<li ng-if="hasFullAccess('api_reports')" class="active">
					<a href="#/dashboard/" ng-style="{'background-color': pointMenuGamma ? pointMenuGammaAccent:'#ffffff'}">
						<i class="fa fa-bar-chart" aria-hidden="true"></i>
						<span>{{'meny_05'|translate}}</span>
					</a>
				</li>
			</ul>
		</div>
	</div>
</nav>
