<a href class="dropdown-toggle bo-user-dropdown" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
	<i class="fa fa-user" aria-hidden="true"></i>
	<span class="bo-user"><span class="bo-user-name">{{user.name}}</span><br />{{user.organization}}</span><span class="caret"></span></a>
<ul class="dropdown-menu">
	<li><a href>Action</a></li>
	<li><a href>Another action</a></li>
	<li><a href ng-click="toChangePassword();">{{"api_menu_change_password"|translate}}</a></li>
	<li role="separator" class="divider"></li>
	<li><a href ng-click="logout();">{{"pood_002"|translate}} &nbsp;<i class="fa fa-sign-out"></i></a></li>
	<li><a href ng-click="toOldBO();">{{"api_menu_to_old_bo"|translate}}</a></li>
</ul>