<div>
    <div class="clearfix" style="margin-bottom: 5px">
        <div ng-if="transactionItem.invoiceStatus" class="bo-label label-{{transactionItem.labelStyle}} pull-right">
            <span>{{transactionItem.statusLabel|translate}}</span>
        </div>
        <div class="bo-checkbox bo-checkbox-nolabel bo-checkbox-sub">
            <input type="checkbox" id="transactionCheck{{transactionItem.transactionId}}">
            <label for="transactionCheck{{transactionItem.transactionId}}"></label>
        </div>
    </div>
    <div class="bo-panel-table">
        <div class="bo-panel-table-cell-4 bo-info">
            <div>
                <span><i class="fa fa-calendar" aria-hidden="true"></i>&nbsp;{{transactionItem.dateString}}</span>
                <span><i class="fa fa-clock-o" aria-hidden="true"></i>&nbsp;{{transactionItem.timeString}}</span>
            </div>
            <div ng-if="transactionItem.salespoint">
                <span><i class="fa fa-ticket" aria-hidden="true"></i>&nbsp;{{transactionItem.salespoint}}</span>
            </div>
            <div ng-if="transactionItem.buyer">
                <span><i class="fa fa-user-plus" aria-hidden="true"></i>&nbsp;{{transactionItem.buyer}}</span>
            </div>
        </div>
        <div class="bo-panel-table-cell-4 clearfix">
            <div ng-if="transactionItem.amount > 0">
                <div class="bo-table bo-table-plain pull-right text-right" style="margin-bottom:0;min-width:200px">
                    <div class="bo-table-body">
                        <div class="row bo-table-row bo-table-subtitle"> <!-- totals -->
                            <div class="col-xs-4 bo-table-cell">{{transactionItem.amount}}</div>
                            <div class="col-xs-8 bo-table-cell">
                                {{transactionItem.total|number:2}}
                                {{transactionItem.currency}}
                            </div>
                        </div>
                        <div class="row bo-table-row" ng-repeat="transactionPrice in transactionItem.prices">
                            <div class="col-xs-4 bo-table-cell">{{transactionPrice.amount}}</div>
                            <div class="col-xs-8 bo-table-cell">
                                {{transactionPrice.price|number:2}}
                                {{transactionItem.currency}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bo-button bo-button-sub" ng-click="vm.setCurrentTransaction(transactionItem)">
        <div class="btn btn-primary" data-target="#transactionModal" data-toggle="modal"><span><i class="fa fa-pencil" aria-hidden="true"></i></span></div>
    </div>
</div>