<div class="modal bo-modal" id="transactionModal" role="dialog" style="display:none;">
    <div class="modal-dialog" role="document">
        <div class="modal-content" block-ui block-ui-pattern="/invoiceInfo/">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="vm.removeCurrentTransaction()">
                    <i class="fa fa-times" aria-hidden="true"></i>
                </button>
                <div class="bo-title">
                    {{vm.view.currentTransaction.transactionId}}&nbsp;/
                    {{vm.view.currentEvent.name}}&nbsp;-
                    {{vm.view.currentTransaction.dateString}}
                    {{vm.view.currentTransaction.timeString}}
                </div>
            </div>
            <div class="modal-body" ng-if="vm.view.currentTransaction.info" block-ui block-ui-pattern="/invoiceSave/">
                <div class="row">
                    <div class="col-md-6">
                        <div class="bo-alert alert" role="alert"
                             ng-if="vm.view.currentTransaction.saveAlert"
                             ng-class="{'alert-success':vm.view.currentTransaction.saveMessage == 'success','alert-danger':vm.view.currentTransaction.saveMessage != 'success'}">
                            <span>{{vm.view.currentTransaction.saveMessage == 'success' ? 'api_saveSuccess':'api_saveFail'|translate}}</span>
                        </div>
                        <br ng-if="vm.view.currentTransaction.saveAlert">
                        <div class="bo-alert alert" role="alert"
                             ng-if="vm.view.currentTransaction.deleteAlert"
                             ng-class="{'alert-success':vm.view.currentTransaction.deleteMessage == 'success','alert-danger':vm.view.currentTransaction.deleteMessage != 'success'}">
                            <span>{{vm.view.currentTransaction.deleteMessage == 'success' ? 'api_deleteSuccess':'api_deleteFail'|translate}}</span>
                        </div>
                        <br ng-if="vm.view.currentTransaction.deleteAlert">
                        <div class="bo-table bo-table-bordered">
                            <div class="bo-table-body">
                                <div class="row bo-table-row" ng-if="vm.view.currentTransaction.info.invoiceDate > 0">
                                    <div class="col-xs-6 bo-table-cell ng-binding">{{'api_invoice_date'|translate}}</div>
                                    <div class="col-xs-6 bo-table-cell text-right ng-binding">{{vm.view.currentTransaction.info.dateString}}</div>
                                </div>
                                <div class="row bo-table-row" ng-if="vm.view.currentTransaction.info.orderNumber > 0">
                                    <div class="col-xs-6 bo-table-cell ng-binding">{{'api_invoice_referenceNr'|translate}}</div>
                                    <div class="col-xs-6 bo-table-cell text-right ng-binding">{{vm.view.currentTransaction.info.orderNumber}}</div>
                                </div>
                            </div>
                        </div>
                        <hr/>
                        <div class="form-group">
                            <div class="bo-input bo-input-sub" id="invoiceForm-buyer">
                                <input type="text" class="form-control" placeholder="{{'api_invoice_buyerName'|translate}}"
                                       ng-model="vm.view.currentTransaction.info.buyerName" name="buyerName">
                                <i class="fa fa-user-plus" aria-hidden="true"></i>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="bo-input bo-input-sub" id="invoiceForm-buyerEmail">
                                <input type="text" class="form-control" placeholder="{{'api_invoice_buyerEmail'|translate}}"
                                       ng-model="vm.view.currentTransaction.info.email" name="buyerEmail">
                                <i class="fa fa-envelope" aria-hidden="true"></i>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="bo-input bo-input-sub" id="invoiceForm-address">
                                <input type="text" class="form-control" placeholder="{{'api_reservation_meta_address'|translate}}"
                                       ng-model="vm.view.currentTransaction.info.address" name="address">
                                <i class="fa fa-home" aria-hidden="true"></i>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="bo-input bo-input-sub" id="invoiceForm-companyCode">
                                <input type="text" class="form-control" placeholder="{{'api_meta_organization_reg'|translate}}"
                                       ng-model="vm.view.currentTransaction.info.companyCode" name="companyCode">
                                <i class="fa fa-industry" aria-hidden="true"></i>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="bo-input bo-input-sub" id="invoiceForm-vatCode">
                                <input type="text" class="form-control" placeholder="{{'api_invoice_VATCode'|translate}}"
                                       ng-model="vm.view.currentTransaction.info.vatCode" name="vatCode">
                                <i class="fa fa-percent" aria-hidden="true"></i>
                            </div>
                        </div>
                        <div class="form-group bo-input bo-input-sub" id="invoiceForm-additionalInfo">
                            <textarea rows="3" class="bo-textarea form-control" placeholder="{{'api_meta_additionalInfo'|translate}}"
                                      ng-model="vm.view.currentTransaction.info.additionalInfo" name="additionalInfo"></textarea>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div ng-if="vm.view.currentTransaction.info.products">
                            <div class="bo-table bo-table-bordered">
                                <div class="bo-table-body">
                                    <div class="row bo-table-row bo-table-header" ng-if="vm.view.currentTransaction.info.products.event">
                                        <div class="col-xs-9 bo-table-cell">{{'api_tickets'|translate}}</div>
                                        <div class="col-xs-3 bo-table-cell">{{'api_price'|translate}}</div>
                                    </div>
                                    <div class="row bo-table-row" ng-repeat="ticketItem in vm.view.currentTransaction.info.products.event">
                                        <div class="col-xs-9 bo-table-cell">{{ticketItem.productName}}</div>
                                        <div class="col-xs-3 bo-table-cell">
                                            {{ticketItem.price|number:2}}
                                            {{vm.view.currentTransaction.currency}}
                                        </div>
                                    </div>
                                    <div class="row bo-table-row bo-table-header" ng-if="vm.view.currentTransaction.info.products.feeItems">
                                        <div class="col-xs-6 bo-table-cell">{{'api_additionalFees'|translate}}</div>
                                        <div class="col-xs-3 bo-table-cell">{{'api_amount'|translate}}</div>
                                        <div class="col-xs-3 bo-table-cell">{{'api_price'|translate}}</div>
                                    </div>
                                    <div class="row bo-table-row" ng-repeat="feeItem in vm.view.currentTransaction.info.products.feeItems">
                                        <div class="col-xs-6 bo-table-cell">{{feeItem.itemName}}</div>
                                        <div class="col-xs-3 bo-table-cell">{{feeItem.amount}}</div>
                                        <div class="col-xs-3 bo-table-cell">
                                            {{feeItem.priceTotal|number:2}}
                                            {{vm.view.currentTransaction.currency}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="bo-table bo-table-bordered">
                                <div class="bo-table-body">
                                    <div class="row bo-table-row bo-table-header" ng-if="vm.view.currentTransaction.info.products.extraItems">
                                        <div class="col-xs-6 bo-table-cell">{{'api_serviceFees'|translate}}</div>
                                        <div class="col-xs-3 bo-table-cell">{{'api_amount'|translate}}</div>
                                        <div class="col-xs-3 bo-table-cell">{{'api_price'|translate}}</div>
                                    </div>
                                    <div class="row bo-table-row" ng-repeat="extraItem in vm.view.currentTransaction.info.products.extraItems">
                                        <div class="col-xs-6 bo-table-cell">{{extraItem.itemName}}</div>
                                        <div class="col-xs-3 bo-table-cell">{{extraItem.amount}}</div>
                                        <div class="col-xs-3 bo-table-cell">
                                            {{extraItem.priceTotal|number:2}}
                                            {{vm.view.currentTransaction.currency}}
                                        </div>
                                    </div>
                                    <div class="row bo-table-row bo-table-header" ng-if="vm.view.currentTransaction.info.products.deliveryItems">
                                        <div class="col-xs-6 bo-table-cell">{{'api_deliveryFees'|translate}}</div>
                                        <div class="col-xs-3 bo-table-cell">{{'api_amount'|translate}}</div>
                                        <div class="col-xs-3 bo-table-cell">{{'api_price'|translate}}</div>
                                    </div>
                                    <div class="row bo-table-row" ng-repeat="deliveryItem in vm.view.currentTransaction.info.products.deliveryItems">
                                        <div class="col-xs-6 bo-table-cell">{{deliveryItem.itemName}}</div>
                                        <div class="col-xs-3 bo-table-cell">{{deliveryItem.amount}}</div>
                                        <div class="col-xs-3 bo-table-cell">
                                            {{deliveryItem.priceTotal|number:2}}
                                            {{vm.view.currentTransaction.currency}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="bo-table bo-table-bordered">
                                <div class="bo-table-body">
                                    <div class="row bo-table-row bo-table-header">
                                        <div class="col-xs-9 bo-table-cell">{{'api_total'|translate}}</div>
                                        <div class="col-xs-3 bo-table-cell">
                                            {{vm.view.currentTransaction.info.transactionTotal|number:2}}
                                            {{vm.view.currentTransaction.currency}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="bo-button bo-button-sub">
                    <div class="btn btn-danger"  ng-if="vm.view.currentTransaction.info.invoiceInfoId" ng-click="vm.deleteInvoiceInfo(vm.view.currentTransaction)">
                        <span>{{'api_delete'|translate}}</span>
                    </div>
                </div>
                <div class="bo-button bo-button-sub" ng-if="vm.view.currentTransaction.invoiceStatus != 'deleted'">
                    <div class="btn btn-success" ng-if="vm.view.currentTransaction.info.invoiceInfoId" ng-click="vm.sendInvoiceEmail(vm.view.currentTransaction)" >
                        <span>{{'api_send'|translate}}</span>
                    </div>
                </div>
                <div class="bo-button bo-button-sub" ng-click="vm.saveTransactionInfo(vm.view.currentTransaction)">
                    <div class="btn btn-primary">
                        <span>{{'api_save'|translate}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>