<div ng-click="vm.goToEventTransactions(event)">
    <div class="clearfix">
        <div class="bo-label label-primary pull-right">
            <span>{{event.transactionCount > 0 ? event.transactionCount:0}}</span>
        </div>
        <span class="bo-title">{{event.name}}</span>
    </div>
    <div class="bo-panel-table">
        <div class="bo-panel-table-cell-4 bo-info">
            <div ng-if="!event.isSamePeriod">
                <span><i class="fa fa-calendar" aria-hidden="true"></i>&nbsp;{{event.eventPeriod.start | date:'dd.MM.yyyy'}} - {{event.eventPeriod.end | date:'dd.MM.yyyy'}}</span>
            </div>
            <div ng-if="event.isSamePeriod">
                <span><i class="fa fa-calendar" aria-hidden="true"></i>&nbsp;{{event.eventPeriod.start | date:'dd.MM.yyyy'}}</span>
                <span><i class="fa fa-clock-o" aria-hidden="true"></i>&nbsp;{{event.eventPeriod.start | date:'HH:mm'}}</span>
            </div>
        </div>
        <div class="bo-panel-table-cell-8 bo-info clearfix">
            <div ng-if="event.promoter">
                <span><i class="fa fa-bullhorn" aria-hidden="true"></i>&nbsp;{{event.promoter.name}}</span>
            </div>
        </div>
    </div>
</div>