<div class="col-xs-12 col-md-9">
    <div id="boInvoiceTransactionsWrapper" ng-if="true"> <!-- if Transactions view -->
        <div> <!-- Repeat Transactions -->
            <div class="panel panel-default">
                <div class="bo-panel">
                    <div class="panel-body bo-panel-invoice" ng-include-template="invoices/components/invoice_transaction.html"
                         ng-include-variables="{id:1}"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-3 bo-sidebar">
    <div class="panel affix panel-default">
        <div class="bo-panel">
            <div class="panel-heading clearfix">
                <div class="bo-badge bo-label label-primary">{{vm.currentEvent.transactionCount > 0 ? vm.currentEvent.transactionCount:0}}</div>
                <span>{{vm.currentEvent.name}}</span>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-12 col-md-12">
                        <div class="input-group bo-input bo-input-sub bo-daterangepicker" data-control="daterangepicker">
                            <input type="text" class="form-control" daterangepicker-neutral-timezone
                                   ng-model="vm.filter.period"
                                   ng-attr-data-default-start-date="{{vm.defaultStartDate}}"
                                   ng-attr-data-default-end-date="{{vm.defaultEndDate}}"
                                   ng-attr-data-min-date="{{vm.minFilterDate}}"
                                   ng-attr-data-max-date="{{vm.maxFilterDate}}" daterangepicker disabled/>
                            <div class="bo-button input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <span><i class="fa fa-calendar" aria-hidden="true"></i></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-md-12 text-right">
                        <div class="bo-button bo-button-sub">
                            <div class="btn btn-primary"><span>Search<i class="fa fa-search" aria-hidden="true"></i></span></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-md-12 text-right">
                        <div class="bo-button bo-button-sub">
                            <div class="btn btn-info"><span>Generate<i class="fa fa-clone" aria-hidden="true"></i></span></div>
                        </div>
                        <div class="bo-button bo-button-sub">
                            <div class="btn btn-success"><span>Send<i class="fa fa-mail-forward" aria-hidden="true"></i></span></div>
                        </div>
                    </div>
                </div>
                <div class="bo-content-reverse text-center">
                    <div ng-if="true">
                        <span><i class="fa fa-bullhorn" aria-hidden="true"></i>&nbsp;Promoter Info</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-md-12 text-right">
                        <div class="bo-button bo-button-sub" ng-click="vm.goToEvents()">
                            <div class="btn btn-default"><span>Back<i class="fa fa-undo" aria-hidden="true"></i></span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>