<div class="col-xs-12 col-md-9">
    <div id="boInvoiceEventsWrapper"> <!-- if Event view -->
        <div id="scrollBlock" infinite-scroll="vm.getMoreEvents()" infinite-scroll-disabled="vm.filter.loadingItems">
            <div ng-repeat="eventItem in vm.myEvents">
                <div class="panel panel-default">
                    <div class="bo-panel bo-panel-linked">
                        <div class="panel-body bo-panel-invoice" ng-include-template="invoices/components/invoice_event.html"
                             ng-include-variables="{event:eventItem, vm:vm, user:user}"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-3 bo-sidebar">
    <div class="panel affix panel-default">
        <div class="bo-panel">
            <div class="panel-heading clearfix">
                <div class="bo-badge bo-label label-primary">{{vm.eventsCount}}</div>
                <span>Events with Invoices</span>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-12 col-md-12">
                        <div class="input-group bo-input bo-input-sub bo-daterangepicker" data-control="daterangepicker">
                            <input type="text" class="form-control" daterangepicker-neutral-timezone
                                   ng-model="vm.filter.period"
                                   ng-attr-data-default-start-date="{{vm.defaultStartDate}}"
                                   ng-attr-data-default-end-date="{{vm.defaultEndDate}}"
                                   ng-attr-data-min-date="{{vm.minFilterDate}}"
                                   ng-attr-data-max-date="{{vm.maxFilterDate}}" daterangepicker disabled/>
                            <div class="bo-button input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <span><i class="fa fa-calendar" aria-hidden="true"></i></span>
                                </button>
                            </div>
                        </div>
                        <div class="form-group bo-input bo-input-sub">
                            <input type="text" class="form-control" placeholder="Promoter ID">
                        </div>
                        <div class="input-group bo-input bo-input-sub">
                            <input type="text" class="form-control" placeholder="{{'api_search_box_title'|translate}}"
                                   ng-model="vm.filter.name" key-bind="{enter:'vm.search()'}">
                            <div class="bo-button input-group-btn">
                                <button class="btn btn-default" type="button" ng-click="vm.search()">
                                    <span><i class="fa fa-{{vm.reset_search ? 'close' : 'search'}}" aria-hidden="true"></i></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>