<h3>Reservations:</h3>
<div class="form-inline bo-form-inline">
	<div class="form-group">
		<div class="input-group data_range">
			<button class="btn btn-default bo-datarangepicker-button" type="button" data-control="daterangepicker">
				<input type="text" daterangepicker class="form-control"
					   ng-model="vm.filterPeriod" daterangepicker-neutral-timezone
					   ng-attr-data-min-date="{{vm.minFilterDate}}"
					   ng-attr-data-max-date="{{vm.maxFilterDate}}" disabled/>
				<i class="fa fa-calendar" aria-hidden="true"></i>
			</button>
		</div>
	</div>
	<div class="form-group has-feedback">
		<input type="text" class="form-control" value="" placeholder="Client" />
		<i class="fa fa-search form-control-feedback"></i>
	</div>
	<div class="form-group has-feedback">
		<input type="text" class="form-control" value="" placeholder="Reservation #" />
		<i class="fa fa-search form-control-feedback"></i>
	</div>
	<div class="form-group">
		<div class="dropdown">
			<button class="btn dropdown-toggle form-control" data-toggle="dropdown" aria-haspopup="true"
					aria-expanded="true">All types
				<span class="caret"></span>
			</button>
			<ul class="dropdown-menu">
				<li>
					<a href="">some data</a>
				</li>
			</ul>
		</div>
	</div>
	<div class="form-group">
		<div class="dropdown">
			<button class="btn dropdown-toggle form-control" data-toggle="dropdown" aria-haspopup="true"
					aria-expanded="true">Only active
				<span class="caret"></span>
			</button>
			<ul class="dropdown-menu">
				<li>
					<a href="">some data</a>
				</li>
			</ul>
		</div>
	</div>
</div>
<table class="table table-small bo-tabledrop-table">
	<thead>
		<tr>
			<td>Reservation #</td>
			<td>Reserved for</td>
			<td>Invoice #</td>
			<td>Tickets</td>
			<td>Seats</td>
			<td>Amount</td>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>1990270003 Reserved: 07.03.2017 Due date: 07.04.2017</td>
			<td>Name Lastname
				email@domain.com
				Company</td>
			<td>6395328
				Payment: cash
				Paid: No</td>
			<td>5</td>
			<td>Parter R: 10 S: 10-16
				R: 11 S: 1, 2, 5-9
				Section 101
				R: 15 S: 1, 2, 5, 9</td>
			<td>2300</td>
		</tr>
	</tbody>
	<tbody class="collapsed" data-toggle="collapse" data-target="#slave">
		<tr class="bo-tabledrop-master">
			<td>
				1990270003 Reserved: 07.03.2017 Due date: 07.04.2017
			</td>
			<td>
				Name Lastname
				email@domain.com
				Company
			</td>
			<td>
				6395328
				Payment: cash
				Paid: No
			</td>
			<td>
				5
			</td>
			<td>
				Parter R: 10 S: 10-16
				R: 11 S: 1, 2, 5-9
				Section 101
				R: 15 S: 1, 2, 5, 9
			</td>
			<td>
				2300
			</td>
		</tr>
		<tr id="slave" class="bo-tabledrop row-align-middle collapse">
			<td>
				
				Reserved by:
					Name Lastname
					Piletilevi AS
			</td>
			<td>
				
				Name Lastname
				email@domain.com
				Company</td>
			<td colspan="4">
				
				<div class="bo-tabledrop-notes">
					<div class="bo-tabledrop-notes-item">
						notes: blblbbla
					</div>
					<div class="bo-tabledrop-notes-item">
						<button class="btn btn-sm btn-warning" data-toggle="collapse" data-target="#slave">Cancel &nbsp;&nbsp;&nbsp;<i class="fa fa-times"></i></button>
					</div>
				</div>
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>1990270003 Reserved: 07.03.2017 Due date: 07.04.2017</td>
			<td>Name Lastname
				email@domain.com
				Company</td>
			<td>6395328
				Payment: cash
				Paid: No</td>
			<td>5</td>
			<td>Parter R: 10 S: 10-16
				R: 11 S: 1, 2, 5-9
				Section 101
				R: 15 S: 1, 2, 5, 9</td>
			<td>2300</td>
		</tr>
	</tbody>


</table>