<div class="row">
	<div class="col-md-6">

	</div>
	<div class="col-md-6 text-right">
		<div class="bo-tabs-controls-short bo-reservation-controls">
			<div class="form-inline">
				<div class="form-group">
					<button class="btn btn-warning" type="button">
						Exit reservation mode&nbsp;&nbsp;
						<i class="fa fa-times" aria-hidden="true"></i>
					</button>
				</div>
			</div>
		</div>
	</div>
</div>
<h4>Selected seats:</h4>
<table class="table">
	<tbody>
	<tr class="row-align-middle">
		<td>ID 1234567</td>
		<td class="text-center">Section 101</td>
		<td class="text-center">Row 1</td>
		<td class="text-center">Seat 101</td>
		<td class="text-center">
			Selected pricetype
		</td>
		<td class="text-center">0.00€</td>
		<td class="text-center">
			<a class="text-danger" href=""><i class="fa fa-times"></i></a>
		</td>
	</tr>
	<tr class="row-align-middle">
		<td>ID 1234567</td>
		<td class="text-center">Section 101</td>
		<td class="text-center">Row 1</td>
		<td class="text-center">Seat 101</td>
		<td class="text-center">
			Selected pricetype
		</td>
		<td class="text-center">0.00€</td>
		<td class="text-center">
			<a class="text-danger" href=""><i class="fa fa-times"></i></a>
		</td>
	</tr>
	</tbody>
</table>

<div class="row">
	<div class="col-md-6">
		<div class="bo-reservation-selected-type">
			<h4 class="bo-first-heading">Reservation type: <span>With price</span></h4>
		</div>
		<div class="bo-reservation-selected-type">
			<h4>Reservation expires on: <span>20.12.2017 12:00</span></h4>
		</div>
	</div>
	<div class="col-md-6">
		<table class="table">
			<tbody>
			<tr>
				<td class="text-right">Amount:</td>
				<td class="text-center">3 ticket(s)</td>
			</tr>
			<tr>
				<td class="text-right">Subtotal:</td>
				<td class="text-center">300.10€</td>
			</tr>
			<tr>
				<td class="text-right">Discount:</td>
				<td class="text-center">
					50%
				</td>
			</tr>
			<tr>
				<td class="text-right">Fee:</td>
				<td class="text-center">0.50€</td>
			</tr>
			<tr>
				<td class="text-right">To pay:</td>
				<td class="text-center">250.10€</td>
			</tr>
			</tbody>
		</table>
	</div>
</div>
<h4 class="bo-first-heading">Make reservation for:</h4>
<div class="form-inline bo-reservation-inline-buttons">
	<div class="form-group">
		<button class="btn btn-default btn-lg" type="button">
			Private
		</button>
	</div>
	&nbsp;
	<div class="form-group">
		<button class="btn btn-primary btn-lg" type="button">
			Organization
		</button>
	</div>
</div>
<div class="row bo-reservation-form-block">
	<div class="col-md-6">
		<h4>Contact person:</h4>
		<div class="form-group">
			<input type="text" placeholder="First name*" class="form-control" />
		</div>
		<div class="form-group">
			<input type="text" placeholder="Last name*" class="form-control" />
		</div>
		<div class="form-group">
			<input type="text" placeholder="Email" class="form-control" />
		</div>
		<div class="row bo-reservation-phone">
			<div class="col-md-3 form-group">
				<div class="dropdown">
					<button class="btn form-control dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
							aria-expanded="true">+372
						<span class="caret"></span>
					</button>
					<ul class="dropdown-menu">
						<li>
							<a href="">some data</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="col-md-9 form-group">
				<input type="text" placeholder="Phoone number" class="form-control" />
			</div>
		</div>
	</div>
	<div class="col-md-6">
		<h4>Physical address (optional):</h4>
		<div class="form-group">
			<input type="text" placeholder="Address" class="form-control" />
		</div>
		<div class="form-group">
			<input type="text" placeholder="City/Town" class="form-control" />
		</div>
		<div class="form-group">
			<input type="text" placeholder="Postal code" class="form-control" />
		</div>
		<div class="form-group">
			<input type="text" placeholder="Country/Region" class="form-control" />
		</div>
		<div class="form-group">
			<div class="dropdown">
				<button class="btn form-control dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
						aria-expanded="true">Select country
					<span class="caret"></span>
				</button>
				<ul class="dropdown-menu">
					<li>
						<a href="">some country</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<div class="bo-reservation-form-block">
	<h4 class="bo-first-heading">Organisations information:</h4>
	<div class="row">
		<div class="col-md-6">
			<div class="form-group">
				<input type="text" placeholder="Organisations title*" class="form-control" />
			</div>
			<div class="form-group">
				<input type="text" placeholder="Registration number*" class="form-control" />
			</div>
			<div class="form-group">
				<input type="text" placeholder="VAT number" class="form-control" />
			</div>
		</div>
		<div class="col-md-6">
			<div class="form-group">
				<div class="form-group">
					<textarea class="form-control" placeholder="internal notes"></textarea>
				</div>
			</div>
		</div>
	</div>
</div>
<h4 class="bo-first-heading">Email content:</h4>
<div class="form-horizontal">
	<div class="form-group">
		<label class="col-sm-2 control-label bo-control-label">Subject:</label>
		<div class="col-md-10">
			<input type="text" class="form-control" />
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label bo-control-label">Email text:</label>
		<div class="col-md-10">
			<textarea class="form-control"></textarea>
		</div>
	</div>
</div>
<div class="bo-reservation-footer-butons">
	<div class="row">
		<div class="col-md-6 text-left">
			<button class="btn btn-default">Edit ticket</button>
		</div>
		<div class="col-md-6 text-right">
			<button class="btn btn-info">Reserve</button>
		</div>
	</div>
</div>