<tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
</tr>
<tr>
    <td>{{'api_print_generator'|translate}}: {{user.name}}</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
</tr>
<tr>
    <td>{{'api_print_generated_by'|translate}}: {{user.organization}}</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
</tr>
<tr>
    <td>{{'api_print_center'|translate}}: {{getPointName()}}</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
</tr>
<tr>
    <td>{{'api_print_date_time'|translate}}: {{vm.getDatetime | date:'dd.MM.yyyy HH:mm'}}</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
</tr>